    <%= render partial: 'partials/public/fix_menu' %>
  

                <div class="nav-header de researcher ">



                    <h5>پیام</h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                    <li><a href="sass.html">فرهنگ و هنز</a></li>
                    <li><a href="badges.html">الکترونیک</a></li>
                    <li><a href="collapsible.html">پوشاک</a></li>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





        <div class="inner">
            <div class="row">

                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionInboxCard">



                
                <h4>
                    <%= @ticket.title %>
                </h4>
                
                
<% @ticket.ticketmessages.each do |message| %>
                            <div class="row">
                                <div class="col s12 m12">
                                    <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                            <span class="card-title"><%= User.find(message.user_id).name %></span>
                                            <p>
                                             <%= message.message %>
                                                
                                                </p>
                                        </div>
                                        <div class="card-action">
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

<% end %>

              

<div class="row">
<%= form_for(:ticketmessage,url: save_conversation_public_ticket_path(id: @ticket.id),method: :POST,html:{class: 'col s12 SendMessageForm'}) do |f| %>
            
            

      
        
                        
                            
                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                          <%= f.text_area :message,required: 'required',id:"textarea1" ,class: "materialize-textarea"  %>
                                        <label for="textarea1">متن پیام</label>
                                    </div>
                                </div>


                                
                                <%= f.submit 'پاسخ',class: 'waves-effect waves-light btn' %>

                            <% end %>
                        </div>
                
                
            </div>








        </div>
        </div>
</div>




        
         <%= render partial: 'partials/public/footer' %>