    <style>
        th,tr,td{
            text-align:right;
            direction: rtl;
        }
    </style>
    <%= render partial: 'partials/public/fix_menu' %>
  
                <!-- Dropdown Structure -->


                <div class="nav-header de researcher ">



                    <h5>صندوق پیام</h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                    <li><a href="sass.html">فرهنگ و هنز</a></li>
                    <li><a href="badges.html">الکترونیک</a></li>
                    <li><a href="collapsible.html">پوشاک</a></li>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





        <div class="inner">
            <div class="row">


                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionInboxCard">


                        <div class="row right-align text-right">
                            <table class='striped highlight bordered'>
                                <thead>
                                <tr>
                                    <th>فرستنده</th>
                                    <th>موضوع</th>
                                    
                                </tr>
                                </thead>

                                <tbody>
                                    <% @tickets.each do |ticket| %>
                                <tr>
                                        <td><%= 
                                    if ticket.user_id == current_user.id
                                    User.find(ticket.user_two).name
                                    else
                                       User.find(ticket.user_id).name
                                    end
                                    %></td>
                                    <td><%= link_to ticket.title,conversation_public_ticket_path(ticket.id) %></td>
                                
                                </tr>
                                
                                <% end %>
                         
                                </tbody>
                            </table>


                        </div>



                    </div>
                </div>
            </div>








        </div>





        
         <%= render partial: 'partials/public/footer' %>