    <%= render partial: 'partials/public/fix_menu' %>

                
                
                


             <div class="nav-header de researcher ">



                    <h5>ارسال پیام</h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                    <li><a href="sass.html">فرهنگ و هنز</a></li>
                    <li><a href="badges.html">الکترونیک</a></li>
                    <li><a href="collapsible.html">پوشاک</a></li>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





        <div class="inner">
            <div class="row">


                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionRegisterCard">


                        <div class="row">
                            
                                
                            <% if @ticket.errors.full_messages.any? %>
                              <% @ticket.errors.full_messages.each do |error_message| %>
                                <% content_for :head do %>
                                  <%= toast(error_message,4000,['red']) %>
                                <% end %>
                              <% end %>
                            <% end %>

<%= form_for(@ticket,url: public_tickets_path,method: :POST,html:{id: 'ExpositionRegisterForm',class: 'col s12 right-align'}) do |f| %>
                                
<%= f.hidden_field :user_two , value: params[:id] %>

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :title,id: 'LFNAME' %>
                                        <label for="LFNAME">عنوان پیام</label>
                                    </div>
                                </div>

                <%= f.fields_for :ticketmessages,@ticket.ticketmessages.new() do |r| %>
                  
                      <div class="row">
        <div class="input-field col s12">
          
          <%= r.text_area :message ,class: "materialize-textarea" %>
          <%= r.label :message, 'محتوا' %>
        </div>
        
      </div>
                  
                  
                  <%= r.hidden_field :user_id,value: current_user.id %>


                  <!--<div class="field">
                    <%# r.file_field :file,multiple: false,accept: '.zip,.rar,.pdf,.jpeg,.jpg,.bmp,.docx,.png,.doc,.xls,.xlsx,.ppt,.ppts,.txt' %>
                 </div>-->

              <% end %>
            
            


                                <div class="row">
                                
                                <%= f.submit 'ارسال',class: 'waves-effect waves-light btn col s12'%>
                                </div>


                            <% end %>
                        </div>



                    </div>
                </div>
            </div>








        </div>
        
         <%= render partial: 'partials/public/footer' %>