

<%# content_for :head do %>
  
  
<%# end %>
<main>

    <div class="row">
         <div class="col s12 m12">
             
           <div class="card-panel white">
   
           <table class='striped highlight bordered'>
               <thead>
                 <tr>
                     <th>ویرایش</th>
                    <th>
                        قیمت فروش
                    </th>

     <th>نام فایل</th>
                 </tr>
               </thead>
       
               <tbody>
               <% @files.each do |file| %>
                 <tr>
                   <td>
                     <%= link_to(raw('<i class="material-icons">delete_forever</i>'),delete_admin_seller_file_path(file.id),class: 'small btn-floating waves-effect btn-small waves-light red', :data => {:confirm => t('alert.are_you_sure_delete')}) %>
                     <%= link_to(raw('<i class="material-icons">mode_edit</i>'),edit_admin_seller_file_path(file.id),class: 'small btn-floating waves-effect btn-small waves-light blue') %>
                     
                     <%= link_to(raw("<i class='material-icons'>#{file.accept? ? 'lock_outline':'lock_open'}</i>"),toggle_lock_admin_file_path(file.id),class: 'small btn-floating waves-effect btn-small waves-light green') if current_user.level==3 %>
                     
                     <%= link_to(raw("<i class='material-icons'>cast</i>"),file_show_path(file.id),target: '_blank',class: 'small btn-floating waves-effect btn-small waves-light purple') %>
                   </td>
<td>
        
        <span style="float:right">
    <%= file.price if file.off_price.nil? %>
    <%= file.off_price if file.off_price %>
</span>
<span style="float:right;">هزار تومان</span>
</td>
                   <td><%= file.name %></td>
                 </tr>
               <% end %>
               </tbody>
             </table>
           </div>
         </div>
    </div>
    <%= link_to(raw('<i class="material-icons">add</i>'),new_admin_seller_file_path,class: 'btn-floating btn-large waves-effect waves-light red',style: 'position:fixed;bottom: 20px; left: 24px;') %>
   </main>