
<main>

    <div class="row">
         <div class="col s12 m12">
             
           <div class="card-panel white">
           
           
           
           
           
    <div class="row">
       <% if @file.errors.full_messages.any? %>
         <% @file.errors.full_messages.each do |error_message| %>
           <% content_for :head do %>
             <%= toast(error_message,4000,['red']) %>
           <% end %>
         <% end %>
       <% end %>
   
       <%= form_for @file ,url: admin_seller_files_path,html: {class: 'col s12',multipart: true},method: :POST do |f| %>
          <!-- <div class="row">
   
           f.select(:category_id, Category.where(parent_id: current_user.category_id).collect {|cat|  [cat.name,cat.id]  },{prompt: 'رسته مورد نظر را انتخاب کنید' ,required: 'required'},{ required: "required",class: 'browser-default form_category'}) %> 
         </div> -->
         <div class="row">
   
   
   
           <div class="input-field col s12">
             <%= f.text_field :name,class: 'validate', required: "required" %>
             <%= f.label :name, 'نام فایل' ,:'data-error' => "wrong", 'data-success'=> "" %>
           </div>
           

                                   
                                   
           
           <div class="input-field col s12">
             <%= f.text_field :price,class: 'validate', required: "required" %>
             <%= f.label :price, 'قیمت' ,:'data-error' => "wrong", 'data-success'=> "" %>
           </div>
       
      
           
           <div class="input-field col s12">
             <%= f.text_field :off_price,class: 'validate' %>
             <%= f.label :off_price, 'قیمت تخفیف خورده' ,:'data-error' => "wrong", 'data-success'=> "" %>
           </div>  
           
               <div class="input-field col s12">
             <%= f.file_field :file,class: 'validate' %>
<label>
فایل
</label>
           </div>  
       <div class="row">
             <div class="input-field col s12">
   
                <%= f.text_area :detail ,id: "textarea1" ,class: "materialize-textarea" ,'data-length':"500" %>
               <label for="textarea1">توضیحات فایل</label>
             </div>
           </div>
        

   
         
         
        </div>
          
         <div class="row">
         
           <%= button_tag :type => 'submit', :class => "waves-effect waves-light btn" do %>
            <i class="material-icons left">cloud</i>ثبت
           <% end %>
       
   
         </div>
         
         
         
         
       <% end %>
     </div>
           
           
           
               
               
             
             
           </div>
         </div>
    </div>
   
   </main>
   