

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.input-field label:not(.label-icon).active {
    transform: translateY(-9px) scale(1) !important;
    transform-origin: 0 0;
}




@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



@font-face {
    font-family: 'Yekan';
    src: url('/fonts/Yekan-modified.eot');
    src: url('/fonts/Yekan-modified.eot?#iefix') format('embedded-opentype'),

    url('/fonts/Yekan-modified.woff') format('woff'),
    url('/fonts/Yekan-modified.ttf')  format('truetype');
}
body{
    font-family: 'Yekan', Arial, sans-serif;

}

/*body {*/
    /*background: #eeeff1;*/
    /*color: #4f4f4f;*/
    /*!*font-family: WYekan,BYekan,arial;*!*/
    /*font-size: 13px;*/
    /*direction: rtl;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/



nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}





            nav .nav-background {
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                opacity: .1;
            }

nav.nav-extended {
    height: auto;
}

nav {
    position: relative;
    top: 0;
    transition: background-color .3s, opacity .2s, visibility 0s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 10;
}


    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        line-height: 64px;
    }

    nav {
        color: #fff;
        background-color: #f7971f00;
        width: 100%;
        height: 56px;
        line-height: 56px;
    }
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.bt {
    float: right !important;
}
.bt li {
    float: right;
}

nav ul {
    margin: 0;
}

nav ul:not(.indicators) li.k {
    position: relative;
    background-color: transparent;
}

nav ul li.k {
    background-color: rgba(0,0,0,0.1);
}

ul:not(.browser-default) li {
    list-style-type: none;
}

nav ul li:not(.tab) {
    transition: background-color .3s;
    float: left;
    padding: 0;
}
.nav-header .carousel .carousel-item, nav .nav-header {
    word-break: break-word;
}

nav .nav-header {
    clear: both;
    padding: 40px 0;
}

.de, .center-align {
    text-align: center;
}

#fix-menu-bar{
background-color: #424242;
    position: fixed;
}


nav .material-icons{
    height: auto !important;
    line-height: inherit !important;
}

.page-footer{
    direction: rtl;
    padding-top: 0;
}

 .inner {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-newsletter{
    background-color: #34495e;
}
.footer-end{
background-color: #0d47a1;
}

.footer-link ul li{
    line-height: 29px !important;
}

.app-dl{
    font-size: smaller;
}

/*
* Social icons
*/

.google-plus{

    fill: white;
}
.twitter{
    fill: white;
}
.instagram{
    fill: white;
}
.facebook{
    fill: white;
}
.github{
    fill: white;
}

.apple-icon{
    fill: white;
}

.researcher .tab{
float: right;
}

.tab_content{
    background-color: white;
}

.researcher .input-field input{
    width:initial;
}


.product-divider{
    width: 100px;
    margin: auto;
}

#LR_modal *{
direction: rtl;
}



/* Custom modal */
.modal { width: 75% !important ; max-height: 100% !important}



.exposition-info{
    direction: rtl;
}

.exposition-logo{
    width: 110px;
    float: right;
}
.exposition-logo img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.exposition-info .detail{
    margin-right: 10px;
    float: right;
}

.exposition-info .phone{
    margin-top: 53px;
}
.exposition-info-card{
    min-height: 500px !important;

}

.researcher input{
    text-align: right;
}

.ExpositionRegisterCard *{
    direction: rtl !important;
}
.ExpositionRegisterCard label {
    right: 0;
}

 th, td{
text-align: right;
}

.SendMessageForm{
    direction: rtl;
    text-align: right;
}
.SendMessageForm label {
    right: .75rem;
}
.btn-preloader{
    width: 25px !important;
    height: 25px !important;
    margin-top: 5px !important;
}
.carousel .carousel-item>img {
    width: 150% !important;
}



.carousel .carousel-item img {
    width: 150%;
}

.material-placeholder img{
    height: 300px !important;
}
.dropdown-content li {
    text-align:right !important;
}
.nav-extended h6 {
  font-size: 1rem;
  line-height: 13% !important;
  margin: 0.5rem 0 0.4rem 0;
}

.btn-round{
    border-radius: 50px !important;
    -webkit-border-radius:50px !important;
    -moz-border-radius:50px !important;
}

.text-right{
    text-align:right !important;
}
.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0 !important;
    left: auto !important;
    max-width: 100%;
    padding: 24px;
}

i::-moz-selection { background: none;color: none; }
i::selection { background: none;color: none; }
.gray-text{
color: #757575 !important;    
}
.card .card-title{
    font-size: 19px !important;
}

#fix-menu-bar{
    z-index: 999999;
}

    
    .label {
 position: absolute;
 top: 10px;
 left: -14px;
 z-index: 1;
 display: inline-block;
 padding: 1px 20px 1px 24px;
 background: #F07D31 none repeat scroll 0% 0%;
 color: #FFF;
 
 text-transform: uppercase;
 letter-spacing: 0.015em;
 white-space: nowrap;
}
.label:before {
 display:inline-block;
 position:relative;
 margin-bottom:-17px;
 margin-left:-20px;
 content:"";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 10px 10px 0;
 border-color: transparent  #904610 transparent transparent;
}



.panel {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.panel {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.panel-warning {
    border-color: #faebcc;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


[class*="panel-"] > .panel-heading {
    color: rgba(255, 255, 255, 0.84);
    border: 0;
}
.panel-warning > .panel-heading {
    background-color: #ff5722;
}
.panel > .panel-heading, .panel-default > .panel-heading {
    background-color: #eeeeee;
}
[class*="panel-"] > .panel-heading {
    color: rgba(255, 255, 255, 0.84);
    border: 0;
}
.panel-warning > .panel-heading {
    background-color: #ff5722;
}
.panel > .panel-heading, .panel-default > .panel-heading {
    background-color: #eeeeee;
}
.panel-warning > .panel-heading {
    background-color: #ff5722;
}
.panel > .panel-heading, .panel-default > .panel-heading {
    background-color: #eeeeee;
}
.panel-warning > .panel-heading {
    background-color: #ff5722;
}
.panel > .panel-heading, .panel-default > .panel-heading {
    background-color: #eeeeee;
}
.panel-warning > .panel-heading {
    background-color: #ff5722;
}
.panel > .panel-heading, .panel-default > .panel-heading {
    background-color: #eeeeee;
}
.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 15px;
}


.panel *{
    text-align: right;
    direction: rtl;
}



.main_box {
    min-height: 290px;
    background-color: rgba(255,255,255,0.99);
    border-top: 1px solid #eaeaea;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    -webkit-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel_box .main_box {
    padding: 0;
    min-height: 40px;
}

.panel_content {
    overflow: hidden;
}

.user_profile_base {
    border-bottom: 1px solid rgba(240,240,240,0.99);
}

.user_profile_base h3 {
    font-weight: bold;
    color: rgba(0,154,193,0.99);
    font-size: 22px;
    margin-bottom: 20px;
}

.user_profile_base h3 b {
    color: rgba(137,199,50,0.99);
}

.user_profile_base span {
    font-weight: bold;
    color: rgba(33,33,33,0.79);
    font-size: 13px;
    margin-left: 15px;
    direction: ltr;
    display: block;
    line-height: 35px;
    text-align: right;
}

.user_profile_picture {
    display: block;
    width: 100% !important;
    max-width: 150px !important;
    height: 150px !important;
    line-height: 150px;
    margin: 20px auto 20px auto;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
    border: 0;
    color: #212121;
    font-size: 14px;
    background-color: #f9f9f9;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.user_profile_picture img {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}