    <%= render partial: 'partials/public/fix_menu' %>

                
                
                <div class="clear"></div>
<!-- / Nav -->    <!--wrapper-->
    <section id="wrapper">
    <div class="container">
        <div class="row">
                        <ol class="breadcrumb"><a href="https://pplaaza.com/takhfifat">خانه</a> &#47; حساب کاربری من</ol>            <div class="post-content">
                                        
                    <!--title & discount & views-->
                    <div class="title_post">
                        <span class="like"><i class="fa fa-dashboard"></i></span>
                        <h1>حساب کاربری من</h1>
                    </div>
                            <div class="woocommerce">



<div class="u-columns col2-set" id="customer_login">

	<div class="u-column1 col-1">


		<h2>ورود</h2>


<%= form_for(resource, as: resource_name,html: { class: "login"}, url: session_path(resource_name)) do |f| %>

<%- flash.each do |name, msg| -%>
  <% content_for :head do %>
  <%= toast(msg,5000,['red']) %>
  <% end %>
<%- end -%>
			


        <div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :login,value: 'ایمیل یا شماره موبایل' %><br />
    <%= f.text_field :login,class: "woocommerce-Input woocommerce-Input--text input-text", autofocus: true %>
  </div>
  


  <div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :password,value: 'رمز عبور' %><br />
    <%= f.password_field :password,class: "woocommerce-Input woocommerce-Input--text input-text", autocomplete: "off" %>
  </div>

			
  <% if devise_mapping.rememberable? -%>
    <div class="form-row">
         <%= f.label :remember_me,value: 'من را بخاطر بسپار' %>
        <%= f.check_box :remember_me,class: "woocommerce-Input woocommerce-Input--checkbox" %>
    </div>
  <% end -%>
  <%= render "users/shared/links" %>


  <div class="actions">
    <%= f.submit "ورود",class: 'woocommerce-Button button' %>
  </div>
<% end %>



			



	</div>

	<div class="u-column2 col-2">

		<h2>عضویت</h2>




<%= form_for(resource, as: resource_name,html: {class: "register"}, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :email,raw(" ایمیل <span class='required'>*</span>")  %>
    <%= f.email_field :email, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :name,raw('نام و نام خانوادگی <span class="required">*</span>') %>
    <%= f.text_field :name, autofocus: true,required: 'required',class: 'woocommerce-Input woocommerce-Input--text input-text' %>
</p>
          <div class='alert alert-info'>

          رمزعبور باید شامل یک حرف بزرگ یک حرف کوچک و عدد باشد
کمترین تعداد کاراکتر ۸ رقم است
           </div>
<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">

                                        <label for="password">رمزعبور <span class="required">*</span></label>
                                        <%= f.password_field :password,class: 'woocommerce-Input woocommerce-Input--text input-text',required: '', pattern: '^\S{8,}$',id: 'password' %>
                                        

</p>

<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                    
                                        <label for="password_confirmation">تکرار رمز عبور <span class="required">*</span></label>
                                        <%= f.password_field :password_confirmation,class: 'woocommerce-Input woocommerce-Input--text input-text',required: '', pattern: '^\S{8,}$',id: 'password_confirmation' %>
                                        

</p>

                                

<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :phone,raw('شماره موبایل <span class="required">*</span>') %>
    <%= f.text_field :phone,class: 'woocommerce-Input woocommerce-Input--text input-text', autocomplete: "on",required: 'required' %>
</p>
  <div class="actions">
    <%= f.submit "ثبت نام",class: 'woocommerce-Button button' %>
  </div>
<% end %>






			   
       


	</div>

</div>

</div>

                                            
            </div>

        </div>
    </div>
</section>
<!--social &  Subscription-->

<div class="clear"></div>























         <%= render partial: 'partials/public/footer' %>