   

      <main>

 <div class="row">
      <div class="col s12 m12">
        <div class="card-panel white" style='text-align: right;'>
          <span class="black-text text-right">
              پنل مدیریت
          </span>
          
          
          
          <% if !current_user.exposition_accept? && current_user.level == 1 %>
          
                     <div class="row">
                                    <div class="col s12 m12 right">
                                        <div class="card-panel teal">
          <span class="white-text">
فروشگاه شما در دست بررسی است
,
لطفا یک پلن تهیه فرمایید سپس تایید میشوید

          </span>
                                        </div>
                                    </div>
                                </div>


          
          <% end %>
          
          
        </div>
      </div>
</div>




   <div class="row">

<% if current_user.level == 1 %>
      <div class="col s12 m4">
        <div class="card-panel white align center">
            <i class="material-icons dp48 large">work</i>
<br>
          <span class="gray-text">
          تعداد کل محصولات
          </span>

          <br>
          <h3 class="black-text">
         <%= current_user.products.size %>
          </span>

        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel white align center">
            <i class="material-icons dp48 large">visibility</i>
<br>
          <span class="gray-text">
         دنبال کنندگان
          </span>

          <br>
          <h3 class="black-text">
         <%= current_user.followers.size %>
          </span>

        </div>
      </div>


      <div class="col s12 m4">
        <div class="card-panel white align center">
            <i class="material-icons dp48 large">visibility</i>
<br>
          <span class="gray-text">
                  دنبال شدگان

          </span>

          <br>
          <h3 class="black-text">
         <%= current_user.following.size %>
          </span>

        </div>
      </div>
      
      <% elsif current_user.level == 3 %>
<div class="col s12 m4">
        <div class="card-panel white align center">
            <i class="material-icons dp48 large">work</i>
<br>
          <span class="gray-text">
          تعداد کل محصولات
          </span>

          <br>
          <h3 class="black-text">
         <%= Product.all.size %>
          </span>

        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel white align center">
            <i class="material-icons dp48 large">visibility</i>
<br>
          <span class="gray-text">
         فروشندگان
          </span>

          <br>
          <h3 class="black-text">
         <%= User.sellers.size %>
          </span>

        </div>
      </div>


      <div class="col s12 m4">
        <div class="card-panel white align center">
            <i class="material-icons dp48 large">visibility</i>
<br>
          <span class="gray-text">
                  بازاریاب ها

          </span>

          <br>
          <h3 class="black-text">
         <%= User.marketers.size %>
          </span>

        </div>
      </div>
      
      <% end %>
      


    </div>
            

      </main>