<style>
    .raidio_buttons p{
        float:right;
        clear: both;
    }
    *{
    text-align:right;

  direction: rtl;
    }
</style>
<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">
        
 <div class="row">
 <% if flash[:notice] %>
 <div class="alert alert-info" role="alert">
    <%= flash[:notice] %>
 </div>
      <% end %>
      
      <p style='text-align: right;direction:rtl;'>
    

      </p>
      
      
      
      
    

    <div class='row'>

    

    </div>
      
      
      
      
    

      </div>
      
      
      
      
    
  </div>
        
        
        
            
            
          
          
        </div>
      </div>
 </div>

</main>
<% content_for :head do -%>
<script>
jQuery.noConflict()(function ($) {
$(document).ready(function(){
var month = 1;

$('#pay').click(function(){

    $.ajax({
  method: "POST",
  url: "/admin/dashboard/pay_plan",
  data: { month: month }
})
  .done(function( msg ) {
    window.open(msg);
  });

});
function ToRial(str) {

str = str.replace(/\,/g, '');
    var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

    while (objRegex.test(str)) {
        str = str.replace(objRegex, '$1,$2');
    }

    return str;
}


$('.with-gap').click(function(){
month= $(this).val();
var p = ($(this).val() * 50000).toString(); 
$('#price').text(ToRial(p));
$('#last_price').text(ToRial(p));
$('#xx').show();
});

});
});
</script>
<% end -%>


<style>
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
</style>