<style>
    .raidio_buttons p{
        float:right;
        clear: both;
    }
    *{
      text-align:right;
      direction:rtl;
    }
</style>
<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">
        
 <div class="row">
 <% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
      <%= flash[:notice] %>
  </div>
 <% end %>
 

      <p style='text-align: right;direction:rtl;line-height: 36px;'>
     <span style="font-weight: bold;
    font-size: 21px;    ">
        مشخصات و امکانات فروشگاه:
</span>
<br>
اختصاص  یک بخش به عنوان فروشگاه برای نمایش محصولات و معرفی نوع فعالیت شما
<br>
20% از آگهی های شما به صورت ویژه نمایش داده می شود
<br>
ثبت آگهی حراجی برای فروشگاه ها رایگان می باشد
<br>
ارسال فایل ویدئو به جای عکس
<br>
ارتباط مستقیم با مشتری و ارسال پیام گروهی به دنبال کنندگان فروشگاه
<br>
نمایش آگهی های شما بصورت تصادفی در پایین صفحات دیگران به عنوان آگهی مشابه
<br>
داشتن زیردامنه
 (به طور مثال www.paniz.pplaaza.com) 
برای فروشگاه
<br>
داشتن نماد اعتماد الکترونیک 
<br>
داشتن درگاه پرداخت اینترنتی شخصی 
<br>
ارتباط بین دیگر شعبات
<br>
شما می توانید با انتخاب یکی از بسته های زیر فروشگاه خود را فعال کنید.
      </p>
      
      
      
    


  <table class="highlight striped centered">
<thead>
                <tr>
                 <th>انتخاب</th>
                    <th>نام پک</th>
                    <th>
                     سقف تعداد آگهی 
                    </th>
                    <th>
                    تعداد آگهی ویژه
                    </th>
                    
                    <th>قیمت ماهانه</th>
                    <th>وضعیت</th>
                   
                </tr>
              </thead>

              <tbody>

         <tr>
                <td>
                      <input value='0' disabled type="radio" id="packchoice0"  />
                      <label for="packchoice0"></label>
                </td>
                <td>پک رایگان</td>
                <td>5</td>
                <td>5</td>
                <td>رایگان</td>
                <td>

               (یک بار مصرف) فعال شده


                </td>

              </tr>



              <tr>
                <td>
                      <input class="with-gap2" value='50' data-price='500000' name="packchoice" type="radio" id="packchoice1"  />
                      <label for="packchoice1"></label>
                </td>
                <td>پک برنزی</td>
                <td>50</td>
                <td>10</td>
                <td>500,000 ریال</td>
                <td>
<% if current_user.pack_paid && current_user.pack_number == '50' %>
                فعال شده
<% else %>
                غیر فعال
<% end %>
                </td>

              </tr>

            <tr>
                <td>
                      <input class="with-gap2" data-price='950000' value='100' name="packchoice" type="radio" id="packchoice2"  />
                      <label for="packchoice2"></label>
                </td>

                <td>پک نقره ای</td>
                <td>100</td>
                <td>20</td>
                <td>950,000 ریال</td>
                <td>
                <% if current_user.pack_paid && current_user.pack_number == '100' %>
                فعال شده
<% else %>
                غیر فعال
<% end %>
                </td>
              </tr>

                          <tr>
                              <td>
                      <input class="with-gap2" value='200' data-price='1750000' name="packchoice" type="radio" id="packchoice3"  />
                      <label for="packchoice3"></label>
                </td>
                <td>پک طلایی</td>
                <td>200</td>
                <td>40</td>
                <td>1,750,000 ریال</td>
                <td>
                <% if current_user.pack_paid && current_user.pack_number == '200' %>
                فعال شده
<% else %>
                غیر فعال
<% end %>
                </td>

                <td>

                </td>
              </tr>

                          <tr>
                  <td>
                      <input class="with-gap2" value='500' data-price='4490000' name="packchoice" type="radio" id="packchoice4"  />
                      <label for="packchoice4"></label>
                </td>
                <td>پک الماس</td>
                <td>500</td>
                <td>100</td>
                <td>4,490,000 ریال</td>
                <td>
                
                <% if current_user.pack_paid && current_user.pack_number == '500' %>
                فعال شده
<% else %>
                غیر فعال
<% end %>
                </td>
                <td></td>
              </tr>
              </tbody>

      </table>





      
<div class=" col s12" style="      float: inherit;  text-align: right;">
           <p>
      <input class="with-gap" value='1' name="group1" type="radio" id="test1" />
      <label for="test1">۱ ماهه</label>
    </p>
    
    
    <p>
      <input class="with-gap" value='3' name="group1" type="radio" id="test2" />
      <label for="test2">۳ ماهه</label>
    </p>
    <p id="sixmonth">
      <input class="with-gap" value='6' name="group1" type="radio" id="test3"  />
      <label for="test3">۶ ماهه</label>
    </p>
    <p id="twolevemonth">
      <input class="with-gap" value='12' name="group1" type="radio" id="test4" />
      <label for="test4">۱۲ ماهه</label>
    </p>
    
    </div>

    <br>
    <br>
    <div class='row'>
<p id='xx' style='display:none;    text-align: center;
    width: 400px;

    margin: auto;' class="alert alert-success">
قیمت تعرفه 
<span id="price">50,۰۰۰</span>
 ریال
 <br>
تخفیف 	<span id="offer">۰</span> ریال
<br>
قیمت کل 	<span id="last_price"></span> ریال

<br><br>
  <%= button_tag :type => 'submit',id: 'pay', :class => "waves-effect waves-light btn" do %>
         <i class="material-icons left">card</i>پرداخت
        <% end %>  
</p>  
  
      </div>
      


      </div>
  </div>
        </div>
      </div>
 </div>

</main>
<% content_for :head do -%>
<script>
jQuery.noConflict()(function ($) {
$(document).ready(function(){
var month = 1;

$('#pay').click(function(){

    $.ajax({
  method: "POST",
  url: "/admin/dashboard/pay_plan",
  data: { month: month }
})
  .done(function( msg ) {
    window.open(msg);
  });

});
function ToRial(str) {

str = str.replace(/\,/g, '');
    var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

    while (objRegex.test(str)) {
        str = str.replace(objRegex, '$1,$2');
    }

    return str;
}

var withGap2;
$('.with-gap2').click(function(){
 withGap2= $(this);

   if(withGap2.val()== 200){
    $('#twolevemonth').slideUp();
  }else if(withGap2.val()== 500){
  // twolevemonth
  $('#sixmonth').slideUp();
  $('#twolevemonth').slideUp();
  }else{
$('#sixmonth').slideDown();
  $('#twolevemonth').slideDown();
  }

});

$('.with-gap').click(function(){

month= $(this).val();



var p = ($(this).val() * withGap2.attr('data-price')).toString(); 
var offer_price=0;
if($(this).val() == 3){
p = p - ((p / 100) * 7) + '';
offer_price = ((p / 100) * 7);
}else if($(this).val() == 6){
  p = p - ((p / 100) * 8) + '';
  offer_price = ((p / 100) * 8);
}else if($(this).val() == 12){
  p = p - ((p / 100) * 9) + '';
  offer_price = ((p / 100) * 9);


}


$('#price').text(ToRial(p));

$('#last_price').text(ToRial(p));

$('#offer').text(ToRial(offer_price + ''));

$('#xx').show();
});

});
});
</script>
<% end -%>


<style>
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
</style>