
<style>
  *{
    text-align:right !important;
  }
  .input-field.col label {
    right: 0.75rem !important;
    left:auto;
}
</style>
<%# content_for :head do %>
  
  
<%# end %>

<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">

       
            
            
  <div class="row">
    <div class="col s12 right">
      <ul class="tabs">
       <li class="tab col s4 right"><a href="#test4">سایت</a></li>
        <li class="tab col s4 right"><a href="#test3">اپلیکیشن</a></li>
       
      </ul>
    </div>
 <%= form_for @setting ,url: admin_dashboard_update_setting_path,html: {class: 'col s12',multipart: true},method: :POST do |f| %>
    <div id="test3" class="col s12 text-right right align text right-text">
      
       
              <div class="row">
       
             <div class="file-field input-field ">
      <div class="btn">
        <span>اسلایدر</span>
        <%= f.file_field :mobile_slider, multiple: true %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <%= f.submit 'ذخیره',class: 'waves-effect waves-light btn col s12'%>
    
        </div>
      
    </div>
    <div id="test4" class="col s12">
      
              <div class="row">
                       <div class="file-field input-field">
      <div class="btn">
        <span>لوگو</span>
        <%= f.file_field :site_logo, multiple: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    
        </div>
      
        <div class="row">
          <div class="input-field col s6 right">
            
            <%= f.text_field :site_name ,'data-length'=>"10"%>
            
            <%= f.label :site_name ,value: 'نام سایت'%>
          </div>
        </div>
      
     <div class="row">
          <div class="input-field col s12 right text-right right text">
            
             
            <%= f.text_area :seo_description ,'class'=>"materialize-textarea", 'data-length'=>"120" %>
            
            <%= f.label :seo_description ,value: 'کلمات کلیدی'%>
            
            
          </div>
        </div>
        
        
                     <div class="file-field input-field">
      <div class="btn">
        <span>اسلایدر</span>
        
        <%= f.file_field :site_slider, multiple: true %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
     
     
             
                     <div class="file-field input-field">
      <div class="btn">
        <span>عکس دیفالت فروشگاه</span>
        
        <%= f.file_field :default_image_exposition, multiple: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
        
                
                     <div class="file-field input-field">
      <div class="btn">
        <span>عکسی دیفالت محصول</span>
        
        <%= f.file_field :default_image_product, multiple: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
        
      
       <%= f.submit 'ذخیره',class: 'waves-effect waves-light btn col s12'%>
      
      </div>
  </div>
            
         
              <% end %> 
        </div>
   
      </div>
 </div>

</main>