
    <%= render partial: 'partials/public/fix_menu' %>

                <!-- Dropdown Structure -->


                <div class="nav-header de researcher ">







                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>







        <div class="inner">
            <div class="row">
                
                


                
               <% @expositions.each do |user| %>
               <%= render partial: 'partials/public/exposition',locals: {user: user} %>
<% end %>

 
        </div>
        
        </div>


         <%= render partial: 'partials/public/footer' %>