
   <!-- 
<ul id="slide-out" class="side-nav text-right">

    <li>
       <a class="subheader"> <h5>فیلتر کردن محصول</h5></a>
        
        </li>
    
    <li><div class="divider"></div></li>
      <li><a class="subheader">کتگوری</a></li>
    <% @categories.each do |category| %>
    <li>
        <%= active_link_to category.name ,{category: category.permalink,offers: params[:offers],sort: params[:sort],filter_name: params[:filter_name],props: params[:props] }, active: :exact %>
        
    </li>
    <% end %>
    
    <li><a class="subheader">ترتیب</a></li>
    <li>
        
        <%= active_link_to 'نزولی',{sort: 'asc',category: params[:category],offers: params[:offers],filter_name: params[:filter_name],props: params[:props] }, active: :exact %>
        
    
    </li>
    <li>
        <%= active_link_to 'صعودی',{sort: 'desc',category: params[:category],offers: params[:offers],filter_name: params[:filter_name],props: params[:props] }, active: :exact %>
    </li>
    
       <li><div class="divider"></div></li>
    
    <li><%= active_link_to 'حراجی',{offers: 'true',sort: params[:sort],category: params[:category],filter_name: params[:filter_name],props: params[:props] }, active: :exact %></li>
    
       <li><div class="divider"></div></li>
       
    <% ProductType.find(Category.find(@exposition.category_id).product_type_id).fields.where(field_type: 'select_box').each do |field| %>
    <li><a class="subheader"><%= field.name %></a></li>
    <% field.props.each do |prop| %>
     <li>
         
         <%= active_link_to prop.name,{props: prop.permalink,filter_name: prop.product_field.permalink,sort: params[:sort],category: params[:category],offers: params[:offers] }, active: :exact %>
     
     </li>
    <% end %>
    <% end %>
    
    

  </ul>

  -->
 
    

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <!-- Login/Register modal
        






        <nav class="nav-extended x">
            <div class="nav-background" style="background-image: url('<%= @exposition.background_image.url %>');">
                <div class="ea k" style="background-image: url('http://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/" class="brand-logo"><%= image_tag @setting.site_logo_url %><%= image_tag @setting.site_name %></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
   



                <div class="nav-header col s12">

                    <div class="row">
<div class="col s12 m6 push-m2 exposition-info right text-right">
    <div class="exposition-logo">
        
<%= image_tag(@exposition.avatar_url,class:'responsive-img',alt: @exposition.exposition_name )%>
    </div>
    <div class="detail">
        
        
        
        <h5>
            <%= @exposition.exposition_name %>
        </h5>
  
       
     
        <% if current_user.nil? %>
        
     
        <span class="rating" disabled="disabled"  data-default-rating="<%=  %>"></span>
        <% else %>
        <span class="rating" <%= 'disabled="disabled"' unless  current_user.voteing.find_by_exposition_id(@exposition.id).nil?  %> data-default-rating="<%=   %>" exposition_id='<%= @exposition.id %>'></span>
<% end %>

        <h6 class="phone clearfix">
            <i class="small material-icons right">contact_phone</i>
شماره تلفن (ها):

            <%= @exposition.static_phone %>
        </h6>


<div class="divider clearfix"></div>
        <h6 class="clearfix">
            <i class="small material-icons right">room</i>

             <%= @exposition.exposition_address %>

        </h6>

<% unless @exposition.instagram_id.blank? %>
        <a target='_blank' href="https://www.instagram.com/<%= @exposition.instagram_id %>" class="btn-floating btn waves-effect waves-light purple darken-4">
            <svg class="instagram" viewBox="0 0 512 512"><g><path d="M256 109.3c47.8 0 53.4 0.2 72.3 1 17.4 0.8 26.9 3.7 33.2 6.2 8.4 3.2 14.3 7.1 20.6 13.4 6.3 6.3 10.1 12.2 13.4 20.6 2.5 6.3 5.4 15.8 6.2 33.2 0.9 18.9 1 24.5 1 72.3s-0.2 53.4-1 72.3c-0.8 17.4-3.7 26.9-6.2 33.2 -3.2 8.4-7.1 14.3-13.4 20.6 -6.3 6.3-12.2 10.1-20.6 13.4 -6.3 2.5-15.8 5.4-33.2 6.2 -18.9 0.9-24.5 1-72.3 1s-53.4-0.2-72.3-1c-17.4-0.8-26.9-3.7-33.2-6.2 -8.4-3.2-14.3-7.1-20.6-13.4 -6.3-6.3-10.1-12.2-13.4-20.6 -2.5-6.3-5.4-15.8-6.2-33.2 -0.9-18.9-1-24.5-1-72.3s0.2-53.4 1-72.3c0.8-17.4 3.7-26.9 6.2-33.2 3.2-8.4 7.1-14.3 13.4-20.6 6.3-6.3 12.2-10.1 20.6-13.4 6.3-2.5 15.8-5.4 33.2-6.2C202.6 109.5 208.2 109.3 256 109.3M256 77.1c-48.6 0-54.7 0.2-73.8 1.1 -19 0.9-32.1 3.9-43.4 8.3 -11.8 4.6-21.7 10.7-31.7 20.6 -9.9 9.9-16.1 19.9-20.6 31.7 -4.4 11.4-7.4 24.4-8.3 43.4 -0.9 19.1-1.1 25.2-1.1 73.8 0 48.6 0.2 54.7 1.1 73.8 0.9 19 3.9 32.1 8.3 43.4 4.6 11.8 10.7 21.7 20.6 31.7 9.9 9.9 19.9 16.1 31.7 20.6 11.4 4.4 24.4 7.4 43.4 8.3 19.1 0.9 25.2 1.1 73.8 1.1s54.7-0.2 73.8-1.1c19-0.9 32.1-3.9 43.4-8.3 11.8-4.6 21.7-10.7 31.7-20.6 9.9-9.9 16.1-19.9 20.6-31.7 4.4-11.4 7.4-24.4 8.3-43.4 0.9-19.1 1.1-25.2 1.1-73.8s-0.2-54.7-1.1-73.8c-0.9-19-3.9-32.1-8.3-43.4 -4.6-11.8-10.7-21.7-20.6-31.7 -9.9-9.9-19.9-16.1-31.7-20.6 -11.4-4.4-24.4-7.4-43.4-8.3C310.7 77.3 304.6 77.1 256 77.1L256 77.1z"></path><path d="M256 164.1c-50.7 0-91.9 41.1-91.9 91.9s41.1 91.9 91.9 91.9 91.9-41.1 91.9-91.9S306.7 164.1 256 164.1zM256 315.6c-32.9 0-59.6-26.7-59.6-59.6s26.7-59.6 59.6-59.6 59.6 26.7 59.6 59.6S288.9 315.6 256 315.6z"></path><circle cx="351.5" cy="160.5" r="21.5"></circle></g></svg>
            

        </a>
<% end %>
<% unless @exposition.telegram.blank? %>
        <a target='_blank' href='https://www.telegram.me/<%= @exposition.telegram %>' class="btn-floating btn waves-effect waves-light indigo accent-4">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240 240" data-ember-extension="1">
                <defs>
                    <linearGradient id="b" x1="0.6667" y1="0.1667" x2="0.4167" y2="0.75">
                        <stop stop-color="#37aee2" offset="0"></stop>
                        <stop stop-color="#1e96c8" offset="1"></stop>
                    </linearGradient>
                    <linearGradient id="w" x1="0.6597" y1="0.4369" x2="0.8512" y2="0.8024">
                        <stop stop-color="#eff7fc" offset="0"></stop>
                        <stop stop-color="#fff" offset="1"></stop>
                    </linearGradient>
                </defs>
                <circle cx="120" cy="120" r="120" fill="url(#b)"></circle>
                <path fill="#c8daea" d="m98 175c-3.8876 0-3.227-1.4679-4.5678-5.1695L82 132.2059 170 80"></path>
                <path fill="#a9c9dd" d="m98 175c3 0 4.3255-1.372 6-3l16-15.558-19.958-12.035"></path>
                <path fill="url(#w)" d="m100.04 144.41 48.36 35.729c5.5185 3.0449 9.5014 1.4684 10.876-5.1235l19.685-92.763c2.0154-8.0802-3.0801-11.745-8.3594-9.3482l-115.59 44.571c-7.8901 3.1647-7.8441 7.5666-1.4382 9.528l29.663 9.2583 68.673-43.325c3.2419-1.9659 6.2173-0.90899 3.7752 1.2584"></path>
            </svg>
        </a>
        <% end %>



    </div>





</div>

                    </div>



                </div>







            </div>
        </nav>

 








        <div class="inner">
                <h5 class="center-align">اجناس</h5>
                <div class="divider center-align product-divider"></div>
            <div class="row">

       


<% @products.each do |product| %>

 <%= render partial: 'partials/public/product',locals: {product: product} %>
<% end %>

            </div>





            <h5 class="center-align">فایل ها</h5>
            <div class="divider center-align product-divider"></div>
        <div class="row">

   


<% @files.each do |file| %>

<div class="panel panel-warning col s12 m3">
        <div class="panel-heading">
          <h3 class="panel-title"><%= file.name %></h3>
        </div>
        <div class="panel-body">
                <%= file.detail %> 
                <a href="/file/<%= file.id %>" class="btn waves-effect waves-light col s6">جزیات و خرید</a>
        </div>


      </div>

<% end %>

        </div>






            <div class="row">


                <div class="col s12 m6 container right-align">
                    <div class="card-panel exposition-info-card" style='min-height: 700px !important;'>
                        
                        
                        
                                    
            
        
        

            <h6>
                اطلاعات فروشگاه
            </h6>
            <br>
            
            <div class="deal-features-list clear col s12 m12 container left">
        <div class="card-panel col s12 m4">
         
            <div class="inner align center clear">
              <i class="material-icons" style='font-size: -webkit-xxx-large;'>forum</i>
              <br>
              <span>
                  
                  <%= link_to 'ارسال پیام به فروشـــــگاه',new_public_ticket_path(id: @exposition.id) %>
              </span>
            </div>
          </div>
                             
       <div class="card-panel col s12 m4">
         
            <div class="inner align center clear">
              
    <i class="material-icons" style='font-size: -webkit-xxx-large;'>person_add</i>
    <a class='exposition-follow' href="#" data-id='<%= @exposition.id %>' followed='<%= @exposition.followers.include? current_user %>'>
              <br>
              <span>دنبال کردن فروشـــــگاه</span>
               </a>
            </div>
           
          </div>
          
          
     
                <div class="card-panel col s12 m4">
         
            <div class="inner align center clear">
                <a target='_blank' href="https://www.google.com/maps/place/<%= @exposition.latitude %>,<%= @exposition.longitude %>/">
              <i class="material-icons" style='font-size: -webkit-xxx-large;'>location_on</i>
              <br>
              <span>فروشـــــگاه در گوگل مپ</span>
              </a>
            </div>
          </div>
          
          
          
        </div>
        
                        <div class="divider"></div>

                        <h5>
                            <%= @exposition.exposition_name %>

                        </h5>


                        <h6>
با مدیریت 
<%= @exposition.name %>
                        </h6>
<h6>
    آدرس: 
    <%= @exposition.exposition_address %>

</h6>
                        <h6>
تلفن تماس: <%= @exposition.static_phone %>
                        </h6>

                        <h6>
                            آدرس روی نقشه
                        </h6>

<% if @exposition.latitude.present? && @exposition.longitude.present? %>
<a target='_blank' href="https://www.google.com/maps/place/<%= @exposition.latitude %>,<%= @exposition.longitude %>/">
                        <img id="map" class="col s12 responsive-img" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @exposition.latitude %>,<%= @exposition.longitude %>&zoom=15&scale=false&size=640x320&maptype=roadmap&key=AIzaSyCSn--jTCMyOzCWXwzca5G-0wz7tzo5Qp8&format=png&visual_refresh=true&markers=icon:https://www.reyhoon.com/assets/img/map-marker.png%7Cshadow:true%7C<%= @exposition.latitude %>,<%= @exposition.longitude %>&language=fa&region=IR">
</a>
<% end %>
<br>

<h6>
    فهرست شعبات
</h6>

<div class="collection">

    

    <% Chain.where('user_id = ? OR user_two = ?',@exposition.id,@exposition.id).where(accept: true).each do |chain| %>
<% if chain.user_id == @exposition.id %>


    <div class="segment avatar">
      <img class="circle right" src='<%= User.find(chain.user_two).avatar_url %>' style='margin: 13px;
width: 72px;height: 72px;'>

      <span class="title">
          نام فروشگاه:
          <%= link_to exposition_show_path(User.find(chain.user_two).identify) do %>
          <%= User.find(chain.user_two).exposition_name %>
        <% end %>
      </span>
      <p>
          نام مدیر:
          <%= User.find(chain.user_two).name %> <br>
          آدرس:
         <%= User.find(chain.user_two).exposition_address %>
      </p>
      
    </div>
  
<% else %>



    <div class="segment avatar">
      <img class="circle right" src='<%= chain.user.avatar_url %>' style='margin: 13px;width: 72px;height: 72px;'>

      <span class="title">
          نام فروشگاه:
          <%= link_to exposition_show_path(chain.user.identify) do %>
          <%= chain.user.exposition_name %>
          <% end %>
      </span>
      <p>
          نام مدیر:
          <%= chain.user.name %>
      
      <br>
      آدرس:
         <%= chain.user.exposition_address %>
      </p>
      
    </div>

    
<% end %>


<% end %>

    

    
    
    
    
    
  </div>


                    </div>
                </div>


                <div class="col s12 m6 right container right-align">
                    <div class="card-panel">
                     <h6>
                         نظر کاربران درباره فروشگاه

                     </h6>
                        <div class="divider"></div>


                        <div class="row">
                            
                            <% @comments.each do |comment| %>
                            <div class="col s12 m12">
                                <div class="card grey lighten-5">
                                    <div class="card-content black-text">
                                        <span class="card-title">
                                            
                                            <%= comment.user.name %>
                                        
                                        </span>
                                        <p>
                                            ماشروم برگر خوشمزه وخوب بود.ولی پیتزای مخصوص خیلی کالباس داشت با توجه به مواد تشکیل دهنده که نوشته بودن پیتزا مخصوص شامل گوشت چرخ کرده مرغ و ژامبون هست 85 درصد ژامبون بود 5درصد گوشت چرخ کرده و 10 درصد مرغ.که با توجه به اینکه من خودم خیلی علاقه ای به سوسیس وکالباس ندارم خیلی جالب نبود
<%= comment.body %>
                                        </p>
                                    </div>
                          
                                </div>
                            </div>
                            
                            <% end %>


                            
                                <%= form_for @comment ,url: create_comments_path(ex_id: @exposition.id),html: {class: 'col s12 SendMessageForm',style: 'display:none;'},method: :POST do |f| %>
                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_area :body,id: 'textarea1', class: 'materialize-textarea' %>
                                        <label for="textarea1" class="">متن نظر</label>
                                    </div>
                                    <%= f.submit 'پاسخ',class: 'waves-effect waves-light btn' %>
                                   
                                </div>




                             <% end %>



                            <div class="col s12 m12">

                                <a href="#" class="btn waves-effect waves-light load_more_comment col s6">بارگذاری نظرات بیشتر</a>

                                <a href="#" class="btn waves-effect waves-light add_comment col s6" >افزودن نظر</a>

                            </div>


                        </div>





                 </div>
                </div>



            </div>








            </div>









        </div>









-->




