<main>
 <div class="row">
      <div class="col s12 m12">
        <div class="card-panel white">
  
  
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content" style='direction: rtl;text-align: right;'>
      <h4>ارسال به بازاریاب</h4>
      <p>
        <%= select_tag "marketer_id", options_from_collection_for_select(User.marketers, "id", "name"), prompt: "لطفا بازاریاب را انتخاب کنید",required: 'required',class: 'browser-default' %>
      </p>
      
      <%= hidden_field_tag :seller_id %>
      
      <p>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " id='sendToMarketer'>ارسال</a>
      </p>
    </div>
  </div>
  
     <table class='striped highlight bordered'>
            <thead>
              <tr>
                  <th>ویرایش</th>
                  <% if current_user.level==3 %>
                 <th>بازاریاب</th>
                 <% end %>
                  
  <th>نام </th>
              </tr>
            </thead>
    
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to(raw('<i class="material-icons">delete_forever</i>'),delete_admin_seller_path(user.id),class: 'small btn-floating waves-effect btn-small waves-light red', :data => {:confirm => t('alert.are_you_sure_delete')}) %>
                  <%= link_to(raw('<i class="material-icons">mode_edit</i>'),edit_admin_seller_path(user.id),class: 'small btn-floating waves-effect btn-small waves-light blue') %>
                  <%= link_to(raw("<i class='material-icons'>#{user.exposition_accept? ? 'lock_open':'lock_outline'}</i>"),toggle_lock_admin_seller_path(user.id),class: "small btn-floating waves-effect btn-small waves-light  #{user.exposition_accept? ? 'green':'yellow' }") %>
                  <%= link_to(raw("<i class='material-icons'>cast</i>"),exposition_show_path(user.identify),target: '_blank',class: 'small btn-floating waves-effect btn-small waves-light purple') rescue nil %>
                  
                  <a href='#modal1' sellerId='<%= user.id %>' class='b-modal small btn-floating waves-effect btn-small waves-dark green'>
                    <i class='material-icons'>person</i>
                  </a>
                </td>
                        <% if current_user.level==3 %>
                <td><%= user.marketer.nil? ? 'ندارد':user.marketer.name %></td>
                <% end %>
                <td><%= user.name %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
 </div>
<%= link_to(raw('<i class="material-icons">add</i>'),new_admin_seller_path,class: 'btn-floating btn-large waves-effect waves-light red',style: 'position:fixed;bottom: 20px; left: 24px;') %>
</main>