/*
Theme Name: Takhfifat
Theme URI: http://demo.onliner.ir/takhfifat/
Author: Onliner 09159129565 - 09395363913
Author URI: http://shop.onliner.ir/
Description: Templates Discount Takhfifat
Version: 1.5
*/
/*
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/IRANSansWeb_Bold.eot');
	src: url('fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  
		 url('fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  
		 url('fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), 
		 url('fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  
		 url('fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
*/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/eot/IRANSansWeb_Medium.eot');
	src: url('fonts/eot/IRANSansWeb_Mediumd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/IRANSansWeb_Light.eot');
	src: url('fonts/eot/IRANSansWeb_Lightd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb.eot');
	src: url('fonts/eot/IRANSansWebd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
a{text-decoration:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.clear{clear:both}
a:hover,a:focus{text-decoration:none!important;outline:0}
body{font-family:IRANSans!important;cursor:default;font-weight:300}
.top_header{overflow:hidden;background:#262626;border-bottom:3px solid #f7991e;}
.menu_top_header{float:right;margin:0;padding:0}
.menu_top_header li{float:right;list-style:none}
.menu_top_header li a{font:14px/25px IRANSans;color:#e2e2e2;padding:9px 0;margin:0 7px;float:right}
.menu_top_header li a i{margin-left:3px}
.menu_top_header li a .fa{font-size:18px;padding-left:6px;color:#fff;transition:all .1s ease-in-out}
.menu_top_header li a:hover,.menu_top_header li a:hover .fa{color:#f05025}
.phone{float:left;background:#f05025;padding:5px 15px;font:17.6px/32px IRANSans;color:#fff;border-bottom:1px solid #ba1212}
.phone .fa{float:left;color:#e7e7e7;font-size:30px;padding-right:8px}
.social_header{overflow:hidden;float:left;margin: 4px 4px;}
.social_header a{float:left;margin:6px 10px 0;color:#fff}
.social_header a .fa{font-size: 25px;}
.social_header a :hover{color:#ba1212}
header{background:#fdfdfd}
.logo{overflow:hidden;float:right;width:117px;height:103px;background:url(images/logo.png) no-repeat;    background-size: contain;
    margin: 10px;
}
.logo h1,.logo h2{margin:0}
.logo h1 a,.logo h2 a{display:block;height:103px;text-indent:-9999px}
#form_header{float:right;margin:33px 90px 0 0}
#form_header select{border:0;height:38px;padding:0 20px;outline:0;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(images/icon.png) no-repeat -133px 11px}
.main_select,.main_input,.content_mini_cart{overflow:hidden;border:1px solid #c4c2c2;border-radius:24px;float:right;padding:0 10px;height:40px;position:relative;background:#fff;font:normal 14px/30px IRANSans;color:#bdbdbd;position:relative}
.main_select:hover,.main_input:hover,.content_mini_cart:hover,.Newsletters input[type="text"]:hover{background:#fcfcfc}
.main_select .fa{float:right;font-size:22px;position:absolute;right:11px;top:6px;color:#a2a2a2}
.main_input{padding:2px;margin-right:20px}
.main_input .fa{font-size:20px;float:right;padding:8px 11px 0 7px}
.main_input input{border:0;background:none;color:#c8c5c5;outline:0;height:34px;float:right}
.main_input input[type="text"]{width:220px}
input[type="submit"],input[type="button"], button{background:#f05025;border-radius:24px;color:#fdefef;padding:0 30px;font-size: 13px;font-family: IRANSans !important;float: none;height: 34px;border: none;line-height: 34px;}
.block_login{float:left;margin:40px 0 0}
#myBtn,#myBtn2{float:left;font:15px/25px IRANSans;color:#bfbcbc;background:none;border:0;outline:0;padding:0;transition:all .2s ease-in-out;margin-left:50px!important}
#myBtn .fa,#myBtn2 .fa{padding:3px 0 0 5px;font-size:20px;float:right}
#myBtn:hover,#myBtn2:hover{color:#f05025}
#myBtn:active,#myBtn2:active{box-shadow:none}
.modal-header{text-align:center}
.modal-content{color:#606060}
.modal-content label .fa{padding-left:7px}
.modal-content p{text-align:right}
nav{background:#dedede;box-shadow:0 6px 15px 0 #bfbfbf;height:59px;border-top:1px solid #e8e8e8;background:#f5f5f5;border-bottom:1px solid #ccc;box-shadow:1px 3px 8px #ccc}
.table{display:table;width:100%;padding:0;margin:15px 0;white-space:normal}
#wrapper{overflow:hidden;margin:30px 0}
.block_tab_menu,.block_gallery_archive{overflow:hidden;border-radius:7px;border:1px solid #f2f2f2}
.tabs{float:right;width:18%;border:0}
.tabs li{float:none;margin-bottom:1px}
.nav-tabs>li:last-child{margin:0}
.tabs li a{font:18px/35px IRANSans;color:#909090;background:#eceaea;text-align:center;height:96px;border-radius:0;padding:0;margin:0;border:0;border-right:1px solid #0b0b0b}
.tabs li a .fa{float:right;font-size:30px;width:49px;padding-top:33px;height:96px;background:#d5d4d4;text-align:center;margin-left:7px;border-right:1px solid #a9a6a6}
.tabs li a span{padding:13px 0 13px 7px;display:inherit}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#707070;background:#f9f8f8;border:0;border-right:1px solid #dd1717}
.nav-tabs>li.active>a .fa,.nav-tabs>li.active>a:focus .fa,.nav-tabs>li.active>a:hover .fa{background:#f05025;color:#fff;border-right:1px solid #c3a7a7}
.nav-tabs>li.active>a:after,.nav-tabs>li.active>a:focus :after,.nav-tabs>li.active>a:hover :after{content:"";width:26px;height:96px;position:absolute;top:0;right:100%;background:url(images/icon.png) no-repeat -124px -26px;z-index:20}
.tab-content{overflow:hidden;float:left;width:82%}
.gallery_item{float:right;width:67%;padding-left:3px;border-left:1px solid #eae8e8;position:relative}
.carousel-inner{height:387px}
.carousel-inner .item{width:100%;height:100%}
.img_item{overflow:hidden;position:relative}
.carousel-inner .img_item img{width:100%;height:387px;}
.carousel-indicators{position:absolute;right:0;bottom:30px;padding:5px 7px;margin:0;border-radius:13px 0 0 13px;background:#fff;left:inherit!important;width:auto}
.carousel-indicators li{width:15px!important;height:15px!important;border-radius:50%;border:0;background:#bab9b9;border-top:4px solid #dddcdc;border-left:4px solid #dddcdc;float:right;margin:0 2px!important}
.carousel-indicators .active{background:#8b8b8c;border-color:#c5c5c6}
.option_item_gallery{position:absolute;left:3px;bottom:25px;background:rgba(0,0,0,0.7);border-radius:0 8px 8px 0;font:14px/34px IRANSans;z-index:1}
.option_item_gallery span.address{color:#fff}
.option_item_gallery span.address .fa{color:#f05025;padding:7px 0 0 7px;font-size:20px;float:right}
.option_item_gallery span{padding:0 15px;float:right}
.option_item_gallery span.number-sale{background:#fff;color:#6e6e6e}
.option_item_gallery span.number-sale .fa{float:left;padding:7px 7px 0 0;font-size:17px;color:#212121}
.content_item{float:left;width:33%;overflow:hidden;position:relative;padding:12px;border-radius:7px 0 0 0}
.content_item h2{margin:0}
.content_item > span a{color:#2f2f2f;font:14px/30px IRANSans;border-bottom:1px solid #bfbfbf;margin:5px 10px;display:block;width:calc(100% - 50px);float:right;overflow:hidden!important;white-space:nowrap!important;text-overflow:ellipsis!important}
.content_item > span a .fa{font-size:25px;padding:0 0 0 8px;color:#f05025;float:right}
.content_item h2 a:hover{color:#f05025}
.content_item .Discount,.box_offer .Discount,.title_post .Discount{position:absolute;top:0;left:0;color:#fff;font:11px/20px IRANSans;width:88px;height:68px;background:url(images/icon.png) no-repeat 0 0;text-align:left;padding:10px 0 0 10px}
.content_item .Discount b,.box_offer .Discount b,.title_post .Discount b{display:block;font-size:20px}
.content_item h2 a{font:23px/40px IRANSans;color:#5c5c5c;border-right:5px solid #e6e6e6;margin:25px 10px;padding:0 13px;display:block;width:calc(100% - 50px);float:right;overflow:hidden!important;white-space:nowrap!important;text-overflow:ellipsis!important}
.content_item table{width:100%}
.content_item table tr td{background:#f9f9f9;padding:5px;text-align:center;border:3px solid #fff;font:bold 13px/22px IRANSans;color:#4e4e4e}
.content_item table span b{display:block}
.content_item table span.Profit{color:#2caa18;font-size:14px}
.eye_buy a{display:block;background:#f05025;border-radius:5px;text-align:center;color:#fff;font:21px/34px IRANSans;padding:9px;margin:15px 20px 0}
.eye_buy a .fa{padding-left:10px;font-size:30px}
.eye_buy a:hover{background:#d30707}
.time_out{overflow:hidden;position:absolute;left:3px;top:0;border-radius:0 0 10px 0;padding:0 10px;z-index:1;    background: white;
    font-size: 42px !important;
    color: red !important;}
.time_out .fa{float:right;font-size:30px;padding:6px 0 0 5px}
.deal-timer{float:left;margin:0;padding:10px 0;list-style: none !important;}
.deal-timer li{float:right;font:13px/24px IRANSans;padding-left:7px;list-style: none !important;}
.block_category{overflow:hidden}
.title_block{overflow:hidden;position:relative;text-align:center;margin:20px 0}
.title_block span{display:inline-block;width:314px;height:43px;background:url(images/bg-title.png) no-repeat center #fff;font:21px/43px IRANSans;color:#b8b7b7;z-index:1;position:relative}
.title_block:after{content:"";width:100%;height:3px;background:#e5e5e5;position:absolute;top:20px;right:0;z-index:0}
.block_category .col4,.block_category .col3,.block_category .col5,.block_category .col6,.block_category .col7{padding:2px}
.block_category .col2,.block_category .col1{padding:0}
.box_category{overflow:hidden;position:relative;border-radius:10px;z-index:2}
.block_category .box_category:hover img{-webkit-filter:blur(3px);filter:blur(3px)}
.block_category .box_category:hover .details{opacity:1!important}
.block_category .box_category h2{margin:0}
.block_category .box_category h2 a{font:22px/35px IRANSans;color:#fff;text-align:center;padding:19px 0}
.block_category .box_category h2 a span{display:block;background:url(images/icon.png) no-repeat}
.block_category .imgLabel img{width:100%;height:100%;object-fit:cover;transition:all .3s ease-in-out}
.block_category .imgLabel span{position:absolute;font:17px/30px IRANSans;text-align:center}
.block_category .imgLabel span small{display:block;border-radius:0 15px 15px 15px;color:#fff;margin:0 -3px}
.block_category .imgLabel .details .aye_sale{float:right;font:17px/43px IRANSans;color:#fff;background:#f05025;border-radius:5px;border-bottom:5px solid #be0707;padding:0 15px}
.block_category .imgLabel .details .aye_sale:hover{background:#be0707}
.block_category .col3 .box_category{height:152px}
.block_category .col3 h2 a{width:40%;float:left;background:#0dc575;height:152px}
.block_category .col3 h2 a span{width:95px;height:65px;background-position:-7px -78px;margin:24px auto 0}
.block_category .col3 .imgLabel{float:right;width:60%;position:relative;height:152px;z-index:0}
.block_category .col3 .imgLabel span{top:20px;right:50%;margin-right:-30px;color:#2dcc87}
.block_category .col3 .imgLabel span small{background:#0dc575}
.block_category .col4 .box_category{height:313px}
.block_category .col4 h2 a{display:block;background:#e02c6d;text-align:right;padding-right:14px}
.block_category .col4 h2 a span{width:59px;height:50px;background-position:-92px -341px;float:left;margin:-7px 0 0 7px}
.block_category .col4 .imgLabel{overflow:hidden;position:relative;height:240px;z-index:0}
.block_category .col4 .imgLabel span{bottom:50px;right:50%;margin-right:-30px;color:#e02c6d}
.block_category .col4 .imgLabel span small{background:#e02c6d}
.block_category .col4 .imgLabel .details{position:absolute;top:50px;right:50%;margin-right:-78px;opacity:0;transition:all .3s ease-in-out}
.block_category .col5 .box_category{height:312px}
.block_category .col5 h2 a{float:left;background:#f86161;width:25%;height:312px;padding:40px 0}
.block_category .col5 h2 a span{width:155px;height:155px;background-position:1px -159px;margin:50px auto 0}
.block_category .col5 .imgLabel{overflow:hidden;position:relative;height:312px;z-index:0;float:right;width:75%}
.block_category .col5 .imgLabel .details{font:17px/27px IRANSans;color:#f4f1e5;position:absolute;top:80px;right:50px;opacity:0;transition:all .3s ease-in-out}
.block_category .col5 .imgLabel span{bottom:50%;left:40px;margin-bottom:-30px;color:#fff}
.block_category .col5 .imgLabel span small{background:#f05025}
.block_category .col6 .box_category{height:153px}
.block_category .col6 h2 a{float:left;background:#d93adb;width:50%;height:153px}
.block_category .col6 h2 a span{width:75px;height:57px;background-position:-5px -338px;margin:5px auto 20px}
.block_category .col6 .imgLabel{overflow:hidden;position:relative;height:153px;z-index:0;float:right;width:50%}
.block_category .col6 .imgLabel span{bottom:50%;right:50%;margin-bottom:-30px;margin-right:-30px;color:#c334c5}
.block_category .col6 .imgLabel span small{background:#c334c5}
.block_category .col7 .box_category{height:153px}
.block_category .col7 h2 a{float:right;background:#008ba0;width:30%;height:153px;padding:25px 0}
.block_category .col7 h2 a span{width:110px;height:70px;background-position:-21px -414px;margin:7px auto 0}
.block_category .col7 .imgLabel{overflow:hidden;position:relative;height:153px;z-index:0;float:left;width:70%}
.block_category .col7 .imgLabel span{bottom:50%;right:40px;margin-bottom:-30px;color:#008ba0}
.block_category .col7 .imgLabel span small{background:#008ba0}
.block_category .col7 .imgLabel .details{position:absolute;top:35px;right:130px;opacity:0;transition:all .3s ease-in-out;font:15px/25px IRANSans;color:#fcfcfc}
.special_offer,.discount_other{overflow:hidden}
.box_offer{overflow:hidden;position:relative;border-radius:10px;border-bottom:5px solid #d2d2d2;z-index:2;margin-bottom:20px}
.discount_other .box_offer{zoom:.75}
.box_offer .time_out{right:0;left:inherit;border-radius:0 0 0 10px}
.box_offer img{width:100%;height:368px;object-fit:cover;transition:all .3s ease-in-out;position:relative;z-index:0}
.box_offer .Information{overflow:hidden;position:absolute;background:rgba(0,0,0,0.7);bottom:0;right:0;width:100%}
.box_offer .Information h2{margin:0;padding:8px 15px;overflow:hidden}
.box_offer .Information h2 a{font:17px/30px IRANSans;color:#fff;width:calc(100% - 50px);display:block;float:right;overflow:hidden!important;white-space:nowrap!important;text-overflow:ellipsis!important}
.box_offer .Information > span,.box_offer .Information h2 span{font:13px/30px IRANSans;color:#fff}
.box_offer .Information h2 span .fa{padding-right:6px}
.box_offer .Information h2 span{float:left}
.box_offer .Information span.address{float:right;padding:8px 15px 0 0}
.box_offer .Information span.address .fa{font-size:24px;padding:0 0 0 10px;float:right}
.price{float:left;background:#fff;border-radius:0 10px 0 0}
.price span{float:right;font:14px/22px IRANSans;color:#b31515;text-align:center;padding:0 10px;position:relative}
.price span del,.price span ins{font-size:16px}
.price span ins{text-decoration:none}
.price span b{display:block}
.price span.with_discount{background:#f05025;color:#fff;margin-right:10px;padding-bottom:2px}
.price span.with_discount:before{content:"";width:24px;height:46px;background:url(images/icon.png) no-repeat -2px -496px;position:absolute;top:0;left:100%}
.box_offer:hover img{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.brands{overflow:hidden}
.box_brand{overflow:hidden;border:1px solid #cecccc;text-align:center;border-radius:10px;margin-bottom:20px}
.box_brand img{max-width:100%;height:130px;object-fit:cover;transition:all .2s ease-in-out}
.box_brand img:hover{-webkit-filter:drop-shadow(4px 4px 5px rgba(0,0,0,0.6));filter:drop-shadow(4px 4px 5px rgba(0,0,0,0.3))}
#social{overflow:hidden;background:#4f4f4f}
.block_newsletters{float:right;width:45%;background:url(images/newsletters.png) no-repeat center;height:190px}
p.wysija-paragraph label{display:none;}
p.wysija-paragraph{margin:0;}
.block_newsletters form{border:1px solid #bfbcbc;background:#fff;border-radius:7px;width:88%;margin:76px 0 0;overflow:hidden}
.block_newsletters form input[type="text"]{float:right;padding:0 15px;background:none;border:0;font:19px/30px IRANSans;height:54px;color:#d1cece;width: 70%;direction: ltr;}
.block_newsletters form input[type="submit"]{float:left;background:#f05025;border:0;border-right:1px solid #bfbcbc;font:20px/30px IRANSans;height:54px;color:#fff;border-radius:7px;width:30%;margin: 0;text-align: center !important;}
.block_newsletters form input[type="submit"]:hover{background:#cd0606}
.social_footer{overflow:hidden;float:right;padding-top:50px}
.social_footer a{float:right;width:90px;height:90px;margin:0 0 0 20px;background:url(images/icon.png) no-repeat}
.social_footer a:last-child{margin:0}
.social_footer a.telegram{background-position:-57px -690px}
.social_footer a.instagram{background-position:-57px -498px}
.social_footer a.facebook{background-position:-55px -592px}
.social_footer a:hover{opacity:.8}
.concession{float:left;margin-left:-30px}
.concession img{float:right}
footer{overflow:hidden;background:url(images/bg-footer.jpg) repeat-x bottom #3c3c3c;padding:42px 0 85px}
.about_us p{font:9pt/20pt IRANSans;color:#d3d3d3}
.service{overflow:hidden;display:table-cell;padding:0 10px}
.service span{font:14pt/30pt IRANSans;color:#fff;display:block}
.service ul{margin:0;padding:0}
.service ul li a{font:9pt/20pt IRANSans;color:#dedede;display:block}
.service ul li a:hover{color:#fff}
footer .map img{max-width:100%;border-radius:20px;display:block;margin:20px auto 0}
#copyright{overflow:hidden;background:#3c3c3c}
#copyright p{margin:0;float:right;font:10pt/19pt IRANSans;color:#adadad;padding:10px 0}
.onliner{float:left}
#top-link-block.affix{position:fixed;bottom:80px!important;right:20px;top:inherit;width:44px;height:44px;background:none;text-align:center;z-index:9999}
#top-link-block.affix a:hover{background:#686868}
#top-link-block a{color:#f6f6f6;background:#717171;border:2px solid #f6f6f6;width:44px;height:44px;display:inline-block;margin:0;border-radius:50%;padding:6px;transition:all .3s ease 0}
#top-link-block a .fa{display:block;padding-top:1px;font-size:25px}
.post-content{overflow:hidden;font:300 10pt/20pt IRANSans;color:#616161;text-align:justify;margin:12px 0}
.post-content p{margin-bottom:15px}
.post-content a{color:#3893d1;position:relative}
.post-content a:hover{color:#1d94d1}
.post-content ul li{list-style:inside disc}
.post-content ol li{list-style:decimal inside}
.post-content .alignright{float:right;margin:12px 0 12px 12px;max-width:100%}
.post-content .alignleft{float:left;margin:12px 12px 12px 0;max-width:100%}
.post-content .aligncenter{display:block;margin:12px auto;max-width:100%}
.post-content h2{color:#535d60;font:20px/30px IRANSans}
.post-content h3{color:#535d60;font:19px/30px IRANSans}
.post-content h4{color:#535d60;font:18px/30px IRANSans}
.post-content h5{color:#535d60;font:17px/30px IRANSans}
.post-content h6{color:#535d60;font:16px/30px IRANSans}
.post-content table{width:100%;box-sizing:border-box}
.post-content hr{margin-top:-5px;padding:0}
.post-content strong{font-weight:700}
.post-content img{max-width:100%}
.post-content input[type="text"], .post-content input[type="submit"], .post-content input[type="email"], .post-content input[type="number"], .post-content input[type="password"], .post-content select, .post-content textarea, .post-content input[type="tel"]{background:#fff;border:1px solid #ccc;padding:0 8px;font:14px/30px tahoma;color:#777;margin-top:5px;border-radius:16px;transition:all .2s ease-in-out}
.post-content input[type="text"], .post-content select, .post-content input[type="email"], .post-content input[type="number"], .post-content input[type="password"],.post-content input[type="tel"]{width:40%;height:32px}
.post-content input[type="submit"]{background: #f05025 !important;padding:0 30px;color: #fff !important;font:14px/27px IRANSans_bold;cursor:pointer;float:left;margin-top:0;box-shadow:none;border-radius:25px;border:0;height:32px;font-weight: normal !important;}
.post-content textarea{width:100%;height:120px}
input:focus,textarea,select{outline:0}
.post-content input:focus,.post-content textarea:focus{background:#f7f7f7}
input[type="submit"]:hover, input[type="button"]:hover, button:hover{background-color: #cd0606 !important;}
.post-content input[type="submit"]:focus{background-color:#cd0606}
#comment,#respond{overflow:Hidden}
#comment h3,#respond h3{font:bold 14pt/30pt IRANSans;margin:0 0 5px}
ol.commentlist{list-style:none;margin:0;padding:0}
ol.commentlist li{margin:0 0 15px;position:relative;list-style:none;border:1.5px solid #979797;padding:20px;border-radius:5px}
ol.commentlist li.pingback comment-author{padding:0 170px 0 0}
ol.commentlist .comment-body{overflow:hidden}
ol.commentlist li div.vcard img{object-fit:cover;margin-left:5px;float:right}
ol.commentlist li div .fn{font:11pt/20pt IRANSans;color:#ff5a5f}
ol.commentlist li div .fn .fa{padding-left:7px}
ol.commentlist li div .comment-meta{color:#82848e;font:12px/20pt IRANSans;padding-right:20px}
ol.commentlist .content_comment{overflow:hidden;border-right:1px solid #d9d9d9;padding-right:15px;color:#8d9289;font:11pt/22pt IRANSans}
ol.commentlist .content_comment p{margin:0}
ol.commentlist .comment-body .comment-author{float:right;width:15%}
ol.commentlist li div.reply{clear:both;overflow:hidden;border-radius:3px;text-align:center;margin-top:10px;font:10px/20px IRANSans;width:100px;background-color:#f05025}
ol.commentlist li div.reply a{display:block;color:#fff}
ol.commentlist li div.reply:hover{opacity:.5}
ol.commentlist li .comment-awaiting-moderation{font:11px/20px IRANSans;color:#f00150;float:right;margin:2px 130px}
ol.commentlist li ul{font-weight:400;margin:0 14% 0 0;padding:0 0 5px 5px}
ol.commentlist li ul.children li{background:#efefef;box-shadow:0 0 6px #cecece;border:1px solid #cdcdcd;position:relative}
ol.commentlist li ul.children li:before{content:"";width:14px;height:9px;background:url(images/klhy.jpg) no-repeat;position:absolute;top:-8px;right:6.4%}
ol.commentlist li ul.children .vcard{width:25%}
ol.commentlist li ul.children .fn{color:#4f4f4f;font-size:16pt}
ol.commentlist li ul.children .content_comment{color:#4f4f4f}
ol.commentlist li ul.children li.depth-2{margin:20px 0 0}
ol.commentlist li ul.children li.depth-3{margin:20px 0 0}
ol.commentlist li ul.children li.depth-4{margin:20px 0 0}
ol.commentlist li ul.children li.depth-5{margin:20px 0 0}
.open_comment{margin:10px auto;display:inherit;color:#0088f3;background:#fafafa;border:1px solid #c8ced0;padding:10px 20px;border-radius:5px;box-shadow:0 0 6px #cecece;outline:0}
.open_comment:hover{background:#f4f4f4}
.cptch_block input[type="text"]{width:70px!important;margin:0}
#respond p{margin:0}
.breadcrumb{overflow:hidden;background:none;margin:0 0 5px;padding:8px 0}
.breadcrumb li{font:10pt/20px IRANSans}
.breadcrumb>li+li:before{padding:0}
.breadcrumb li a,.breadcrumb>.active{color:#a7a7a7}
.title_post{overflow:hidden;background:#f2f2f2;border-radius:5px;position:relative;height:60px;margin-bottom:10px}
.title_post span.like{float:right;color:#fff;font:11pt/45pt IRANSans;background:#f05025;padding:0 10px;position:relative}
.title_post span.like .fa{font-size:20px;padding-left:5px}
.title_post span.like:before{content:"";width:0;height:0;border:10px solid transparent;border-right-color:#f05025;position:absolute;top:21px;right:100%}
.title_post h1{margin:0;font:16pt/28pt IRANSans;color:#707070;padding:12px 19px 0 0;float:right}
.block_gallery{overflow:hidden}
.block_gallery .gallery_item,.block_gallery_archive .gallery_item{width:65%;border-left:0;padding:0}
.block_gallery .carousel-inner,.block_gallery_archive .carousel-inner{border-radius:0 7px 7px 0}
.block_gallery .carousel-indicators li,.block_gallery_archive .carousel-indicators li{width:18px!important;height:18px!important}
.block_gallery .option_item_gallery,.block_gallery_archive .option_item_gallery{zoom:1.3;left:0}
.block_gallery .content_item,.block_gallery_archive .content_item{width:35%;padding:0 25px}
.block_gallery .content_item .Slogan{text-align:center;border:1px solid #dedede;border-right:0;border-left:0;padding-bottom:9px}
.block_gallery .content_item .Slogan span{font:15pt/34pt IRANSans;padding:0 35px;display:inline-block;border-radius:0 0 6px 6px;background:#f05025;color:#fff}
.info-counter{overflow:hidden;padding:22px 10px 17px;border-bottom:1px solid #dedede}
.info-counter span{float:right;font:15pt/24pt IRANSans;color:#585858}
.info-counter span .fa{padding:6px 0 0 7px;float:right}
.info-counter p{float:left;color:#9a9999;margin:0;clear:both}
.info-counter p span{float:right;padding:0 14px;font:11pt/13pt IRANSans}
.xdsoft{float:left;direction:ltr}
.xdsoft_flipcountdown{display:inline-block}
.xdsoft_flipcountdown .xdsoft_digit{float:left;background-repeat:no-repeat}
.xdsoft_flipcountdown .xdsoft_clearex{clear:both;float:none}
.xdsoft_flipcountdown >.xdsoft_digit{background-position:0 0}
.xdsoft_flipcountdown >.xdsoft_digit.xdsoft_separator,.xdsoft_flipcountdown >.xdsoft_digit.xdsoft_dot{opacity:.9}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit{width:53px;height:76px;background-image:url(images/digit-lg.html)}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_space,.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_separator,.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_dot{width:14px;background-position:-19px -5082px}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_dot{background-position:-41px -5082px}
.xdsoft_flipcountdown.xdsoft_size_lg >.xdsoft_digit.xdsoft_space{background-position:-100px -5082px}
.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit{width:36px;height:51px;background-image:url(images/digit-md.html)}
.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit.xdsoft_space,.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit.xdsoft_separator,.xdsoft_flipcountdown.xdsoft_size_md >.xdsoft_digit.xdsoft_dot{width:10px;background-position:-13px -3432px}
.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit{width:24px;height:34px;background-image:url(images/digit-sm.png)}
.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit.xdsoft_space,.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit.xdsoft_separator,.xdsoft_flipcountdown.xdsoft_size_sm >.xdsoft_digit.xdsoft_dot{width:10px;background-position:-6px -2310px}
.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit{width:16px;height:23px;background-image:url(images/digit-xs.png)}
.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit.xdsoft_space,.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit.xdsoft_separator,.xdsoft_flipcountdown.xdsoft_size_xs >.xdsoft_digit.xdsoft_dot{width:5px;background-position:-5px -1584px}
.price_item{border-bottom:1px solid #dedede;padding:10px 70px}
.price_item span{display:block;font:14pt/25pt IRANSans;color:#c1c1c1;white-space:nowrap}
.price_item span ins{text-decoration:none}
.price_item .price_discount{color:#49c668;font-size:19pt;margin-bottom:10px}
.share_gift_bye{overflow:hidden;padding-top:4px}
.share_gift_bye .link_share{float:right;font:14pt/27pt IRANSans;color:#fff;border-radius:5px;background:#838282;padding:0 25px}
.share_gift_bye .link_share .fa{float:right;padding:5px 0 0 8px;font-size:17pt}
.share_gift_bye .link_share:hover{background:#706f6f}
.share_gift_bye .link_gift{float:left;font:17pt/26pt IRANSans;border-radius:5px;border:1px solid #2baf4b;color:#2baf4b;padding:0 25px;margin-bottom:10px}
.share_gift_bye .link_gift .fa{float:left;font-size:23pt;padding:3px 15px 0 0}
.share_gift_bye .link_gift:hover{background:#2baf4b;color:#fff}
.share_gift_bye .link_bye{display:block;font:18pt/35pt IRANSans;background:#f05025;text-align:center;clear:both;padding:15px 0;color:#fff;border-radius:6px}
.share_gift_bye .link_bye .fa{font-size:25pt;padding-left:10px}
.share_gift_bye .link_bye:hover{background:#ca0606}
.box_single{overflow:hidden;margin-top:10px}
.box_single .title_block span{color:#f05025;font-weight:700;background:url(images/bg-title2.png) no-repeat center #fff;width:260px}
.related_product .box_offer{zoom:.77}
.Property ul{margin:0;padding:0}
.Property ul li{overflow:hidden;padding:3px 0;list-style:none}
.box_terms_use{overflow:hidden;background:#fafafa;border-radius:10px;margin:50px 0;display:table;width:100%}
.item_terms_use{overflow:hidden;width:70%;padding:12px 25px;display:table-cell;vertical-align:middle}
.item_terms_use p{font:13pt/25pt IRANSans;color:#a9a79d}
.item_terms_use p .fa{color:#f05025;width:25px}
.item_terms_use p span{color:#020a19}
.img_item{overflow:hidden;width:30%;text-align:center;background:#f2f2f2;display:table-cell;vertical-align:middle}
.img_item img{max-width:100%}
.box_map{border-radius:10px;position:relative;overflow:hidden}
.label_map{overflow:hidden;background:#fff;border-radius:7px;border:2px solid #fd6e71;position:absolute;right:50%;top:50%;margin-right:-173px;margin-top:-45px;padding:10px 30px;z-index:1;font:bold 17pt/50pt IRANSans;color:#f05025;transition:all .2s ease-in-out}
.label_map .fa{padding-left:30px;font-weight:700}
.box_map:hover .label_map{opacity:0}
.col-box_use{overflow:hidden;margin:0 0 20px}
.col-box_use .col_2{float:right;width:23.1%;border:2px solid #d1d1d1;border-radius:10px;padding:5px 25px;margin-left:30px;text-align:center;white-space:nowrap}
.col-box_use .col_2:last-child{margin:0}
.col-box_use .col_2 img{width:100PX;min-height:100px;height:auto;object-fit:cover}
.col-box_use .col_2 span{font:bold 12pt/27pt IRANSans;color:#f05025;display:block;margin-top:10px}
.block_gallery_archive .time_out{left:0}
.block_gallery_archive .content_item > span a{font:16pt/30pt IRANSans;color:#707070;padding:5px 0;margin:0;white-space:nowrap}
.block_gallery_archive .content_item > span a .fa{padding-top:8px}
.block_gallery_archive .content_item h2 a{border-right:0;border-bottom:1px solid #dedede;margin:11px 0 0;padding-bottom:10px}
.block_gallery_archive .like{display:block;text-align:center;color:#f05025;font:13pt/25pt IRANSans}
.block_gallery_archive .like .fa{padding-left:5px}
.block_posts .title_block span{background-size:100% 100%;width:auto;padding:0 37px;font-size:14pt}
.special_offer,.discount_other,.brands,.related_product,.block_posts{margin:0 -15px}
.special_offer .title_block,.discount_other .title_block,.brands .title_block,.related_product .title_block,.block_posts .title_block{margin:20px 15px}
.block_posts .box_offer{margin-bottom:20px}
.text_short_category{display:table;overflow:hidden;width:100%;border-radius:10px;overflow:hidden;margin:30px 0}
.text_short_category .text,.text_short_category .label{display:table-cell}
.text_short_category .text{background:#abaaaa;width:80%;padding:20px 30px;vertical-align:middle;font:13pt/25pt IRANSans;color:#fff}
.text_short_category .label{width:20%;background:#f86161;text-align:center}
.text_short_category .label a{color:#fefefe;padding:40px 10px 0;font:20pt/30pt IRANSans;display:block}
.text_short_category .label a span{width:155px;height:155px;font-weight:400;background:url(images/icon.png) no-repeat 1px -159px;display:block;margin:30px auto 0}
.box_button{display:none}
.menu_icon,.button_menu{float:right;overflow:hidden;background:none;border:0;cursor:pointer;color:#191919;font-size:30px;margin-top:12px;height:46px}
.button_menu{display:none}
.icon_respan{position:absolute;left:14px;top:9px;border-radius:50%;background:#3a3a3a;color:#fff;width:30px;padding-top:6px;height:30px;text-align:center;display:none}
.title_about_us img{max-width:100%}
.block_service{display:table}
@media only screen and (max-width: 1194px) {
.box_button,.icon_respan{display:block}
.multiple_menu{display:none;width:100%;clear:both;background:#cecece;height:300px;visibility:visible;height:auto;overflow:auto;z-index:999999}
.multiple_menu > li{display:block;border-bottom:1px solid #adadad;padding:0 14px;position:relative}
.mpm_content,.multiple_menu li.menu-default .mpm_content{height:auto;display:none;position:relative!important;overflow:hidden;width:100%!important;opacity:1;visibility:visible}
.multiple_menu li.menu-default ul ul{position:relative;right:0;height:auto;opacity:1;visibility:visible;width:100%}
.multiple_menu li a{padding:10px 15px}
nav{height:auto}
}
@media only screen and (min-width: 992px) and (max-width: 1194px) {
.block_login,.concession,.info-counter span,.box_offer .Information h3 span{display:none}
#form_header{margin-right:65px}
.content_item h2 a{font-size:20px;margin:20px 0;border:none}
.block_category .box_category h2 a{font-size:19px}
.block_newsletters{width:56%}
.xdsoft,.info-counter p{float:none;text-align:center}
.info-counter p span{float:none;display:inline}
.price_item{padding:10px 40px}
.share_gift_bye .link_share,.share_gift_bye .link_gift{padding:0 9px}
.col-box_use .col_2{margin-left:24px}
.block_gallery .content_item{padding:0 10px 0 0}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.block_login,.main_input,.content_item > span a,.concession,.col-box_use{display:none}
#form_header{float:left;margin:32px 30px 0 0}
.content_mini_cart{float:left}
.tabs,.tab-content,.block_gallery .gallery_item,.block_gallery .content_item,.block_gallery_archive .content_item,.block_gallery_archive .gallery_item{float:none;width:auto}
.tabs li{float:right;width:25%}
.share_gift_bye{margin-bottom:10px}
.content_item h2 a{font-size:20px;margin:20px 0;border:none}
.eye_buy a{margin:15px 3px 0}
.discount_other .box_offer,.related_product .box_offer{zoom:1}
.block_newsletters{width:58%;background-size:100%}
.block_service{width:100%}
.block_gallery .content_item{padding:0}
#copyright p,.onliner{float:none;text-align:center;display:block}
ol.commentlist li ul{margin:0 2% 0 0}
.post-content input[type="text"],.post-content select,.post-content input[type="email"],.post-content input[type="number"],.post-content input[type="password"]{width:50%}
.block_category .col3 .box_category,.block_category .col3 h2 a,.block_category .col3 .imgLabel{height:313px}
.nav-tabs>li.active>a:after,.nav-tabs>li.active>a:focus :after,.nav-tabs>li.active>a:hover :after{display:none}
}
@media only screen and (max-width: 767px) {
.phone,.social_header,.title_post .Discount,.title_post span.like,.block_login,.mpm_content .banner,.concession,.col-box_use{display:none}
.content_mini_cart{float:left}
.title_post{height:auto;padding-bottom:10px}
.menu_top_header{float:none;text-align:center}
.menu_top_header li{display:inline-block;float:none}
.row{margin:0}
.tabs,.tab-content,.block_gallery .gallery_item,.block_gallery_archive .gallery_item,.block_gallery_archive .content_item,.block_gallery .content_item{float:none;width:auto}
.tabs li{float:right;width:50%}
.nav-tabs>li.active>a:after,.nav-tabs>li.active>a:focus :after,.nav-tabs>li.active>a:hover :after{display:none}
.gallery_item{float:none;width:auto;padding:0;border:0;margin-bottom:20px}
.option_item_gallery,.time_out{left:0}
.content_item,ol.commentlist .comment-body .comment-author,ol.commentlist li ul.children .vcard{float:none;width:auto}
.discount_other .box_offer,.related_product .box_offer{zoom:1}
.block_newsletters{background-size:contain;float:NONE;width:auto;overflow:hidden}
.Newsletters{width:100%}
.social_footer{float:none;text-align:center;padding:25px 0}
.social_footer a{float:none;display:inline-block;margin:0 10px}
.block_service{width:100%}
#copyright p,.onliner{float:none;text-align:center;display:block}
.item_terms_use,.img_item,.text_short_category .text,.text_short_category .label{display:block;width:auto}
ol.commentlist li ul{margin:0}
.text_short_category .text{padding:20px;text-align:justify}
.block_gallery .gallery_item,.block_gallery_archive .gallery_item{margin-bottom:0}
ol.commentlist .content_comment{margin-top:15px;border:0;padding-right:0}
.block_gallery .content_item{padding:0}
.block_gallery_archive .content_item{padding:0 10px 10px}
.post-content input[type="text"],.post-content select,.post-content input[type="email"],.post-content input[type="number"],.post-content input[type="password"]{width:100%}
}
@media only screen and (max-width : 480px) {
.mpm_content ul.table > li{display:block}
.tabs li a .fa,.block_newsletters,.content_item .Discount,.info-counter span,.address_map,.question{display:none}
.block_category .col5 .imgLabel,.block_category .col5 h2 a{float:none;width:100%;display:block}
.block_category .col5 .box_category{height:624px}
.box_offer img{height:auto}
.xdsoft,.info-counter p{float:none;text-align:center}
.info-counter p span{float:none;display:inline}
.price_item{padding:10px 0}
.share_gift_bye .link_share,.share_gift_bye .link_gift{padding:0 10px}
}
a.link_gift i.fa{font-size:18px!important}
.menu-default div.banner img{display:none!important}
.pagination_wrapper{display:inline-block;text-align:center;width:100%;margin:0 auto;padding-right:0;padding-left:0}
.pagination{background-color:#fff!important;background-color:#eed;box-shadow:0 0 5px rgba(0,0,0,0.6);padding:10px;border-radius:3px;transition:all ease-in-out .1}
div.pagination span{margin-right:-3px;margin-left:-3px;padding:9px 15px;color:#6c6f78;transition:all ease-in-out .3s}
div.pagination span .current{color:#fff;margin:0!important}
div.pagination a{margin:0;padding:9px 15px;color:#6c6f78}
div.pagination > a:first-child,div.pagination >span:first-child{margin-right:-10px!important}
div.pagination > a:last-child,div.pagination > span:last-child{margin-left:-10px!important}
.page-numbers.current,a.page-numbers:hover{background:red;color:#fff;transition:all ease-in-out .1s}
.nav_auth>li>a:hover,.nav_auth>li>a:focus,.nav_auth .open>a,.nav_auth .open>a:hover,.nav_auth .open>a:focus{background:#fff}
div.block_login .dropdown{margin-top:-10px;border:1px solid #c4c2c2;border-radius:24px;float:right;height:40px;position:relative;background:#fff;font:normal 13px/30px IRANSans;color:#4a4a4a;position:relative;width:150px}
li.dropdown a{color:#989898;padding:8px 15px 0 0;background:none!important}
li.dropdown a span{display:inline-block;font-size:19px;color:#3a3a3a;float:right!important}
li.dropdown a:hover,li.dropdown a:focus,ul.dropdown-menu li:hover{background-color:transparent!important}
.dropdown-menu>li>a{color:#696969}
.dropdown ul.dropdown-menu{border-radius:4px;box-shadow:none;margin-top:15px;width:150px}
.dropdown ul.dropdown-menu:before{content:"";border-bottom:10px solid #f9f9f9;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;top:-10px;right:16px;z-index:10}
.dropdown ul.dropdown-menu:after{content:"";border-bottom:12px solid #ccc;border-right:12px solid transparent;border-left:12px solid transparent;position:absolute;top:-12px;right:14px;z-index:9}
ul#shr_social{padding-right:15px;width:60px;margin-top:10px;background-color:#f4f4f4}
ul#shr_social li{padding:0;margin:0;margin-top:5px}
ul#shr_social li a img{width:30px;height:30px;padding:0;margin:0}
ul#shr_social:before{content:"";border-bottom:10px solid #fff;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;top:-10px;right:16px;z-index:10}
ul#shr_social:after{content:"";border-bottom:12px solid #ccc;border-right:12px solid transparent;border-left:12px solid transparent;position:absolute;top:-12px;right:14px;z-index:9}
.br-widget{float:right}
.br-theme-css-stars .br-widget{height:28px;white-space:nowrap}
.br-theme-css-stars .br-widget a{text-decoration:none;height:18px;width:18px;float:left;font-size:23px;margin-right:5px}
.br-theme-css-stars .br-widget a:after{content:"\2605";color:#d2d2d2}
.br-theme-css-stars .br-widget a.br-active:after{color:#f05025}
.br-theme-css-stars .br-widget a.br-selected:after{color:#f05025}
.br-theme-css-stars .br-widget .br-current-rating{display:none}
.br-theme-css-stars .br-readonly a{cursor:default}
@media print {
.br-theme-css-stars .br-widget a:after{content:"\2606";color:#000}
.br-theme-css-stars .br-widget a.br-active:after,.br-theme-css-stars .br-widget a.br-selected:after{content:"\2605";color:#000}
}
.post{background-color:#FFF;overflow:hidden;margin-top:30px;box-shadow:0 0 10px #CCC;margin-bottom:10px}
.post .content{padding:15px}
h1.post-title{font-size:16px;line-height:25px}
.post .author{font-size:12px;color:#737373;padding:60px 0 15px}
.post .post-img-content{height:150px;position:relative}
.post .post-img-content img{position:absolute}
.post .post-title{display:table-cell;vertical-align:bottom;z-index:2;position:relative}
.post .post-title b{background-color:rgba(51,51,51,0.58);display:inline-block;margin-bottom:5px;color:#FFF;padding:10px 15px;margin-top:5px;cursor:pointer;transition:ease-in-out all .3s}
.post .post-title b:hover{background-color:rgba(51,51,51,1)}
.post a{background-color:rgba(51,51,51,0.58);display:inline-block;margin-bottom:5px;color:#FFF;padding:10px 15px;margin-top:5px;cursor:pointer}
.post a:hover{background-color:rgba(51,51,51,1);color:#fff}
.post a.post_readmore{background-color:#f05025;color:#fff}
.title_block{width:auto!important}
.box_single .title_block span.post_single{width:auto!important}
.post_single_img{box-shadow:0 0 10px #CCC}
.content_mini_cart{margin:32px 20px 0 0;padding:0 10px;font:13px/20px IRANSans;position:relative;overflow:visible}
.content_mini_cart .fa{float:right;padding:9px 0 0 6px;font-size:17px}
.content_mini_cart a.main_title_cart{color:#9a9a9a;line-height:40px;text-align:center}
.main_cart_list{background:#fff;box-shadow:0 0 10px #CCC;padding:10px;display:none;list-style-type:none;position:absolute;top:140%;right:3px;width:300px;z-index:9}
.main_cart_list:before{content:"";border-bottom:10px solid #fff;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;top:-10px;right:16px;z-index:10}
.main_cart_list:after{content:"";border-bottom:12px solid #ccc;border-right:12px solid transparent;border-left:12px solid transparent;position:absolute;top:-12px;right:14px;z-index:9}
ul.product_list_widget li img{width:65px!important;height:65px!important;margin:0 0 0 8px;float:right!important}
ul.product_list_widget li.mini_cart_item a.remove{float:left;margin-top:-5px;font-size:22px}
dl{padding:0;margin:0}
dt{float:right!important;padding:0 0 0 5px;margin:0}
dd{padding:0;margin:0}
span.number_items_cart{height:20px;width:20px;color:#fff;float:left;display:inline-block;background-color:#4CAF50!important;margin:9px 8px 0 0;border-radius:100%;line-height:22px}
span.woo_price_amount{margin-top:-10px;margin-right:-10px!important}
.dokan-dashboard-header h1.entry-title{padding-top:10px!important;margin-right:10px!important}
table.dokan-table{vertical-align:middle!important}
ul.dokan-dashboard-menu li{list-style-type:none!important}
section#wrapper{width:auto!important}
div.dokan-product-short-description{width:90%!important}
div.dokan-product-description{width:90%!important}
div.product-inventory{width:90%!important}
.product-edit-new-container .dokan-edit-row{width:90%}
input[type="submit"].dokan-btn-lg,a.dokan-btn-lg,.dokan-btn-lg{width:90%!important}
p.Become_Seller a.btn{color:#fff!important}
nav.woocommerce-MyAccount-navigation{height:auto}
nav.woocommerce-MyAccount-navigation ul{padding-right:0!important}
nav.woocommerce-MyAccount-navigation ul li{list-style-type:none!important;margin-right:0!important}
.rotate180{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
div.cutter i{margin-top:-14px;position:absolute}
div.lines{border-top:1px dashed #789}
.dropdown-menu{padding:0}
.dropdown-menu li a{transition:all .1s ease-in-out;padding:10px 10px 10px 0;background:#f9f9f9;border-bottom:1px solid #eaeaea}
.dropdown-menu li a:hover{background:#f1f1f1!important}
.cart_list.product_list_widget{overflow:hidden;padding:0;margin:0}
.cart_list.product_list_widget li.mini_cart_item{overflow:hidden;list-style:none;background:#f5f5f5;margin-bottom:5px;border-radius:3px}
.cart_list.product_list_widget li.mini_cart_item span.quantity{overflow:hidden;display:block;color:#008c06;margin-top:-7px}
.cart_list.product_list_widget li.mini_cart_item dl.variation{color:#690000;padding:0;display:inline-block;border:none;line-height:normal;white-space:nowrap}
.cart_list.product_list_widget li.mini_cart_item dl.variation dt{font-weight:500}
.cart_list.product_list_widget li.mini_cart_item dl.variation dd{margin:0}
.cart_list.product_list_widget li.mini_cart_item a.remove{float:left;color:red;display:block;height:20px;line-height:25px}
.cart_list.product_list_widget li.mini_cart_item a.title_mini_cart_onliner{color:#000;font:300 13px/24px iransans;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block}
.cart_list.product_list_widget li.mini_cart_item a:nth-child(2) img{float:right;margin:0 0 0 10px;width:88px;height:auto}
p.total{overflow:hidden;background:#f5f5f5;color:#6b6b6b;padding:9px 5px;margin:0 0 2px}
p.buttons{overflow:hidden;margin:0 -1%}
p.buttons a{display:block!important;width:48%!important;float:right!important;background:#f05025!important;color:#fff!important;text-align:center!important;margin:1%!important;line-height:33px!important;border-radius:4px!important;box-sizing:border-box!important;transition:all .1s ease-in-out;padding:0!important}
p.buttons a:hover{background:#c50303}
.woocommerce-MyAccount-navigation{background:none;box-shadow:none}
.woocommerce-MyAccount-navigation ul li:hover a{color:#000}
.woocommerce-MyAccount-navigation ul li{list-style:none}
.woocommerce-MyAccount-navigation ul li a{display:block;background:#eaeaea;line-height:45px;color:#666;padding-right:20px;border:1px solid #d6d6d6;border-bottom:0;box-sizing:border-box}
.woocommerce-MyAccount-navigation ul li.is-active a{background:none;border-left:0;border-right:4px solid #00ce19}
.woocommerce-MyAccount-navigation ul li:last-child a{border-bottom:1px solid #d6d6d6}
.block_login.block_login_seller{margin: 12px 0px 0 10px;padding:0;width:auto;}
.block_login.block_login_seller li.dropdown{width:auto;padding-left:10px}
.block_login.block_login_seller li.dropdown i{float:right!important;padding-left:0;font-size: 19px;color: #6b6b6b;}
.block_login.block_login_seller .onliner_get_seller_balance{overflow:hidden;float:left}
.block_login.block_login_seller .onliner_get_seller_balance span{float:left!important;font-size:13px;color:#f05025}

.dashicons-admin-appearance a.mega-menu-link:before{font-family:dashicons!important;}
a.fa.mega-menu-link:before{font:normal normal normal 17px/55px FontAwesome!important;}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item a.mega-menu-link:before{margin:0 0 0 5px !important}
ul#mega-menu-main-menu > li > a {line-height: 58px !important;}
#mega-menu-wrap-main-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu ul.mega-sub-menu, #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item, #mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link{
	text-align:right;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after{
	float:left;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    right: 100%;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu{
	box-shadow: 0px 0px 20px #d4d4d4;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu a.fa.mega-menu-link:before{font:normal normal normal 17px/35px FontAwesome!important;}
.post_box_mega_menu{
    float: right;
    width: 25%;
    overflow: hidden;
    padding: 7px;
    text-align: right;
}
.post_box_mega_menu img{
    display: block;
    margin: auto;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
		transition: all 0.5s ease-in-out;
}
.post_box_mega_menu img:hover{
	transform:scale(1.1,1.1)
}
.post_box_mega_menu h3{
    font-size: 15px;
    font-weight: normal;
}
.post_box_mega_menu h3 a{
    color: #666;
}
@media only screen and (max-width: 767px) {
.post_box_mega_menu{width:50%;}
}
@media only screen and (max-width: 480px) {
.post_box_mega_menu{width:100%;}
}
.wc-proceed-to-checkout .checkout-button{
	background: #f05025 !important;
    font-weight: normal !important;
    width: 160px !important;
    line-height: 10px !important;
}
ul.wc_payment_methods li{
	list-style:none;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
    left: 96%;
    margin: -15px 0px 0 0;
}
.wysija-msg.ajax{
	
font: 13px/20px 'IRANSans' !important;
	
margin: 80px 0 0 30px;
}