               


<style>
.mobile-menu{
    display:none;
}
.top_header{
z-index: 999999999999999999999 !important;
}

.mobile-menu{
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 999999999999999999999;
}
.top_header{
    overflow: visible !important;
}

.category_navigation_mobile{
    display:none;
}

.category_navigation_mobile{
    background-color: transparent !important;
    border: none !important;
}

@media only screen and (max-width: 500px) {
ul{
padding: 0 !important;
}

#form_header
{
display: block;
margin:0;
}
.main_select{
float:unset !important;
}
.main_input{
    margin-right:0;
    margin-top: 6px;
}
.category_navigation{
display:none;
}
 .top_header ul,.category_navigation_mobile ul{
background-color: black !important;
z-index: 9999999999999999999999 !important;
}

 .top_header ul li, .category_navigation_mobile ul li{
float: unset !important;
}

.category_navigation_mobile{
    display:block;
}


.category_navigation_mobile button{
    background-color: #f79122 !important;
    color: white !important;
    border: none;
}

.category_navigation_mobile ul{
    background-color: #f79122 !important;
    color: white !important;
}
.category_navigation_mobile li a{
color: white !important;
}

.category_navigation_mobile ul {
width: 100%;
padding-right: 10px;
}

.category_navigation_mobile .navbar-collapse{
border: none !important;
}

    .menu_top_header{
        display:none;
    }
    .mobile-menu{
        display:block;
    }

    .block_tab_menu a{
        width: 30%;
    }
.block_tab_menu img{
    /* width: 30% !important; */
     margin-top: 0 !important;
     }

     .block_tab_menu *{
        text-align: center;
     }
    .block_tab_menu .content_item{
        width:100% !important;
    }
    .block_tab_menu .content_item {

    }

    .logo{ 
    width: 172px;
    }

    header{
    margin-top: 20px;
    }
    .block_login {
        float: right !important;
        padding-right: 5em;
        padding-bottom:10px;
    }
    .block_login a{
        display:block !important;
        margin:auto !important;
        float: unset !important;
    }

}




</style>
                    <section class="top_header">
    <div class="container">
        <div class="row">

        <div class='mobile-menu'>
            <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" style="background-color: #333 !important;" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/">
                                       <span style="color: #f79220;
    font-weight: bold;">
                           پــــــ
                           </span>
                         <span style="color:white;font-weight: bold;">  ـلازا</span>
                </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
 <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="/">صفحه اصلی</a></li>
                <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      
                      <% if current_user.nil? %>
                <a href="/users/sign_in">ورود \ ثبت نام</a>
              
<% else %>
                <% unless current_user.level == 0%>
                <a href="/admin/dashboard/index">داشبورد</a>
                
                <% else %>
                
             
                <% end %>
<% end %>

                      
                      <%# link_to 'تایم لاین',public_home_following_post_path %>
                  </li>
  <% unless current_user.nil? %>
 
                  
   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      <%= link_to 'علاقه مندی ها',public_home_favorites_path %>
                  </li>
                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      <%= link_to 'دنبال شدگان',public_home_following_path %>
                  </li>
                 
                  
                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      <%= link_to 'پیام ها',public_tickets_path %>
                  </li>
                 
                  <% end %>
                         <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?product_offer=true">
حراجی ها
</a>
                  </li>

                                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/expositions">
فروشگاه ها
</a>
                  </li>

                 
                                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?file=true">
فایل سنتر
</a>
                  </li>

                                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?product_vijeh=true">
آگهی ویژه
</a>
                  </li>



          

      
      <% unless current_user.nil? %>
                               <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?me=products">
آگهی های من
</a>
                  </li>

                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                    <a href="/public/home/register_exposition">ثبت نام فروشگاه
                <span class='btn-success' style="    font-size: 10px;
    padding: 2px;
    position: relative;
    top: -8px;">
                جدید
                </span>
                </a>
                  </li>

                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                     <%= link_to 'خروج' ,destroy_user_session_path, :method => :delete %>
                     </li >
<% end %>

<% if current_user.nil? %>
             <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                    <a href="/public/home/register_exposition">ثبت نام فروشگاه
                <span class='btn-success' style="    font-size: 10px;
    padding: 2px;
    position: relative;
    top: -8px;">
                جدید
                </span>
                </a>
                  </li>
<% end %>
                </ul>

                </div>
            </div>
            </nav>
        </div>

            <ul class="menu_top_header">
               <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="/">صفحه اصلی</a></li>
                <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      
                      <% if current_user.nil? %>
                <a href="/users/sign_in">ورود \ ثبت نام</a>
              
<% else %>
                <% unless current_user.level == 0%>
                <a href="/admin/dashboard/index">داشبورد</a>
                
                <% else %>
                
             
                <% end %>
<% end %>

                      
                      <%# link_to 'تایم لاین',public_home_following_post_path %>
                  </li>
  <% unless current_user.nil? %>
 
                  
   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      <%= link_to 'علاقه مندی ها',public_home_favorites_path %>
                  </li>
                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      <%= link_to 'دنبال شدگان',public_home_following_path %>
                  </li>
                 
                  
                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                      <%= link_to 'پیام ها',public_tickets_path %>
                  </li>
                 
                  <% end %>
                         <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?product_offer=true">
حراجی ها
</a>
                  </li>

                                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/expositions">
فروشگاه ها
</a>
                  </li>

                 
                                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?file=true">
فایل سنتر
</a>
                  </li>

                                   <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?product_vijeh=true">
آگهی ویژه
</a>
                  </li>



          

      
      <% unless current_user.nil? %>
                               <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
<a href="/products?me=products">
آگهی های من
</a>
                  </li>

                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                    <a href="/public/home/register_exposition">ثبت نام فروشگاه
                <span class='btn-success' style="    font-size: 10px;
    padding: 2px;
    position: relative;
    top: -8px;">
                جدید
                </span>
                </a>
                  </li>

                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                     <%= link_to 'خروج' ,destroy_user_session_path, :method => :delete %>
                     </li >
<% end %>

<% if current_user.nil? %>
             <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                    <a href="/public/home/register_exposition">ثبت نام فروشگاه
                <span class='btn-success' style="    font-size: 10px;
    padding: 2px;
    position: relative;
    top: -8px;">
                جدید
                </span>
                </a>
                  </li>
<% end %>

            </ul>
            <!--phone-->
            <div class="phone"><span> info@pplaza.ir</span></div>
			            
			<!--social-->
            <div class="social_header">
                                        <a href="#" title="تلگرام"><i class="fa fa-send-o"></i></a>
                                                <a href="#" title="اینستاگرام"><i class="fa fa-instagram"></i></a>
                                    </div>
        </div>
        <div>
        <br>
</section>
<br>
<!-- / Top Menu -->
    <!------ Header
------------------->
<header>
    <div class="container">
        <div class="row">

            <!--logo-->
                                      <span style='width: auto;
    float: right;
    margin-top: 49px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    '>
                           نیازمندی های آنلاین 
                           <br>
                           <span style="color: #f05025;">
                           پــــــ
                           </span>
                           ـلازا
                            </span>
                            <div class="logo" ><h1><a href="/" title=""></a></h1>
                            
                           
                            </div>
  






	
            
            <!--select search-->
            <div id="form_header">
                <div class="main_select">
                    <form action="/public/home/search" method='get' id="searchform" id="select_cities_form">
                        <i class="fa fa-map-marker"></i>
                        <select name='state' id='id_province' onchange="p24_load_cities_list(this.value, 'id_city');" style="font-family: IRANSans!important;">
                            <option value="0">همه شهر ها</option>
                            
                                   </select>
                    
                                        <div class="realoading"></div>

                </div>
                <div class="main_input">

                        <i class="fa fa-search"></i>
                        <input type="text" value="" name="q" id="s" style="font-family: IRANSans!important;"  placeholder="جستجو ..." />
                        <input type="hidden" name="post_type" value="product">
                        <input type="submit" id="searchsubmit" style="font-family: IRANSans!important;" value="جستجو" />
                    </form>
                </div>
            </div>
            
            <!--login-->
  
          <div class="block_login" style="     padding-top: 33px;   display: block !important;margin:auto;">
                <a href="<%= url_for new_product_path %>" class="btn btn-success btn-lg">ارسال رایگان آگهی<i class="fa fa-sign-in" style="float: right;
    padding-left: 12px;
    padding-top: 3px;
    font-size: 19px;"></i></a>            </div>

            <!--items cart-->
  

        </div>
        
    </div>
    
</header>
<!-- / Header -->    <!--Nav-->


<nav class="navbar navbar-inverse category_navigation_mobile">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarCategory">
                   دسته بندی
                   <i class="fa fa-caret-left"></i>
                </button>
  
                </div>
                <div class="collapse navbar-collapse" id="myNavbarCategory">
                <ul class="nav navbar-nav">
                <% Category.where(parent_id: nil).each do |category| %>
 <li id="menu-item-166" disabled class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166 disabled"><a disabled class='disabled'><%= category.name %></a>


 <ul>
                <% category.subcategories.each do |s| %>
                <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                                    <%= link_to public_home_category_path(permalink: s.permalink) do %>
                                    <%= s.name %>
                                <% end %>
                    </li>
                <% end %>

 </ul>
 </li>
<% end %>
                </ul>

                </div>
            </div>
            </nav>

<nav class='category_navigation'>
    <div class="container">
        <div class="row">
				
                
                <div id="mega-menu-wrap-main-menu" class="mega-menu-wrap"><div class="mega-menu-toggle" tabindex="0">
                <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right mega-toggle-block-3' id='mega-toggle-block-3'></div>
                </div>
                <ul id="mega-menu-main-menu" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true">
                


  
                
                <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon mega-menu-item-162' id='mega-menu-item-162'>
                <a class="mega-menu-link" href="/" tabindex="0">صفحه اصلی</a></li>
                <% Category.where(parent_id: nil).each do |category| %>

                <li class='mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-megamenu mega-has-icon mega-menu-item-156' id='mega-menu-item-156'>
                <a class="   mega-menu-link" href="#" aria-haspopup="true" tabindex="0"><%= category.name %></a>

 <% if category.subcategories.length > 0 %>
<ul class="mega-sub-menu">
<li class='mega-menu-item mega-menu-item-type-widget widget_display_product_in_mega_menu_by_onliner mega-menu-columns-1-of-1 mega-menu-item-display_product_in_mega_menu_by_onliner-6' id='mega-menu-item-display_product_in_mega_menu_by_onliner-6'>               

<% category.subcategories.each do |subcategory| %>
 <div class="post_box_mega_menu">
                   <%= link_to public_home_category_path(permalink: subcategory.permalink) do %>
                    <img src="<%= subcategory.image_url %>" title="" alt=""/>
                    <% end %>
                    <h3>
                    <%= link_to subcategory.name,public_home_category_path(permalink: subcategory.permalink) %>
                    </h3>
                 </div> 

<% end %>

		               

		 </li></ul>
         <% end %>
</li>

<% end %>





</ul></div><!--
            <div class="box_button">
                <button class="menu_icon" type="button"><i class="fa fa-bars"></i></button>
                <button class="button_menu" type="button"><i class="fa fa-remove"></i></button>
            </div>
            <ul class="multiple_menu"></ul>
-->	
        </div>
    </div>

</nav>
<div class="clear"></div>



<script>
$(document).ready(function(){
$('#id_province').change(function(){
    $('#searchform').submit();
})

$('#myNavbarCategory>ul li').click(function(){
    $(this).find('ul').slideToggle();

});

})
</script>

<style>
#myNavbarCategory>ul ul{
    display:none;
    padding-right: 5px !important;
    color: orange !important;
    background-color: white !important;
}
#myNavbarCategory>ul ul a{
color: orange !important;
}
</style>