    <%= render partial: 'partials/public/fix_menu' %>

                
                
                
                

 <div class="nav-header de researcher ">



                    <h5>دسته بندی ها</h5>



                    </div>
                    
                </div>




        <div class="inner">
            <div class="row">

                <% @products.each do |product| %>
                <div class="col-lg-4 col-md-4 col-sm-6">
               <%= render partial: 'partials/public/product',locals: {product: product} %>
                </div>
                <% end %>

                



            </div>





        </div>
         <%= render partial: 'partials/public/footer' %>