<%= render partial: 'partials/public/fix_menu' %>

       <!-- Dropdown Structure -->


       <div class="nav-header de researcher ">



           <h5><%= @file.name %></h5>



           </div>




           <!--<div class="ge">Learn how to do stuff</div>-->

       </div>








</nav>





<nav id="fix-menu-bar" style="display: none;">
   <div class="nav-wrapper">
       <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
       <ul id="nav-dd" class="right hide-on-med-and-down">
         <%= render partial: 'public/home/menu_links' %>
       </ul>

       <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

   </div>
</nav>





<div class="inner">
   <div class="row">


       <div class="col s12 m10 offset-m1 left container right-align">
           <div class="card-panel right-align ExpositionInboxCard">


               <div class="row right-align text-right" style='direction: rtl;'>
                   <%= simple_format @file.detail %>



                   <a class="waves-effect waves-light btn" style="margin: auto;
                   display: block;
                   width: 200px;">خرید فایل</a>
               </div>



           </div>
       </div>
   </div>








</div>






<%= render partial: 'partials/public/footer' %>