
    <%= render partial: 'partials/public/fix_menu' %>

                <!-- Dropdown Structure -->


                <div class="nav-header de researcher ">



                    <h5>صندوق پیام</h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                    <li><a href="sass.html">فرهنگ و هنز</a></li>
                    <li><a href="badges.html">الکترونیک</a></li>
                    <li><a href="collapsible.html">پوشاک</a></li>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





   <div class="inner">
              <h5 class="center-align"> محصولات فروشندگان غروشندگان فالو شده</h5>
            <div class="divider center-align product-divider"></div>
            <div class="row">
 <% @products.each do |product| %>
      <%= render partial: 'partials/public/product',locals: {product: product} %>
 <% end %>

              
            </div>
        </div>
        
        </div>



         <%= render partial: 'partials/public/footer' %>