
    <%= f.fields_for :properties, OpenStruct.new(@product.properties) do |builder| %>
        <% @product_fields.each do |field| %>
            <%= render "fields/#{field.field_type}", field: field, f: builder %>
        <% end %>
    <% end %>