    <%= render partial: 'partials/public/fix_menu' %>

<style>

</style>

                


<div class="clear"></div>
<!-- / Nav -->    <!--wrapper-->
    <section id="wrapper">
        <div class="container">
            <div class="row">
			
	<!--tab menu slider-->
<div class="block_tab_menu">
 

    <div class="tab-content" style="float: none;width:100%;">

        <!-- 1 Product - Most fan-->
            <div id="home" class="tab-pane fade in active">
                <div class="gallery_item" style="width:70%;">
                    <!--Map and views-->
                    <div class="option_item_gallery" style="display:none;">
                        <span class="address"><i class="fa fa-map-marker"></i></span><span class="number-sale"><i class="fa fa-shopping-basket"></i>9</span>
                    </div>

                    <script>
                        jQuery(function() {
                            var endDate = "";
                            jQuery('.countdown').countdown({
                                date: endDate,
                                render: function(data) {
                                    if ( ! data.sec  ) { data.sec = 0 };
                                    jQuery(this.el).html(
                                        '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                        '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                        '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                        '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                    );
                                }
                            });

                        });
                    </script>

                    <!-- Time out -->
                    <div class="time_out" style="display:none;">
                        <i class="fa fa-clock-o"></i>
                        <ul class="deal-timer countdown">

                        </ul>
                    </div>

                    <!-- slider -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                   

                            
                             

                                <% @shuffleProducts.where(accept: true).where.not(images: nil).limit(10).each_with_index do |product,i| %>
                                <div class="item <%= 'active' if i == 0 %>">
                                    <div class="img_item">
                                        <a href="/product/<%= product.id %>" title="<%= product.name %>">
                                        <%= image_tag product.images.first.url, alt: product.name rescue nil %>
                                        </a>
                                    </div>
                                </div>
                                <% end %>

                                
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                           



                                                            <% @shuffleProducts.each_with_index do |p,i| %>

                                                            <li data-target="#myCarousel" data-slide-to="<%= i + 1 %>" class='<%= 'active' if i === 0 %>'></li>
                                                            <% end %>

                                                    </ol>
                    </div>

                </div>

                <!--Details and Content-->
                <div class="content_item" style="float:none;width:30%;">

   
   
<a href="https://pplaaza.com" ><img  src='https://hamedesf.ir/wp-content/uploads/2017/01/01.png' style="margin-top:-11px;width:100%;" /></a>
<a href="https://pplaaza.com" ><img src='https://rahsepar.net/static/web/img/cafebazar.png' style="margin-top:32px;width:100%;" /></a>
<a href="https://pplaaza.com" ><img src='https://rahsepar.net/static/web/img/sibapp_new.png' style="margin-top:32px;width:100%;" /></a>
                </div>

            </div>
            


        <!-- 2 Product - Most sales-->
        
                    <div id="menu1" class="tab-pane fade">
                <div class="gallery_item">

                    <!--option-->
                    <div class="option_item_gallery">
                        <span class="address"><i class="fa fa-map-marker"></i>البرز</span> <span class="number-sale"><i class="fa fa-shopping-basket"></i>455</span>
                    </div>

                    <script>
                        jQuery(function() {
                            var endDate = "";
                            jQuery('.countdown1').countdown({
                                date: endDate,
                                render: function(data) {
                                    if ( ! data.sec  ) { data.sec = 0 };
                                    jQuery(this.el).html(
                                        '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                        '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                        '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                        '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                    );
                                }
                            });

                        });
                    </script>

                    <!--time_out-->
                    <div class="time_out" style="display:none;">
                        <i class="fa fa-clock-o"></i>
                        <ul class="deal-timer countdown1"></ul>
                    </div>

                    <div id="myCarousel2" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div class="img_item">
                                    <a href="product/%d8%aa%d8%a6%d8%a7%d8%aa%d8%b1-%d9%85%d9%86-%d9%88-%d8%af%d8%b1-%d9%84%d8%ac%d8%a8%d8%a7%d8%b2/index.html" title="تئاتر من و در لجباز "><img src="wp-content/uploads/2017/05/435797.d12da21430a76524fdb6cf85e84f3.jpg" title="تئاتر من و در لجباز " alt="تئاتر من و در لجباز "></a>
                                </div>
                            </div>

                            
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%d8%aa%d8%a6%d8%a7%d8%aa%d8%b1-%d9%85%d9%86-%d9%88-%d8%af%d8%b1-%d9%84%d8%ac%d8%a8%d8%a7%d8%b2/index.html" title="تئاتر من و در لجباز"><img src="wp-content/uploads/2017/05/435790.07e4925abda9e14f4edfe65e38cbebae.jpg" title="تئاتر من و در لجباز " alt=""></a>
                                    </div>
                                </div>

                                
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%d8%aa%d8%a6%d8%a7%d8%aa%d8%b1-%d9%85%d9%86-%d9%88-%d8%af%d8%b1-%d9%84%d8%ac%d8%a8%d8%a7%d8%b2/index.html" title="تئاتر من و در لجباز"><img src="wp-content/uploads/2017/05/435793.277431035328665d1f83dfd0e294ad9e.jpg" title="تئاتر من و در لجباز " alt=""></a>
                                    </div>
                                </div>

                                
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarouse2" data-slide-to="" class="active"></li>
                                                            <li data-target="#myCarousel2" data-slide-to="1"></li>
                                                            <li data-target="#myCarousel2" data-slide-to="2"></li>
                                                    </ol>
                    </div>
                </div>

                <!--Details and Content-->
                <div class="content_item">
                    <span><a href="product/%d8%aa%d8%a6%d8%a7%d8%aa%d8%b1-%d9%85%d9%86-%d9%88-%d8%af%d8%b1-%d9%84%d8%ac%d8%a8%d8%a7%d8%b2/index.html"><i class="fa fa-home"></i>تئاتر من و در لجباز </a></span>
                    <span class="Discount"><b>%50</b>تخفیف</span>
                    <h2><a href="product/%d8%aa%d8%a6%d8%a7%d8%aa%d8%b1-%d9%85%d9%86-%d9%88-%d8%af%d8%b1-%d9%84%d8%ac%d8%a8%d8%a7%d8%b2/index.html">تا ۵۰% تخفیف تئاتر کمدی و بسیار زیبای من و در لجباز در پردیس تئاتر تهران</a></h2>
                    <table>
                        <tr>
                            <td><span class="Profit">پرداختی شما<b> تومان </b></span></td>
                            <td><span>قیمت واقعی<b><del>15000 تومان </del></b></span></td>
                        </tr>
                        <tr>
                            <td><span>تعداد خریداری شده<b>455</b></span></td>
                            <td><span>تعداد بازدید<b>191</b></span></td>
                        </tr>
                    </table>
                    <div class="eye_buy"><a href="product/%d8%aa%d8%a6%d8%a7%d8%aa%d8%b1-%d9%85%d9%86-%d9%88-%d8%af%d8%b1-%d9%84%d8%ac%d8%a8%d8%a7%d8%b2/index.html" ><i class="fa fa-shopping-cart"></i>مشاهده و خرید</a></div>
                </div>
            </div>
            


        <!-- 3 Product - Newest Discounts -->
        
                    <div id="menu2" class="tab-pane fade">
                <div class="gallery_item">

                    <!--option-->
                    <div class="option_item_gallery">
                        <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span> <span class="number-sale"><i class="fa fa-shopping-basket"></i>0</span>
                    </div>

                    <script>
                        jQuery(function() {
                            var endDate = "";
                            jQuery('.countdown2').countdown({
                                date: endDate,
                                render: function(data) {
                                    if ( ! data.sec  ) { data.sec = 0 };
                                    jQuery(this.el).html(
                                        '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                        '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                        '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                        '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                    );
                                }
                            });

                        });
                    </script>

                    <!--time_out-->
                    <div class="time_out">
                        <i class="fa fa-clock-o"></i>
                        <ul class="deal-timer countdown2"></ul>
                    </div>

                    <div id="myCarousel3" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div class="img_item">
                                    <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "><img src="wp-content/uploads/2017/08/3_460_93.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "></a>
                                </div>
                            </div>


                            
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف"><img src="wp-content/uploads/2017/08/2_512_90.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "></a>
                                    </div>
                                </div>

                                
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف"><img src="wp-content/uploads/2017/08/4_429_31.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "></a>
                                    </div>
                                </div>

                                
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف"><img src="wp-content/uploads/2017/08/3_460_93.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "></a>
                                    </div>
                                </div>

                                

                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarouse3" data-slide-to="0" class="active"></li>
                                                            <li data-target="#myCarousel3" data-slide-to="1"></li>
                                                            <li data-target="#myCarousel3" data-slide-to="2"></li>
                                                            <li data-target="#myCarousel3" data-slide-to="3"></li>
                                                    </ol>
                    </div>
                </div>

                <!--Details and Content-->
                <div class="content_item">
                    <span><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html"><i class="fa fa-home"></i>کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف </a></span>
                    <span class="Discount"><b>%80</b>تخفیف</span>
                    <h2><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html">آرایشگاه فرشتگان</a></h2>
                    <table>
                        <tr>
                            <td><span class="Profit">پرداختی شما<b> تومان </b></span></td>
                            <td><span>قیمت واقعی<b><del>100000 تومان </del></b></span></td>
                        </tr>
                        <tr>
                            <td><span>تعداد خریداری شده<b>0</b></span></td>
                            <td><span>تعداد بازدید<b>27</b></span></td>
                        </tr>
                    </table>
                    <div class="eye_buy"><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" ><i class="fa fa-shopping-cart"></i>مشاهده و خرید</a></div>
                </div>
            </div>
            

        <!-- 4 Product - Featured Offers -->
        
                    <div id="menu3" class="tab-pane fade">
                <div class="gallery_item">

                    <!--option-->
                    <div class="option_item_gallery">
                        <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span> <span class="number-sale"><i class="fa fa-shopping-basket"></i>0</span>
                    </div>

                    <script>
                        jQuery(function() {
                            var endDate = "";
                            jQuery('.countdown3').countdown({
                                date: endDate,
                                render: function(data) {
                                    if ( ! data.sec  ) { data.sec = 0 };
                                    jQuery(this.el).html(
                                        '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                        '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                        '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                        '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                    );
                                }
                            });

                        });
                    </script>

                    <!--time_out-->
                    <div class="time_out">
                        <i class="fa fa-clock-o"></i>
                        <ul class="deal-timer countdown3"></ul>
                    </div>

                    <div id="myCarousel4" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div class="img_item">
                                    <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "><img src="wp-content/uploads/2017/08/3_460_93.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "></a>
                                </div>
                            </div>


                            
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف"><img src="wp-content/uploads/2017/08/2_512_90.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="آرایشگاه فرشتگان"></a>
                                    </div>
                                </div>

                                
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف"><img src="wp-content/uploads/2017/08/4_429_31.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="آرایشگاه فرشتگان"></a>
                                    </div>
                                </div>

                                
                                <div class="item">
                                    <div class="img_item">
                                        <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف"><img src="wp-content/uploads/2017/08/3_460_93.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف " alt="آرایشگاه فرشتگان"></a>
                                    </div>
                                </div>

                                

                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarouse4" data-slide-to="0" class="active"></li>
                                                            <li data-target="#myCarousel4" data-slide-to="1"></li>
                                                            <li data-target="#myCarousel4" data-slide-to="2"></li>
                                                            <li data-target="#myCarousel4" data-slide-to="3"></li>
                                                    </ol>
                    </div>
                </div>

                <!--Details and Content-->
                <div class="content_item">
                    <span><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html"><i class="fa fa-home"></i>کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف </a></span>
                    <span class="Discount"><b>%80</b>تخفیف</span>
                    <h2><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html">آرایشگاه فرشتگان</a></h2>
                    <table>
                        <tr>
                            <td><span class="Profit">پرداختی شما<b> تومان </b></span></td>
                            <td><span>قیمت واقعی<b><del>100000 تومان </del></b></span></td>
                        </tr>
                        <tr>
                            <td><span>تعداد خریداری شده<b>0</b></span></td>
                            <td><span>تعداد بازدید<b>27</b></span></td>
                        </tr>
                    </table>
                    <div class="eye_buy"><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" ><i class="fa fa-shopping-cart"></i>مشاهده و خرید</a></div>
                </div>
            </div>
            
    </div>
</div><div class="clear"></div><!--special offer -->
<% if flash[:product_id] %>

<div class="alert alert-danger" role="alert">
<p>
برای ثبت کامل آگهی شما باید هزینه حراجی یا ویدیو را پرداخت کنید, در صورت پرداخت نکردن وجه آگهی به حالت تعلیق در می ايد
</p>

<p>



<br>
<br>
  <a class='btn btn-success' href="/upgrade_product/<%= flash[:product_id] %>/video">
پرداخت هزینه ویدیو
 </a>
<% if flash[:haraji] %>
       <a class='btn btn-success' href="/upgrade_product/<%= flash[:product_id] %>/haraji">
                              پرداخت هزینه حراجی
                              </a>
                              <% end %>

</p>
</div>




<div class="alert alert-info" role="alert">
<p>
آگهی شما با موفقیت ثبت گردید و در انتظار تایید نهایی ناظرین می باشد، زمان انتظار برای تایید آگهی حداکثر ۸ ساعت در روزهای کار خواهد بود 
</p>

<p>
در صورت نیاز به تایید و نمایش سریع آگهی ، آگهی خود را ارتقاء داده و آگهی شما حد اکثر در ۳۰ دقیقه بعد ارتقاء تایید نهایی گردیده و نمایش داده میشود.
<br>
<br>
     <a class='btn btn-success' style="display:block;margin:auto;width: 112px;" href="/upgrade_product/<%= flash[:product_id] %>/forivanardeban">
                              ارتقاء دادن آگهی
                              </a>

</p>
</div>

<% end %>

<div class="special_offer">
    <div class="title_block"><span>آگهی ها</span></div>
    
                <% @products.each do |product| %>
               
                  <div class="col-lg-4 col-md-4 col-sm-12">
            <%= render partial: 'partials/public/product',locals: {product: product} %>
        </div>
                <% end %>

          
                



        </div>
        
        <div class="clear"></div>		<!--category-->
		
        
        <!-- <div class="block_category">
			<div class="title_block"><span>دسته بندی ها</span></div>

			<div class="col-lg-3 col-md-3 col1">

				<div class="col-lg-12 col-md-12 col-sm-6 col3">
					<div class="box_category">
												<h2><a href="product-category/health-and-medicine/index.html" style="background-color:#0dc575 !important;"><b>پزشکی</b> <img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/icon-cofpy.png" style="width: 45px;height: 45px;opacity: 0.2;margin:60px -43px 0 0;position: absolute;"></a></h2>
						<div class="imgLabel">
							<a href="product-category/health-and-medicine/index.html" title="سلام دنیا! " ><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/a-1.jpg"></a>
																							<span style="color:#0dc575 !important;">  تخفیفــ <small style="background-color:#0dc575 !important;">تا 91%</small></span>
														</div>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-6 col4">
										<div class="box_category">
						<div class="imgLabel">
							<a href="product-category/beauty-and-cosmetics/index.html" title="" ><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/b.jpg"></a>
																						<span style="color:#e02c6d !important;">  تخفیفــ <small style="background-color:#e02c6d !important;">تا 80%</small></span>
															<div class="details">
								<a href="product-category/beauty-and-cosmetics/index.html"  style="background-color: #e02c6d;border-bottom-color: white;" class="aye_sale">مشاهـده تخفیفات</a>
							</div>
						</div>
						<h2><a href="product-category/beauty-and-cosmetics/index.html" style="background-color: #e02c6d !important;"><b>زیبایی و آرایشی</b><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/icoopy.png" style="width: 45px;height: 45px;opacity: 0.2;margin:-5px 100px 0 0;position: absolute;"></a></h2>
					</div>
				</div>
							</div>

			<div class="col-lg-9 col-md-9 col2">

				<div class="col-lg-12 col-md-12 col-sm-12 col5">
										<div class="box_category">
						<div class="imgLabel">
							<a href="product-category/arts-theater/index.html" title="سلام دنیا! " ><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/c-1.jpg"></a>
																						<span style="color:#f86161 !important;">  تخفیفــ <small style="background-color:#f86161 !important;">تا 60%</small></span>
															<div class="details">
								<p>توضیحاتی در مورد این دسته اینجا قرار خواهد گرفت ...</p>
								<a href="product-category/arts-theater/index.html" style="background-color: #f86161;border-bottom-color: white;" class="aye_sale">مشاهـده تخفیفات</a>
							</div>
						</div>
						<h2><a href="product-category/arts-theater/index.html" style="background-color: #f86161 !important;"><b>فرهنگی هنری</b><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/icon-copy.png" style="width: 85px;height: 85px;opacity: 0.2;margin:100px -107px 0 0;position: absolute;"></a></h2>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 col6">
					<div class="box_category">
						<div class="imgLabel">
														<a href="product-category/training/index.html" title="سلام دنیا! " ><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/c-1.jpg"></a>
																						<span style="color:#d93adb !important;">  تخفیفــ <small style="background-color:#d93adb !important;">تا 90%</small></span>
														</div>
						<h2><a href="product-category/training/index.html" style="background-color: #d93adb !important;"><b>آموزشی</b><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/icon-copfgy.png" style="width: 45px;height: 45px;opacity: 0.2;margin:50px -60px 0 0;position: absolute;"></a></h2>
					</div>
				</div>

				<div class="col-lg-9 col-md-9 col-sm-9 col7">
					<div class="box_category">
						<div class="imgLabel">
														<a href="product-category/sports-and-recreation/index.html" title="سلام دنیا! " ><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/download-1.jpg"></a>
																						<span style="color:#008ba0 !important;">  تخفیفــ <small style="background-color:#008ba0 !important;">تا 90%</small></span>
															<div class="details">
																	<p> </p>
																	<a href="product-category/sports-and-recreation/index.html" style="background-color: #008ba0;border-bottom-color: white;" class="aye_sale">مشاهـده تخفیفات</a>
							</div>
						</div>
						<h2><a href="product-category/sports-and-recreation/index.html" style="background-color: #008ba0 !important;"><b>تفریحی و ورزشی</b><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/icoggf.png" style="width: 50px;height: 50px;opacity: 0.2;margin:50px -100px 0 0;position: absolute;"></a></h2>
					</div>
				</div>
							</div>
		</div>
<div class="clear"></div>
<div class="discount_other">
    <div class="title_block"><span>فایل سنتر</span></div>
    
            <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "><img src="wp-content/uploads/2017/08/3_460_93-275x275.jpg" title="کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown20"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown20').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%80</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%da%a9%d8%a7%d8%b4%d8%aa-%d9%85%da%98%d9%87-%d8%af%d8%b1-%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b4%d8%aa%da%af%d8%a7%d9%86-%d8%a8%d8%a7-%db%b8%db%b0-%d8%aa%d8%ae%d9%81%db%8c/index.html">کاشت مژه در آرایشگاه فرشتگان با ۸۰% تخفیف </a><span>0<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>100000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d9%84%db%8c%d8%b2%d8%b1-%d9%85%d9%88%d9%87%d8%a7%db%8c-%d8%b2%d8%a7%d8%a6%d8%af-%d8%a8%d8%a7-%d8%af%d8%b3%d8%aa%da%af%d8%a7%d9%87-%d8%a7%d9%84%da%a9%d8%b3%d8%a7%d9%86%d8%af%d8%b1%d8%a7%db%8c%d8%aa/index.html" title="لیزر موهای زائد با دستگاه الکساندرایت در درمانگاه تخصصی گلبرگ با 56% تخفیف و پرداخت تنها 8،800 تومان به جای 20،000 تومان "><img src="wp-content/uploads/2017/07/1_459_9-1-4-275x275.jpg" title="لیزر موهای زائد با دستگاه الکساندرایت در درمانگاه تخصصی گلبرگ با 56% تخفیف و پرداخت تنها 8،800 تومان به جای 20،000 تومان "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown21"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown21').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%14</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d9%84%db%8c%d8%b2%d8%b1-%d9%85%d9%88%d9%87%d8%a7%db%8c-%d8%b2%d8%a7%d8%a6%d8%af-%d8%a8%d8%a7-%d8%af%d8%b3%d8%aa%da%af%d8%a7%d9%87-%d8%a7%d9%84%da%a9%d8%b3%d8%a7%d9%86%d8%af%d8%b1%d8%a7%db%8c%d8%aa/index.html">لیزر موهای زائد با دستگاه الکساندرایت در درمانگاه تخصصی گلبرگ با 56% تخفیف و پرداخت تنها 8،800 تومان به جای 20،000 تومان </a><span>115<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>70000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d8%af%d9%88%d8%b1%d9%87-%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d9%86%d8%b1%d9%85-%d8%a7%d9%81%d8%b2%d8%a7%d8%b1-excel-%d8%af%d8%b1-%d9%85%d8%ac%d8%aa%d9%85%d8%b9-%d9%86%da%af%db%8c%d9%86-%d8%a2%d9%81-2/index.html" title="دوره آموزش نرم افزار EXCEL در مجتمع نگین آفاق ایرانیان با 90% تخفیف و پرداخت تنها 25,000 تومان به جای 250,000 تومان "><img src="wp-content/uploads/2017/07/1_459_9-1-3-275x275.jpg" title="دوره آموزش نرم افزار EXCEL در مجتمع نگین آفاق ایرانیان با 90% تخفیف و پرداخت تنها 25,000 تومان به جای 250,000 تومان "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown22"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown22').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%17</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d8%af%d9%88%d8%b1%d9%87-%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d9%86%d8%b1%d9%85-%d8%a7%d9%81%d8%b2%d8%a7%d8%b1-excel-%d8%af%d8%b1-%d9%85%d8%ac%d8%aa%d9%85%d8%b9-%d9%86%da%af%db%8c%d9%86-%d8%a2%d9%81-2/index.html">دوره آموزش نرم افزار EXCEL در مجتمع نگین آفاق ایرانیان با 90% تخفیف و پرداخت تنها 25,000 تومان به جای 250,000 تومان </a><span>1<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>60000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d8%af%d9%88%d8%b1%d9%87-%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d9%86%d8%b1%d9%85-%d8%a7%d9%81%d8%b2%d8%a7%d8%b1-excel-%d8%af%d8%b1-%d9%85%d8%ac%d8%aa%d9%85%d8%b9-%d9%86%da%af%db%8c%d9%86-%d8%a2%d9%81%d8%a7/index.html" title="&#8211; کارگاه آموزش فتوشاپ در موسسه فرهنگی هنری نام آوران افق فرداد "><img src="wp-content/uploads/2017/07/1_459_9-1-2-275x275.jpg" title="&#8211; کارگاه آموزش فتوشاپ در موسسه فرهنگی هنری نام آوران افق فرداد "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown23"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown23').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%50</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d8%af%d9%88%d8%b1%d9%87-%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d9%86%d8%b1%d9%85-%d8%a7%d9%81%d8%b2%d8%a7%d8%b1-excel-%d8%af%d8%b1-%d9%85%d8%ac%d8%aa%d9%85%d8%b9-%d9%86%da%af%db%8c%d9%86-%d8%a2%d9%81%d8%a7/index.html">&#8211; کارگاه آموزش فتوشاپ در موسسه فرهنگی هنری نام آوران افق فرداد </a><span>21<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>40000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d9%84%db%8c%d8%b2%d8%b1-%d9%85%d9%88%d9%87%d8%a7%db%8c-%d8%b2%d8%a7%d8%a6%d8%af-%d8%a8%d8%a7-%d8%af%d8%b3%d8%aa%da%af%d8%a7%d9%87-shr-%d8%af%d8%b1-%d9%85%d8%b7%d8%a8-%d8%af%da%a9%d8%aa%d8%b1-%d8%b9/index.html" title="لیزر موهای زائد با دستگاه SHR در مطب دکتر علی نوری و با 67 % تخفیف و پرداخت تنها 2،970 تومان به جای 9,000 تومان "><img src="wp-content/uploads/2017/07/460818.bc4716ee7ba60274e47d391b03ca35c8-275x275.jpg" title="لیزر موهای زائد با دستگاه SHR در مطب دکتر علی نوری و با 67 % تخفیف و پرداخت تنها 2،970 تومان به جای 9,000 تومان "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown24"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown24').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%10</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d9%84%db%8c%d8%b2%d8%b1-%d9%85%d9%88%d9%87%d8%a7%db%8c-%d8%b2%d8%a7%d8%a6%d8%af-%d8%a8%d8%a7-%d8%af%d8%b3%d8%aa%da%af%d8%a7%d9%87-shr-%d8%af%d8%b1-%d9%85%d8%b7%d8%a8-%d8%af%da%a9%d8%aa%d8%b1-%d8%b9/index.html">لیزر موهای زائد با دستگاه SHR در مطب دکتر علی نوری و با 67 % تخفیف و پرداخت تنها 2،970 تومان به جای 9,000 تومان </a><span>0<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>50000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d9%86%d9%85%d8%a7%db%8c%d8%b4-%d8%b1%d9%88%d8%b2%db%8c-%d8%b1%d9%88%d8%b2%da%af%d8%a7%d8%b1%db%8c-%d8%b4%d9%84%d9%85%d8%b1%d9%88%d8%af-%d8%af%d8%b1-%d8%ae%d8%a7%d9%86%d9%87-%d9%81%d8%b1%d9%87%d9%86/index.html" title="نمایش روزی روزگاری شلمرود در خانه فرهنگ فدک با 40% تخفیف و پرداخت تنها 6.000 تومان به جای 10,000 تومان "><img src="wp-content/uploads/2017/07/1_459_9-1-1-275x275.jpg" title="نمایش روزی روزگاری شلمرود در خانه فرهنگ فدک با 40% تخفیف و پرداخت تنها 6.000 تومان به جای 10,000 تومان "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown25"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown25').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%60</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d9%86%d9%85%d8%a7%db%8c%d8%b4-%d8%b1%d9%88%d8%b2%db%8c-%d8%b1%d9%88%d8%b2%da%af%d8%a7%d8%b1%db%8c-%d8%b4%d9%84%d9%85%d8%b1%d9%88%d8%af-%d8%af%d8%b1-%d8%ae%d8%a7%d9%86%d9%87-%d9%81%d8%b1%d9%87%d9%86/index.html">نمایش روزی روزگاری شلمرود در خانه فرهنگ فدک با 40% تخفیف و پرداخت تنها 6.000 تومان به جای 10,000 تومان </a><span>0<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>55000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d8%a7%d9%81%d8%aa%d8%aa%d8%a7%d8%ad%db%8c%d9%87-%d8%a8%d9%88%d9%81%d9%87-%d8%b4%d8%a7%d9%85-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%a8%db%8c%d9%86-%d8%a7%d9%84%d9%85%d9%84%d9%84%db%8c-5-%d8%b3/index.html" title="افتتاحیه بوفه شام رستوران بین المللی 5 ستاره اسفندیار با موسیقی زنده با 30% تخفیف و پرداخت تنها 77,000 تومان به جای 110,000 تومان "><img src="wp-content/uploads/2017/07/1_459_9-1-275x275.jpg" title="افتتاحیه بوفه شام رستوران بین المللی 5 ستاره اسفندیار با موسیقی زنده با 30% تخفیف و پرداخت تنها 77,000 تومان به جای 110,000 تومان "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown26"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown26').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%50</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d8%a7%d9%81%d8%aa%d8%aa%d8%a7%d8%ad%db%8c%d9%87-%d8%a8%d9%88%d9%81%d9%87-%d8%b4%d8%a7%d9%85-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%a8%db%8c%d9%86-%d8%a7%d9%84%d9%85%d9%84%d9%84%db%8c-5-%d8%b3/index.html">افتتاحیه بوفه شام رستوران بین المللی 5 ستاره اسفندیار با موسیقی زنده با 30% تخفیف و پرداخت تنها 77,000 تومان به جای 110,000 تومان </a><span>0<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i>امام خمینی</span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>10000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b>5000 تومان</span>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="product/%d9%be%db%8c%d8%b3%d8%aa-%da%a9%d8%a7%d8%b1%d8%aa%db%8c%d9%86%da%af-%d9%be%d8%b1%d9%86%d8%af/index.html" title="پیست کارتینگ پرند "><img src="wp-content/uploads/2017/05/431416.e9b905600723e4c26750de76373ae0bd-275x275.jpg" title="پیست کارتینگ پرند "></a>



                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown27"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown27').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>

                <span class="Discount"><b>%33</b>تخفیف</span>


                <div class="Information">
                    <h2><a href="product/%d9%be%db%8c%d8%b3%d8%aa-%da%a9%d8%a7%d8%b1%d8%aa%db%8c%d9%86%da%af-%d9%be%d8%b1%d9%86%d8%af/index.html">پیست کارتینگ پرند </a><span>9<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><i class="fa fa-map-marker"></i></span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del>30000 تومان</span>
                        <span class="with_discount"> باتخفیف : <b> تومان</span>
                    </div>
                </div>
            </div>
        </div>
        
</div><div class="clear"></div> 
<div class="brands">
    <div class="title_block"><span>بــرنـدهـا</span></div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="box_brand"><a href="#" title=""><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/b-1.png" title="" alt=""></a></div>
                </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="box_brand"><a href="#" title=""><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/a.png" title="" alt=""></a></div>
                </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="box_brand"><a href="#" title=""><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/c.png" title="" alt=""></a></div>
                </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="box_brand"><a href="#" title=""><img src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/d.png" title="" alt=""></a></div>
                </div>

    </div><div class="clear"></div>
            </div>
        </div>
    </section>

<section id="social">
    <div class="container">
        <div class="row">


            <div class="block_newsletters">

<span style="display:none;">مشترک خبرنامه شوید</span><div class="widget_wysija_cont"><div id="msg-form-wysija-2" class="wysija-msg ajax"></div><form id="form-wysija-2" method="post" action="#wysija" class="widget_wysija">
<p class="wysija-paragraph">
    <label>ایمیل <span class="wysija-required">*</span></label>
    
    	<input type="text" name="wysija[user][email]" class="wysija-input validate[required,custom[email]]" title="ایمیل"  value="" />
    
    

    
</p>
<input class="wysija-submit wysija-submit-field" type="submit" value="مشترک شدن!" />

    <input type="hidden" name="form_id" value="2" />
    <input type="hidden" name="action" value="save" />
    <input type="hidden" name="controller" value="subscribers" />
    <input type="hidden" value="1" name="wysija-page" />

    
        <input type="hidden" name="wysija[user_list][list_ids]" value="1" />
    
 </form></div>				
				
            </div>


            <div class="social_footer">
                <a href="#" title="" class="telegram"></a>
                <a href="#" title="" class="instagram"></a>
                <a href="#" title="" class="facebook"></a>
            </div>


            <div class="concession">
                <div class="post-content">
                    <p><img class="alignnone size-full wp-image-180" src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/namad.png" alt="" width="170" height="125" /><img class="alignnone size-full wp-image-181" src="../../ersthost.com/demo.ersthost.com/takhfifat/wp-content/uploads/2017/05/bank.png" alt="" width="170" height="125" /></p>                </div>
            </div>

        </div>
    </div>
</section>
<div class="clear"></div>
-->




        
        
      <style> 
      @media only screen and (max-width : 500px) {
      .gallery_item{
    width:100% !important;
    display:none;
      }
      }
#menu {
    list-style:none;

    /* Borders */
     

}
 
#menu li {
    float:right;
    text-align:right;
    position:relative;

    border:none;

    padding: 0;
    margin: 0;

}
 
#menu li:hover {
    border: none;
    padding: 0;
     
    /* Background color and gradients */
     
    background: #ee6e73;
    background: -moz-linear-gradient(top, #ee6e73, #ee6e73);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee6e73), to(#ee6e73));
     
    /* Rounded corners */
     
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
 
#menu li a {
    
    font-size:14px; 
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}
 
#menu li:hover a {


}
#menu li .drop {
    padding-right:21px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}
 
/* Drop Down */
 
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:-1px auto;
    float:right;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:right;
    /*padding:10px 5px 10px 5px;*/
    border:1px solid #777777;
    border-top:none;
     
    /* Gradient background */
    background:rgba(206, 76, 96, 0.61);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(206, 76, 96, 0.61)), to(rgba(206, 76, 77, 0.75)));
    
 
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}
.dropdown_1column li, 
.dropdown_2columns li, 
.dropdown_3columns li, 
.dropdown_4columns li,
.dropdown_5columns li {
  float:right !important;
    text-align:center !important;
    position:relative !important;
    padding: 4px 10px 4px 10px !important;
    margin-right:-19px !important;
    margin-top:7px !important;
    border:none !important;
}
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 1200px;}
 
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:auto;
    right: -1px;
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: right;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
 
/* Right alignment */
 
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu ul li {

    line-height:21px;
    font-size:12px;
    text-align:right;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}
 
/*#menu li:hover div a {
    font-size:12px;
    color:#015b86;
}*/
/*#menu li:hover div a:hover {
    color:#029feb;
}*/
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:42px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}
#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}
</style>

</div>
</section>
         <%= render partial: 'partials/public/footer' %>