
    <%= render partial: 'partials/public/fix_menu' %>

                
                
                <div class="clear"></div>
<!-- / Nav -->    <!--wrapper-->
    <section id="wrapper">
    <div class="container">
        <div class="row">
                        <ol class="breadcrumb"><a href="https://pplaaza.com/takhfifat">خانه</a> &#47; ثبت آگهی</ol>            <div class="post-content">
                                        
                    <!--title & discount & views-->
                    <div class="title_post">
                        <span class="like"><i class="fa fa-dashboard"></i></span>
                        <h1>ثبت آگهی</h1>
                    </div>
                            <div class="woocommerce">



<div class="u-columns col2-set" id="customer_login">

	<div class="u-column1 col-2">


		<!-- <h2>ورود</h2> -->


<% if @product.errors.full_messages.any? %>
      <% @product.errors.full_messages.each do |error_message| %>
        <% content_for :head do %>
          <%= toast(error_message,4000,['red']) %>
        <% end %>
      <% end %>
    <% end %>

    



<% if params[:id].nil? %>
    <div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">

      <%= select(:categoryparent_id,:categoryparent_id, Category.where(parent_id: nil).collect {|cat|  [cat.name,cat.id]  },{prompt: 'رسته مورد نظر را انتخاب کنید' ,required: 'required'},{ required: "required",class: 'browser-default form_category woocommerce-Input woocommerce-Input--text input-text',id: 'parent_category'}) %>
</div>


   <% content_for :head do %>
  <script type="text/javascript" async>
  

 $('#parent_category').change('change', function() { window.location.pathname='new_product/'+$(this).val() });

  </script>

  <% end %>
  <% end %>


<% if params[:id] %>
<%= form_for @product ,url: create_product_path(params[:id]),html: {class: 'col s12',multipart: true},method: :POST do |f| %>
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">

      <%= f.select(:category_id,Category.find(params[:id]).subcategories.collect {|cat|  [cat.name,cat.id]  },{prompt: 'رسته مورد نظر را انتخاب کنید' ,required: 'required',:selected => params[:p_cat]},{id: 'categories', required: "required",class: 'browser-default form_category woocommerce-Input woocommerce-Input--text input-text'}) %>
</div>


<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
     <% if params[:p_cat].nil? %>
 <%= f.select(:category_id,[],{prompt: 'زیر رسته مورد نظر را انتخاب کنید ' ,required: 'required', :selected => params[:category_id]},{ required: "required",class: 'browser-default form_category woocommerce-Input woocommerce-Input--text input-text',id: 'subcategories'}) %>

<% else %>
 <%= f.select(:category_id,Category.find(params[:p_cat]).subcategories.collect {|cat|  [cat.name,cat.id]  },{prompt: 'زیر رسته مورد نظر را انتخاب کنید ' ,required: 'required', :selected => params[:category_id]},{ required: "required",class: 'browser-default form_category woocommerce-Input woocommerce-Input--text input-text',id: 'subcategories'}) %>
     <% end %>
    

</div>


<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
        <%= f.label :name, 'عنوان آگهی (اجباری)' ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :name,class: 'woocommerce-Input woocommerce-Input--text input-text', required: "required" %>
          
        </div>



<script type='text/javascript' >


</script>

<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
	<select required="required" name='state' id='id_province1' onchange="p24_load_cities_list(this.value, 'id_city');">
		<option value='0'>استان را انتخاب نمایید ...</option>
	</select>
      
</div>

<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">

<select name='city' id='id_city' required="required">
		<option value='0'>ابتدا استان را انتخاب نمایید ...</option>
	</select>

</div>



	
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
          <%= f.label :address, raw('محله (اختیاری)') ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :address,class: 'woocommerce-Input woocommerce-Input--text input-text' %>
          
        </div>  


        <div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
        <%= label_tag :email,'ایمیل (اختیاری)' %>
          <%= text_field_tag :email,'',class: 'woocommerce-Input woocommerce-Input--text input-text' %>
          
        </div>

        <div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
        <%= label_tag :phone, 'شماره موبایل (اجباری)' ,:'data-error' => "wrong", 'data-success'=> "" %>
        <%= text_field_tag :phone,'',class: 'woocommerce-Input woocommerce-Input--text input-text', required: "required" %>
          
        </div>
        

        <p style="color:red;">
آپلود ویدیو دارای هزینه می باشد

        </p>

                                <div class="file btn btn-lg btn-success" style="  position: relative;
  overflow: hidden;">
							آپلود مدیا
                            <i class="fa fa-camera"></i>
<%= f.file_field :images, multiple: true,id: 'product_images',style: 'position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;' %>
						</div>
                                
        
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
      <%= f.label :price, 'قیمت (اجباری)' ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :price,class: 'woocommerce-Input woocommerce-Input--text input-text', required: "required" %>
          
        </div>
    
   
        
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
          <%= f.label :off_price, raw('قیمت تخفیف خورده <span style="color:red;"> (در صورت پر کردن آگهی به صورت حراجی می باشد و دارای تعرفه میباشد ) </span>') ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :off_price,class: 'woocommerce-Input woocommerce-Input--text input-text' %>
          
        </div>  
        


   
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">

<label for="textarea1">توضیحات محصول (اجباری)</label>
             <%= f.text_area :detail ,id: "textarea1", required: 'required' ,class: "woocommerce-Input woocommerce-Input--text input-text" ,'data-length':"120" %>
            

        </div>
     
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
         <%= f.label :comment, 'نظرات' %>
          <%= f.check_box :comment,class: 'filled-in' %>
          
        </div>
        
     
     
    <%= f.fields_for :properties, OpenStruct.new(@product.properties) do |builder| %>
        <% @product.product_type.fields.where("? = ANY (categories)",params[:category_id].to_s).each do |field| %>
            <%= render "fields/#{field.field_type}", field: field, f: builder %>
        <% end %>
    <% end %>



        <%= button_tag :type => 'submit', :class => " btn btn-block btn-success btn-lg" do %>
ثبت آگهی
        <% end %>
    <% end %>


     </div>
       

      
      
      
      
    <% end %>
			





			



	</div>

	


			   
       




</div>

</div>

                                            
            </div>

        </div>
    </div>
</section>
<!--social &  Subscription-->

<div class="clear"></div>























         <%= render partial: 'partials/public/footer' %>