    <%= render partial: 'partials/public/fix_menu' %>

                <!-- Dropdown Structure -->


                <div class="nav-header de researcher ">



                    <h5><%= @page.title %></h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>










        <div class="inner">
            <div class="row">


                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionInboxCard">


                        <div class="row right-align text-right" style='direction: rtl;'>
                            <%= simple_format @page.content %>


                        </div>



                    </div>
                </div>
            </div>








        </div>





        
         <%= render partial: 'partials/public/footer' %>