    <%= render partial: 'partials/public/fix_menu' %>



                


<div class="clear"></div>
<!-- / Nav -->    <!--wrapper-->
    <section id="wrapper">
        <div class="container">
   

<div class="clear"></div><!--special offer -->
<div class="special_offer">








<% unless params[:file] == 'true' %>
    <div class="title_block"><span>آگهی ها</span></div>
    
                <% @products.each do |product| %>
               
                  <div class="col-lg-4 col-md-4 col-sm-6">
            <%= render partial: 'partials/public/product',locals: {product: product} %>
        </div>
                <% end %>
   <% end %>
          
                



        </div><div class="clear"></div>		<!--category-->

<div class="clear"></div><!--Discount other -->

<% unless params[:product_offer] == 'true' %>
<div class="discount_other">
    <div class="title_block"><span>فایل سنتر</span></div>
    




    <% @files.each do |file| %>
            <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="box_offer">
                <a href="/file/<%= file.id %>" >
                
                </a>
                <!-- Timeout -->


                <div class="time_out">
                    <i class="fa fa-clock-o"></i>
                    <ul class="deal-timer countdown20"></ul>
                </div>
                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown20').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>
                <!-- Discount -->
     

                <!-- Info -->
                <div class="Information">
                    <h2><a href="/file/<%= file.id %>"><%= file.name %></a><span>0<i class="fa fa-shopping-basket"></i></span></h2>
                    <span class="address"><%= file.name %></span>
                    <div class="price">
                        <span>قیمت اصلی: <b><del><%= file.price %> تومان</span>
                        
                    </div>
                </div>
            </div>
        </div>

<% end %>





              

        </div>
        
</div>

<% end %>
<div class="clear">

            </div>
        </div>
    </section>
<!--social &  Subscription-->

<div class="clear"></div>




        
        
      <style> 
#menu {
    list-style:none;

    /* Borders */
     

}
 
#menu li {
    float:right;
    text-align:right;
    position:relative;

    border:none;

    padding: 0;
    margin: 0;

}
 
#menu li:hover {
    border: none;
    padding: 0;
     
    /* Background color and gradients */
     
    background: #ee6e73;
    background: -moz-linear-gradient(top, #ee6e73, #ee6e73);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee6e73), to(#ee6e73));
     
    /* Rounded corners */
     
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
 
#menu li a {
    
    font-size:14px; 
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}
 
#menu li:hover a {


}
#menu li .drop {
    padding-right:21px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}
 
/* Drop Down */
 
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:-1px auto;
    float:right;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:right;
    /*padding:10px 5px 10px 5px;*/
    border:1px solid #777777;
    border-top:none;
     
    /* Gradient background */
    background:rgba(206, 76, 96, 0.61);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(206, 76, 96, 0.61)), to(rgba(206, 76, 77, 0.75)));
    
 
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}
.dropdown_1column li, 
.dropdown_2columns li, 
.dropdown_3columns li, 
.dropdown_4columns li,
.dropdown_5columns li {
  float:right !important;
    text-align:center !important;
    position:relative !important;
    padding: 4px 10px 4px 10px !important;
    margin-right:-19px !important;
    margin-top:7px !important;
    border:none !important;
}
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 1200px;}
 
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:auto;
    right: -1px;
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: right;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
 
/* Right alignment */
 
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu ul li {

    line-height:21px;
    font-size:12px;
    text-align:right;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}
 
/*#menu li:hover div a {
    font-size:12px;
    color:#015b86;
}*/
/*#menu li:hover div a:hover {
    color:#029feb;
}*/
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:42px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}
#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}
</style>
         <%= render partial: 'partials/public/footer' %>