
<style>

.info-counter span
{
float:left !important;
}
</style>

    <%= render partial: 'partials/public/fix_menu' %>


<div class="clear"></div>
<!-- / Nav -->    <!--wrapper-->
    <section id="wrapper">
    <div class="container">
        <div class="row">


<% if flash[:notice] %>
<div class="alert alert-info" role="alert">
<%= flash[:notice] %>
</div>
<% end %>                      

<% if (current_user.products.exists?(params[:id]) rescue false) && @product.accept == false %>
<div class="alert alert-info" role="alert">
<%= @product.blocked_message %>
</div>
<% end %>     


                                        <ol class="breadcrumb">
                                        <a href="/">خانه</a> &#47; <a href=""><%= @product.name %></a></ol>					                    

                    <!--title & discount & views-->
                    <div class="title_post">
                    
    
                        <span class="like"><i class="fa fa-eye"></i><%= @product.view_product %></span>

<h1><%= @product.name %></h1>

<% begin %>
<% if @product.user.exposition? %>
            <%= link_to(exposition_show_path(@product.user.identify)) do %>
               <h1>    <%= @product.user.exposition_name %></h1>
            <% end %>
            <% end %>

            <% rescue %>

            <% end %>


                        <span class="Discount"><b><%= ((@product.price.ctsd.to_i - @product.off_price.ctsd.to_i) % @product.price.ctsd.to_i * 100).to_s[0..1] rescue 0 %></span>



                    </div>

<style>
.middle-item{
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
    padding: 1em;
    background: #80808052;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.middle-item:hover {
    background: #9a9a9a52;
}
.middle-item a{
color: white;
font-size: 12px;
}

.middle-item a,.middle-item i{
display:block;
margin:auto;
}



</style>

                    <!--block_gallery-->
                    <div class="block_gallery">
                        <!-- images -->
                        <div class="gallery_item">

                            <!--option-->
                            <div class="option_item_gallery">
                                <span class="address"><i class="fa fa-map-marker"></i>
                                    <%= @product.user.exposition_address %></span>
                            </div>

                            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">


<% @product.images_urls.each_with_index do |image,i| %>
                                    <div class="item <%= 'active' if i == 0 %> ">
                                        <div class="img_item">
                                            
                <% unless @product.images[0].blank? %>
                     <%= image_tag image, alt: @product.name,style: 'height: 301px;' %>
                     
                     <% else %>
<%= image_tag @setting.default_image_product_url, alt: @product.name,style: 'height: 301px;' %>
                      <% end %>

                                        </div>
                                    </div>

                                                             <% image_tag Setting.first.default_image_product_url, alt: @product.name %>

                      <% end %>

   <!--                                 
                                        <div class="item">
                                            <div class="img_item">
                                                <a href="https://pplaaza.com/takhfifat/product/%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%da%a9%d8%a7%d9%85%d9%84%db%8c%d8%a7/ " title="آرایشگاه کاملیا"><img src="https://pplaaza.com/takhfifat/wp-content/uploads/2017/05/429253.5d918432acbd70d500fbe1f3da3efb8e.jpg" title="آرایشگاه کاملیا " alt=""></a>
                                            </div>
                                        </div>

                                        
                                        <div class="item">
                                            <div class="img_item">
                                                <a href="https://pplaaza.com/takhfifat/product/%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%da%a9%d8%a7%d9%85%d9%84%db%8c%d8%a7/ " title="آرایشگاه کاملیا"><img src="https://pplaaza.com/takhfifat/wp-content/uploads/2017/05/429251.4947d445bb51e4b6fc2b2a12ac52f043.jpg" title="آرایشگاه کاملیا " alt=""></a>
                                            </div>
                                        </div>
-->
                                        
                                </div>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <!-- < li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                                    <% @product.images.each_with_index do |image,i| %>
                                                                            <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>

                                                                            <% end %>
                                                                            
                                                                    </ol>
                            </div>
                        </div>

                        <!--details-->
                        <div class="content_item">
                            <div class="Slogan">
                            
                            
                            
                            </div>
                            <div class="info-counter">
                                <span class="info-timerLabel" style='float:right !important;'><i class="fa fa-clock-o"></i>تاریخ ثبت آگهی
                                
                                
                                
                         
                                
                                
                                </span>
                    <div style='zoom: 0.29;'>
                                <span class="clock4"></span>
                                </div>
                              <script type="text/javascript" async>
                              document.addEventListener("DOMContentLoaded", function(){

                                time_diff = <%= ((@product.created_at + 0.hour) - Time.now).to_i.abs %>;

  var clock = $('.clock4').FlipClock(time_diff, {
    clockFace: 'DailyCounter',
    countdown: false,
    language: 'fa',
    defaultLanguage: 'persian'
  });

      //....
});

                              </script>
                              
                   
                            </div>

								<!-- Flip Count Down -->
								<script>
									jQuery('#retroclockbox_sm1').flipcountdown({
										size:'sm' ,
										beforeDateTime:'' ,
										showSecond:false
									});
							</script>
                            <p class="price_item">

                             <% unless @product.off_price.nil? || @product.off_price.blank? %> 
                                <span class="price_discount">با تخفیف : <ins> <%= spaces_on @product.off_price %> تومان</ins></span>
                               <% end %>
                               
                                <span>قیمت واقعی : 
                                 <% unless @product.off_price.nil? || @product.off_price.blank? %> 
                                <del>
                                <% end %>
                                <%= spaces_on @product.price %> تومان</del></span>
                            </p>

                            <div class="share_gift_bye">
                                <div class="btn-group btn_social">
                                    <button type="button" class="btn btn-default link_share dropdown-toggle" data-toggle="dropdown"> اشتراک <i class="fa fa-share-alt"></i> </button>
                                    <ul class="dropdown-menu" id="shr_social">
                                        <ul class='list-inline' style="z-index: 9999">
                                            <li><a href="https://telegram.me/share/url?text=<%= @product.name %>&url=https://pplaaza.com/product/<%= @product.id %>" id=""><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/telegram.png" alt="telegram"></a></li>
                                            <!-- <li><a href="https://www.instagram.com/https://pplaaza.com/takhfifat" id=""><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/instagram.png" alt="instagram"></a></li>-->
                                            <li><a href="http://www.facebook.com/sharer.php?u=https://pplaaza.com/product/<%= @product.id %>&t=<%= @product.name %>" title="Facebook" id=""><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/facebook.png" alt=""></a></li>
                                            <li><a title="twitter" href="http://twitter.com/share/?url=https://pplaaza.com/product/<%= @product.id %>&text=<%= @product.name %>" ID="twitter" target="_blank" class="twitter"><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/twitter.png" alt=""></a></li>
                                            <li><a title="Google+" href="https://plus.google.com/share?url=https://pplaaza.com/product/<%= @product.id %>/&title=<%= @product.name %>" ID="GoogleP" target="_blank" class="googleplus"><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/google+.png" alt=""></a></li>
                                            <li><a title="Google Bookmark" href="http://www.google.com/bookmarks/mark?op=edit&bkmk=https://pplaaza.com/product/<%= @product.id %>/&title=<%= @product.id %>" ID="GoogleB" target="_blank" class="googlebookmark"><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/dropbox.png" alt=""></a></li>
                                            <li><a title="Email" href="mailto:?subject=<%= @product.name %>&body=<%= @product.detail %> https://pplaaza.com/product/<%= @product.id %>" ID="Email" target="_blank" class="email"><img src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/images/social/email.png" alt=""></a></li>
                                        </ul>
                                    </ul>
                                </div>
                                <a id='related_ads_button' href="#" class="link_gift">آگهی مرتبط<i class="fa fa-shopping-bag"></i></a>
                                <br><br>
                                <!-- <a href="" class="link_bye"><i class="fa fa-shopping-cart"></i>همین حالا پرداخت کنید</a> -->
                                <div></div>
                                <!-- Add to cart -->
                                <form class="cart" method="post" enctype="multipart/form-data">
                                    <div class="quantity" style="display: none" >
                                        <input type="number" step="1" min="1" max="" name="quantity" value="1" title="تعداد" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                    <input type="hidden" name="add-to-cart" value="107">
                                   								  

                                                                     <div>

                                                                            <a onclick="alert('<%= @product.user.phone %>')" href="tel:<%= @product.user.phone %>" class='btn btn-success btn-block'  style='font-size: 30px;'>تماس</a>
                                                                                       <%# link_to raw('ارسال  پیام به فروشنده'),new_public_ticket_path(id: @exposition.id),class: 'btn btn-success btn-lg btn-block',style: '' %><br><br>


</div>
                                                                     
									
                                </form>

                            </div>
                        </div>

                    </div>



<% # distance_of_time_in_words(Product.last.created_at).to_i %>









<% if (current_user.products.exists?(params[:id]) rescue false) %>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">حذف آگهی</h4>
        </div>
        <div class="modal-body">
          <p>
          دلیل حذف آگهی: 

          </p>
          <input id="radio_F" type="radio" name="deleteChoice" value="F">
          <label for="radio_F">فروخته شدن در جایی غیر از پلازا</label>
          <br>
          <input id="radio_R" type="radio" name="deleteChoice" value="R">
          <label for="radio_R">منصرف شدم</label>
          <br>
          <input id="radio_R" type="radio" name="deleteChoice" value="R">
          <label for="radio_R">فروخته شد</label>

          <p><label for="archive_note_inp">توضیحات تکمیلی:</label><br><textarea id="archive_note_inp" name="archive_note_inp" rows="3" cols="50" class="form-control" rows="5"></textarea></p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
          <a href='/destroy_product?id=<%= @product.id %>' class="btn btn-danger">حذف آگهی</a>
        </div>
      </div>
  </div>
  </div>

  <style>
  .modal{
  width:100% !important;
  }
  .product_nav *,.product_nav{
  text-align:right;
  direction:rtl;
  }

  .product_nav li{

float:right !important;
  }

  .product_nav li a:after{
content: '' !important;
background: none !important;
  }

  .tab-content{
float:right !important;
  }

.flip-clock-wrapper {
    width: initial !important;
    float: right !important;
    margin-top: 0 !important;
}
.flip-clock-label{
    display:none;
}
  </style>
  <ul class="nav nav-tabs product_nav">
    <li class="active"><a data-toggle="tab" href="#view">پیش نمایش</a></li>
    <li><a data-toggle="tab" href="#edit">ویرایش</a></li>
    <li><a data-toggle="tab" href="#upgrade">ارتقاء</a></li>
    <li><a data-toggle="tab" href="#delete">حذف</a></li>
  </ul>


  <div class="tab-content">
  <div id="view" class="tab-pane fade in active">
<h3>عنوان آگهی: <%= @product.name %> </h3>

<p>
<%= @product.detail %>
</p>

  </div>
    <div id="edit" class="tab-pane fade woocommerce">

<%= form_for @product ,url: update_product_path(params[:id]),html: {class: 'col s12',multipart: true},method: :POST do |f| %>

<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
        <%= f.label :name, 'عنوان آگهی' ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :name,class: 'form-control woocommerce-Input woocommerce-Input--text input-text', required: "required" %>
          
        </div>

        

        <p style="color:red;">
آپلود ویدیو دارای هزینه می باشد

        </p>


                                <div class="file btn btn-lg btn-success" style="  position: relative;
  overflow: hidden;">
							آپلود مدیا
                            <i class="fa fa-camera"></i>
<%= f.file_field :images, multiple: true,id: 'product_images',style: 'position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;' %>
						</div>
                                
                                
        
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
      <%= f.label :price, 'قیمت' ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :price,class: 'form-control woocommerce-Input woocommerce-Input--text input-text', required: "required" %>
          
        </div>
    
   
        

        
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
          <%= f.label :address, raw('آدرس آگهی') ,:'data-error' => "wrong", 'data-success'=> "" %>
          <%= f.text_field :address,class: 'form-control woocommerce-Input woocommerce-Input--text input-text' %>
          
        </div>  


   
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">

<label for="textarea1">توضیحات محصول</label>
             <%= f.text_area :detail ,id: "textarea1" ,class: "form-control woocommerce-Input woocommerce-Input--text input-text" ,'data-length':"120" %>
            

        </div>
     
<div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
         <%= f.label :comment, 'نظرات' %>
          <%= f.check_box :comment,class: 'filled-in' %>
          
        </div>
        
     
     
       <!-- f.fields_for :properties, OpenStruct.new(@product.properties) do |builder| %>
     @product.product_type.fields.each do |field| %>
             render "fields/#{field.field_type}", field: field, f: builder %>
     end %>
 end %>-->





	<script type='text/javascript'>p24_load_province_list('id_province');</script>
	
	
	


      


      
        <%= button_tag :type => 'submit', :class => " btn btn-block btn-success btn-lg" do %>
بروزرسانی آگهی
        <% end %>



</div>
        <% end %>


 
  

   <div id="delete" class="tab-pane fade">
   <br>
<p>
آیا مایل به حذف آگهی خود هستید؟  

 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
حذف آگهی
</button>

 
</p>
  

  </div>


      <div id="upgrade" class="tab-pane fade">
                    <table id="payment" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th> انتخاب و پرداخت</th>
                                <th>نام هزینه</th>
                                <th>مبلغ</th>
                                <th>وضعیت</th>

                                <th>توضیحات</th>
                            </tr>
                    </thead>
                    <tbody>

           <!--         <tr style="background-color: #fff704;">
                            <td class="centered">


                              <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/video">
                              پرداخت
                              </a>



                            </td>
                            <td>
                                <span id="reorder-icon"></span>
                                نمایش ویدیو
                            </td>
                            <td>۱،۰۰۰&nbsp;تومان</td>
                            <td class="payment-status">
                                <% unless @product.nardeban %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %>
                            </td>
                      
                            <td class="payment-desc">
                                <div id="cost_warn_reorder" class="cost-warn">
                                <p align="justify" class="field-warn">
هزینه ارسال ویدیو ۱۰۰۰ تومان میباشد
                                </p>
                                </div>
                                
                                </td>
                    </tr>

-->



<tr style="background-color: #fff704;">
                            <td class="centered">


                              <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/haraji">
                              پرداخت
                              </a>



                            </td>
                            <td>
                                <span id="reorder-icon"></span>
                               حراجی
                            </td>
                            <td>۲،۵۰۰&nbsp;تومان</td>
                            <td class="payment-status">
                                <% unless @product.nardeban %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %>
                            </td>
                      
                            <td class="payment-desc">
                                <div id="cost_warn_reorder" class="cost-warn">
                                <p align="justify" class="field-warn">
هزینه فعال سازی حراجی بر روی این آگهی 
حراجی باعث متفاوت دیده شدن آگهی شما میباشد
                                </p>
                                </div>
                                
                                </td>
                    </tr>



                    <tr>
                            <td class="centered">

                            <% if @product.created_at < 2.days.ago %>
                              <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/nardeban">
                              پرداخت
                              </a>
                              <% else %>
                                   <a class='btn btn-default' disabled='disabled'>
                              پرداخت
                              </a>
<% end %>

                            </td>
                            <td>
                                <span id="reorder-icon"></span>بروزرسانی
                            </td>
                            <td>۵,۰۰۰&nbsp;تومان</td>
                            <td class="payment-status">
                                <% unless @product.nardeban %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %>
                            </td>
                      
                            <td class="payment-desc">
                                <div id="cost_warn_reorder" class="cost-warn">
                                <p align="justify" class="field-warn">۴۸ ساعت پس از انتشار آگهی این هزینه قابل پرداخت است</p>
                                </div>
                                <p align="justify">آگهی شما تا زمان دریافت آگهی تازه&zwnj;تر در همان دسته&zwnj;بندی و  شهر، به عنوان اولین آگهی نمایش داده می&zwnj;شود.
                                <div style='zoom: 0.3;'>
                                <span class="clock"></span>
                                </div>
                              <script type="text/javascript" async>
                              document.addEventListener("DOMContentLoaded", function(){

                                time_diff = <%= ((@product.created_at + 48.hour) - Time.now).to_i.abs %>;

  var clock = $('.clock').FlipClock(time_diff, {
    clockFace: 'DailyCounter',
    countdown: true,
    language: 'fa',
    defaultLanguage: 'persian'
  });

      //....
});

                              </script>
                              <!-- ((Product.last.created_at + 2.day) - Product.last.created_at.day).ctime -->
                                </p>
                                </td>
                    </tr>
                    <tr>
                        <td class="centered">
       <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/fori">
                              پرداخت
                              </a>

                        </td>
                        <td>
                            <span id="urgent-icon"></span>ویژه
                        </td>
                        <td>۶,۰۰۰&nbsp;تومان</td>
                        <td class="payment-status">
                            <% unless @product.fori %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %>
                        </td>

                        <td class="payment-desc">
                        <p align="justify">آگهی شما به مدت ۳۰ روز با برچسب ویژه نشان داده می&zwnj;شود. این امکان علاوه بر ایجاد تمایز ظاهری و جلب توجه بیشتر برای آگهی شما، شرایط نمایش در دسته بندی ویژه را فراهم می&zwnj;سازد.</p>
                        </td>
                    </tr>
                    <tr>
                    <td class="centered">
                   <% if ((((@product.created_at + 48.hour) - Time.now) / 60) / 60).to_i.abs < 1 %>
                          <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/forivanardeban">
                              پرداخت
                              </a>

                              <% else %>
     <a class='btn btn-default' disabled='disabled'>
                              پرداخت
                              </a>

                              <% end %>
                    </td>
                    <td>
                    <span id="urgent-icon"></span>
                    <span id="reorder-icon"></span>ویژه و بروزرسانی</td><td>۶,۰۰۰&nbsp;تومان</td>
                    <td class="payment-status"><% unless @product.fori_nardeban %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %></td>
               
                    <td class="payment-desc">
                    <div id="cost_warn_urgent-reorder" class="cost-warn">
                    <p align="justify" class="field-warn">
                    ۴۸ ساعت پس از انتشار آگهی یا ویژه کردن این آگهی قابل پرداخت می باشد و همزمان با ویژه شدن آگهی به صدر لیست باز میگردد
                   
                    <div style='zoom: 0.3;'>
                                <span class="clock1"></span>
                                </div>
                              <script type="text/javascript" async>
                              document.addEventListener("DOMContentLoaded", function(){

                                time_diff = <%= ((@product.created_at + 48.hour) - Time.now).to_i.abs %>;

  var clock = $('.clock1').FlipClock(time_diff, {
    clockFace: 'DailyCounter',
    countdown: true,
    language: 'fa',
    defaultLanguage: 'persian'
  });

      //....
});

                              </script>
                    </p>
                    </div>
                   
                    </td>
                    </tr>
                    <tr>
                    <td class="centered">
                    <% if ((((@product.created_at + 600.hour) - Time.now) / 60) / 60).to_i.abs < 1 %>
                           <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/tamdid">
                              پرداخت
                              </a>

                              <% else %>
     <a class='btn btn-default' disabled='disabled'>
                              پرداخت
                              </a>
                              <% end %>

                    <td><span id="renew-icon"></span>تمدید</td>
                    <td>۱,۰۰۰&nbsp;تومان</td>
                    <td class="payment-status">
                        <% unless @product.tamdid %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %>
                        </td>
                    
                        <td class="payment-desc">
                            <div id="cost_warn_renew" class="cost-warn">
                            <p align="justify" class="field-warn"> ۲۵ روز بعد از انتشار آگهی این هزینه قابل پرداخت است</p>
                            </div>
                            <p align="justify">آگهی شما قبل از اینکه منقضی شود، تمدید می&zwnj;گردد و برای یک ماه دیگر روی پلازا باقی خواهد ماند.
                            
                            
                             <div style='zoom: 0.3;'>
                                <span class="clock2"></span>
                                </div>
                              <script type="text/javascript" async>
                              document.addEventListener("DOMContentLoaded", function(){

                                time_diff = <%= ((@product.created_at + 600.hour) - Time.now).to_i.abs %>;

  var clock = $('.clock2').FlipClock(time_diff, {
    clockFace: 'DailyCounter',
    countdown: true,
    language: 'fa',
    defaultLanguage: 'persian'
  });

      //....
});

                              </script>
                            </p>
                            </td>
                            </tr>
                            <tr>
                            <td class="centered">
                            <% if ((((@product.created_at + 600.hour) - Time.now) / 60) / 60).to_i.abs < 1 %>
                                   <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/tamdidvanardeban">
                              پرداخت
                              </a>

<% else %>
     <a class='btn btn-default' disabled='disabled'>
                              پرداخت
                              </a>
                              <% end %>

                            </td>
                            <td>
                                <span id="renew-icon"></span>
                                <span id="reorder-icon"></span>تمدید و بروزرسانی
                                </td>
                                <td>۵,۰۰۰&nbsp;تومان</td>
                                <td class="payment-status"><% unless @product.tamdid_nardeban %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %></td>

                                <td class="payment-desc">
                                <div id="cost_warn_renew-reorder" class="cost-warn">
                                <p align="justify" class="field-warn">
                                ۲۵ روز بعد از انتشار آگهی این هزینه قابل پرداخت است
                                </p>
                                </div>
                                <p align="justify">آگهی شما قبل از اینکه منقضی شود، تمدید می‌گردد، در صدر لیست همان دسته بندی قرار میگیرد.
                                

                                 <div style='zoom: 0.3;'>
                                <span class="clock3"></span>
                                </div>
                              <script type="text/javascript" async>
                              document.addEventListener("DOMContentLoaded", function(){

                                time_diff = <%= ((@product.created_at + 600.hour) - Time.now).to_i.abs %>;

  var clock = $('.clock3').FlipClock(time_diff, {
    clockFace: 'DailyCounter',
    countdown: true,
    language: 'fa',
    defaultLanguage: 'persian'
  });

      //....
});

                              </script>
                                </p>
                                </td>
                                </tr>


                                <tr>
                                <td class="centered">

                                
       <a class='btn btn-success' href="/upgrade_product/<%= @product.id %>/link_website">
                              پرداخت
                              </a>

                                </td>
                                <td>لینک وب&zwnj;سایت</td>
                                <td>۱۵,۰۰۰&nbsp;تومان</td>
                                <td class="payment-status"><% unless @product.paid_linkwebsite %><span class="">پرداخت نشده</span> <% else %><span class="" style="color:green;">پرداخت شده</span> <% end %></td>
                               
                                </td>
                    <td class="payment-desc"><p align="justify">شما می&zwnj;توانید لینک وب&zwnj;سایت کسب و کار خود را در قسمت ویرایش وارد کنید تا به صورت کلیک شدنی در کنار اطلاعات آگهی منتشر گردد.</p></td>
                    </tr>
                    </tbody>
                    
                    </table>
                    </div>


</div></div>
<% end %>
                    

<div class="post-content">		

		
	<!--details more-->
<div class="details_more box_single">
	<div class="title_block"><span>توضیحات تکمیلی</span></div>
<p>
<%= @product.detail %>
</p>   


<% @product.properties.each do |k,v| %>
    <p>
    <%= k  %>:<%= v %>
    </p>
<% end %>

</div>



<div class="clear"></div><!--Terms of Use-->
<div class="Terms_Use box_single">
		<div class="title_block"><span>شرایط استفاده</span></div>

		
		 <p>
			 		 </p>
		<div class="box_terms_use">
		
        <div class="item_terms_use">
<% if @product.user.exposition? %>
			<p><i class="fa fa-phone"></i>تلفن تماس: <span>
            
            <%= @product.user.static_phone %><%= @product.user.phone %>
            
            </span></p>
						<p><i class="fa fa-map-marker"></i>آدرس:
				<span>
                <%= @product.user.exposition_address %>
									</span></p>

                                    <% end %>

                                    <p>
                                    هشدار پلیس:

لطفا پیش از انجام معامله و هر نوع پرداخت وجه، از صحت کالا یا خدمات ارائه شده، به صورت حضوری اطمینان حاصل نمایید.
                                    </p>
		</div>
		<div class="img_item"><img src="
		https://pplaaza.com/takhfifat/wp-content/uploads/2017/05/avg-technologhies-logo-copy-150x150.png		" title="" alt=""></div>
	</div>
</div><div class="clear"></div>	<!--Property-->
	<div class="Property box_single">
		
<div class="clear"></div><!--address map-->
<div class="address_map box_single">
	<div class="title_block"><span>نقشه آدرس</span></div>
	<div class="box_map">
		<!--map-->
		<div id="map_sellers" style="width:100%;height:400px;"></div>
		<div class="label_map"><i class="fa fa-map-o"></i><span>مشاهده آدرس روی نقشه</span></div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtDbDJug28ZzgNzcUmX2DbF3-J3Dj4LS8"></script>
<script>
	function single_product_map() {
		var mapOptions_sellers = {
			center: new google.maps.LatLng(36.2604623,59.61675489999993),
			zoom: 15,
			mapTypeId: google.maps.MapTypeId.terrain,
			mapTypeControl: true,
			panControl: true,
			zoomControl: true,
			scaleControl: true,
			streetViewControl: false,
			overviewMapControl: true,
			rotateControl: false,
		};
		var map_sellers = new google.maps.Map(document.getElementById("map_sellers"), mapOptions_sellers);
		var marker_sellers = new google.maps.Marker({
			position: new google.maps.LatLng(36.2604623,59.61675489999993),
			map: map_sellers,
			title: 'مرتضی پیروی'
		});
	}
	single_product_map();

    $("#related_ads_button").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#related_ads").offset().top
    }, 2000);
});
</script>
<div class="clear"></div><!--related product -->
<div class="related_product box_single">
	<div class="title_block" id='related_ads'><span>آگهی های مرتبط</span></div>
							<!---->

                            <% Product.where(category_id: @product.category_id).each do |product| %>
                            <div class='col-xs-12 col-md-3'>
                             <%= render partial: 'partials/public/product',locals: {product: product} %>
                            </div>
				     


                <% end %>
			</div><div class="clear"></div>	<div class="question box_single">
		
        
        <% if @product.user.exposition == true %>
        <div class="title_block"><span> دیدگاها</span></div>
	</div>
	<!-- Comments -->
	<br>
<div class="clear"></div>
<div class="main_comment">
<!-- Comments -->
            <!-- If comments are open, but there are no comments. -->
    

<!-- Comments Replies -->
    <div id="respond">
        <!--<h3><span>نظر شما!!</span></h3>-->
        <div class="cancel-comment-reply">
            <a rel="nofollow" id="cancel-comment-reply-link" href="/takhfifat/product/%d8%a2%d8%b1%d8%a7%db%8c%d8%b4%da%af%d8%a7%d9%87-%da%a9%d8%a7%d9%85%d9%84%db%8c%d8%a7/#respond" style="display:none;">برای صرف‌نظر کردن از پاسخ‌گویی اینجا را کلیک کنید.</a>        </div>
                    <form action="https://pplaaza.com/takhfifat/wp-comments-post.php" method="post" id="commentform">
                                    <p>
                        <input placeholder="نام: (الزامی)" type="text" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />
                    </p>
                    <p>
                        <input placeholder="ایمیل: (الزامی)(منتشر نخواهد شد)" type="text" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />
                    </p>
                    <!--<p>
<label for="url">وب سایت</label>
<input type="text" name="url" id="url" value="" size="22" tabindex="3" />
</p>-->
                                <!--<p><small><strong>XHTML:</strong> You can use these tags: <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>-->
                <!-- in template -->
                                                        <div class="br-wrapper br-theme-css-stars">
                        <label>امتیاز به این محصول:</label>
                        <select id="example-css" name="rating" style="display: none;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <script src="https://pplaaza.com/takhfifat/wp-content/themes/takhfifat/js/jquery.barrating.js"></script>
                    <script type="text/javascript">
                        jQuery('#example-css').barrating({
                            theme: 'css-stars',
                            showSelectedRating: false
                        });
                    </script>
                                                <p>
                    <textarea placeholder="نظر شما..." name="comment" id="comment" cols="70" rows="10" tabindex="4"></textarea></p>
                                <p><input name="submit" type="submit" id="submit" tabindex="5" value="ارسال" />
                    <input type='hidden' name='comment_post_ID' value='107' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </p>

            </form>
            </div>
</div>

<% end %>
<div class="clear"></div>


</div>
                                                </div>
    </div>
</section>
<!--social &  Subscription-->

<div class="clear"></div>



























            </div>





<% if false %>
     <%= image_tag(@product.user.avatar_url,class: "responsive-img")  %>
<% if @product.user.exposition? %>
            <%= link_to(exposition_show_path(@product.user.identify)) do %>
                <%= @product.user.exposition_name %>
            <% end %>
            <% end %>
        </h5>
                         <% 
        default_rate=(@product.user.votes.sum(:vote).to_f / @product.user.votes.size.to_f) 
        default_rate=0 if default_rate.nan?
        default_rate=default_rate.round(1)
        %> 
        <span class="new badge green accent-4" data-badge-caption="<%= default_rate %>"></span>
 
        <% if current_user.nil? %>
        
     
        <span class="rating" disabled="disabled"  data-default-rating="<%= default_rate %>"></span>
        <% else %>
        <span class="rating" <%= 'disabled="disabled"' unless  current_user.voteing.find_by_exposition_id(@product.user.id).nil?  %> data-default-rating="<%=  default_rate %>" exposition_id='<%= @product.user.id %>'></span>
<% end %>

<% end %>



        </div>






         <%= render partial: 'partials/public/footer' %>
<% if @product.user.exposition? || true %>

<div id="bottom_div">
    <div>
    <i class="fa fa-comments"></i>
    ارسال پیام
    </div>
    <div>
    <i class="fa fa-plus"></i>
    <a class='exposition-follow' <% if current_user.nil? %> id='notalogin' <% end %> href="#myModalFollow" data-id='<%= @exposition.id %>' followed='<%= @exposition.followers.include? current_user %>'>
    دنبال کردن فروشگاه
    </a>
    </span>
    </div>
    <div>
    <i class="fa fa-heart"></i> 
    علاقه مندی
    </div>
</div>

<% end %>




<style>
#bottom_div{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 999999999999999999999999999999999999999909127105568;
}
#bottom_div div{
    width: 33.33%;
    padding: 10px;
    background-color: #3F51B5;
    float: right;
    color: white;
    font-size: 21px;

    font-size: 0.7rem;
}
#bottom_div div:hover{
    background-color: #424d88;
}

#bottom_div a{
    color:white;
}
</style>






<script>
$(document).ready(function(){
$('#closeModal').click(function(){
    $('#myModalFollow').hide()
})
})
</script>
<!-- Modal -->
  <div class="modal" id="myModalFollow" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id='closeModal' aria-hidden="true" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
خطای دسترسی
          </h4>
        </div>
        <div class="modal-body">
            <p>
            برای دسترسی به این بخش باید وارد حساب کاربری خود شوید در صورت نداشتن حساب کاربری ثبت نام نمایید
          </p>
        </div>
        <div class="modal-footer">
          <a href="/users/sign_in" class="btn btn-primary" data-dismiss="modal">ورود</a>
          <a href="/users/sign_in" class="btn btn-success">ثبت نام</a>
        </div>
      </div>
  </div>
  </div>

  <style>
  .modal{
  width:100% !important;
  }
  .product_nav *,.product_nav{
  text-align:right;
  direction:rtl;
  }

  .product_nav li{

float:right !important;
  }

  .product_nav li a:after{
content: '' !important;
background: none !important;
  }

  .tab-content{
float:right !important;
  }

.flip-clock-wrapper {
    width: initial !important;
    float: right !important;
    margin-top: 0 !important;
}
.flip-clock-label{
    display:none;
}
  </style>