   


























    <%= render partial: 'partials/public/fix_menu' %>

                
                
                <div class="clear"></div>
<!-- / Nav -->    <!--wrapper-->
    <section id="wrapper">
    <div class="container">
        <div class="row">
                        <ol class="breadcrumb"><a href="https://pplaaza.com/takhfifat">خانه</a> &#47; ثبت نام فروشگاه</ol>            <div class="post-content">
                                        
                    <!--title & discount & views-->
                    <div class="title_post">
                        <span class="like"><i class="fa fa-dashboard"></i></span>
                        <h1>
                        ثبت نام فروشگاه 
                        </h1>
                    </div>
                            <div class="woocommerce">



<div class="u-columns col2-set" id="customer_login">

	<div class="u-column1 col-1">



	</div>

	<div class="u-column2 col-2">

		<h2>عضویت</h2>




<%= form_for @user,url: public_home_save_exposition_path,html: {id: 'ExpositionRegisterForm',class: 'col s12 right-align'},method: :POST do |f| %>

    <% if @user.errors.full_messages.any? %>
      <% @user.errors.full_messages.each do |error_message| %>
      <div class="alert alert-info" role="alert">
      <%= error_message %>
      </div>
      <% end %>
    <% end %>


   <%= f.hidden_field :longitude,id: 'lng' %>
    <%= f.hidden_field :latitude,id: 'lat' %>
    
   <%= render 'partials/public/register_form',f: f %>

  <div class="actions">
    <%= f.submit "ثبت نام",class: 'woocommerce-Button button' %>
  </div>
<% end %>






			   
       


	</div>

</div>

</div>

                                            
            </div>

        </div>
    </div>
</section>
<!--social &  Subscription-->

</section>
<div class="clear"></div>























         <%= render partial: 'partials/public/footer' %>