
    <%= render partial: 'partials/public/fix_menu' %>

                <!-- Dropdown Structure -->


                <div class="nav-header de researcher ">



                    <h5>نتیجه جستجو</h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>








   <div class="inner">
              
            <div class="divider center-align product-divider"></div>
            <div class="row">
 <% unless @products.nil? %>
 <% @products.each do |product| %>
                   <div class="col-lg-4 col-md-4 col-sm-6">

      <%= render partial: 'partials/public/product',locals: {product: product} %>
      </div>
 <% end %>
  <% end %>
 <% unless @expositions.nil? %>

<% @expositions.each do |exposition| %>
                  <div class="col-lg-4 col-md-4 col-sm-6">

<%= render partial: 'partials/public/exposition',locals: {user: exposition} %>
</div>
     <% end %>    
          <% end %> 
            </div>
        </div>
        
        </div>



         <%= render partial: 'partials/public/footer' %>