
<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">
        
        
        
        
        
 <div class="row">


    <%= form_for @product ,url: action_block_admin_product_path,html: {class: 'col s12'},method: :POST do |f| %>
      <div class="row">

        <div class="input-field col s12">
          <%= f.text_area :blocked_message,class: 'validate', required: "required" %>
          <%= f.label :blocked_message, 'دلیل عدم تایید آگهی' ,:'data-error' => "wrong", 'data-success'=> "" %>
        </div>
        
      
      
      
     </div>
       
      <div class="row">
      
        <%= button_tag :type => 'submit', :class => "waves-effect waves-light btn" do %>
         <i class="material-icons left">cloud</i>ثبت
        <% end %>
    

      </div>
      
      
      
      
    <% end %>
  </div>
        
        
        
            
            
          
          
        </div>
      </div>
 </div>

</main>