

<%# content_for :head do %>
  
  
<%# end %>
<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">

        <table class='striped highlight bordered'>
            <thead>
              <tr>
                <th>زمان</th>
                  <th>ویرایش</th>
                 <th>
                  ویژه
                 </th>
                  <th>شاخه</th>
  <th>نام محصول</th>
              </tr>
            </thead>
    
            <tbody>
            <% @products.each do |product| %>
              <tr>
                <td>  
                <%= time_ago_in_words product.created_at %>
                </td>
                <td>
                  <%= link_to(raw('<i class="material-icons">delete_forever</i>'),delete_admin_product_path(product.id),class: 'small btn-floating waves-effect btn-small waves-light red', :data => {:confirm => t('alert.are_you_sure_delete')}) %>
                  
                  <%= link_to(raw("<i class='material-icons'>#{product.accept? ? 'lock_outline':'lock_open'}</i>"),toggle_lock_admin_product_path(product.id),class: 'small btn-floating waves-effect btn-small waves-light green') %>
                  <%= link_to(raw("<i class='material-icons'>cast</i>"),product_show_path(product.id),target: '_blank',class: 'small btn-floating waves-effect btn-small waves-light purple') %>

                  <%= link_to(raw("<i class='material-icons'>block</i>"),block_admin_product_path(product.id),target: '_blank',class: 'small btn-floating waves-effect btn-small waves-light purple') %>
               <%= link_to(raw("ویژه کردن آگهی"),vijeh_admin_seller_product_path(product.id),target: '_blank',class: 'small btn waves-effect btn-small waves-light purple') %>
                </td>
                <td>
                <% if product.fori %>
                    آگهی ویژه
                    <% else %>
                    آگهی ساده
                <% end %>
                </td>
                <td><%= Category.find(product.category_id).name %></td>
                <td><%= product.name %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
 </div>
</main>