

                        <div class="panel_box user_profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                         <div class="main_box">
                         
                          <div class="panel_content">
                           <div class="row">
<%= link_to exposition_show_path(user.identify),class: 'post-card-link' do %>
                             <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                              <div class="user_profile_info">
                               <div class="user_profile_base"> 
                               <h3> <%= link_to user.exposition_name,exposition_show_path(user.identify),class: 'card-title  gray-text' %></h3>
                              
                              <div class='row'>
                               <span><i class="pull-left fa fa-map-marker"></i><%= user.exposition_address %></span>
                                 <span><i class="pull-left fa fa-volume-control-phone"></i><%= user.static_phone %></span> 
                                 <span><i class="pull-left fa fa-calendar-check-o"></i><%= time_ago_in_words(user.created_at) %></span> 
</div>

                                 <div>
<%= user.exposition_detail %>
                                 </div>
                                 </div> <div class="user_profile_desc"> 
                                  </div>
                                   </div>
                                    </div>
                                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> 
                                     <div class="user_profile_picture">
                                      
                                               <% unless user.avatar_url.nil? %>
                            <%= image_tag user.avatar_url, alt: user.exposition_name %>
                            <% else %>
                            
                            <%= image_tag @setting.default_image_exposition_url, alt: user.exposition_name %>
                            <% end %>

                                      </div>
                                       </div>
                                        <% end %>
                                        </div> 
                                        </div> 
                                        </div> 
                                        </div>