
                  
            




<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <!--about us-->
            <div class="col-lg-4 col-md-4">
                <div class="about_us">
                    <span class="title_about_us"><img src="#" alt=""></span>
                    <p><h3 style='color:white;'>

                     نیازمندی های آنلاین 
                     <span style='color:orange;'>
                     پــــ
                     </span>
                     ـلازا
                    
                    </h3>
<p>
   
پلازا بستری برای نمایش انواع آگهی خرید و فروش بدون واسطه می باشد.
شما به آسانی و رایگان می توانید آگهی  با انواع موضوعات دسته بندی (نو و دسته دوم) ثبت کرده و  به راحتی در محضر نمایش هزاران نفر قرار دهید و پیشرفت کاری خود را افزایش دهید و یا اجناس مورد نیاز خودتون رو بدون واسطه خریداری کنید.
</p>
<p>&nbsp;</p></p>
                </div>
            </div>
            <!--Service-->
            <div class="col-lg-5 col-md-5 block_service">
                <div class="service"><span>صفحات مهم</span><div class="menu-%d8%b3%db%8c%d8%a7%d8%b3%d8%aa-%d8%b3%d8%a7%db%8c%d8%aa-container"><ul id="menu-%d8%b3%db%8c%d8%a7%d8%b3%d8%aa-%d8%b3%d8%a7%db%8c%d8%aa" class="menu">
                


                             <% unless current_user.nil? %>
   <li id="menu-item-186" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-186">
                      <%= link_to 'علاقه مندی ها',public_home_favorites_path,class:"grey-text text-lighten-3" %>
                  </li>
                  <li id="menu-item-186" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-186">
                      <%= link_to 'دنبال شدگان',public_home_following_path,class:"grey-text text-lighten-3" %>
                  </li>
           
                  
                   <li id="menu-item-186" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-186">
                      <%= link_to 'پیام ها',public_tickets_path ,class:"grey-text text-lighten-3"%>
                  </li>
                  <% end %>
                  


</ul></div></div>

<div class="service">
<span>صفحات</span>
<div class="menu-%d8%b4%d8%b1%da%a9%d8%aa-container">


<% Page.all.each_slice(4) do |items| %>
<ul id="menu-%d8%b4%d8%b1%da%a9%d8%aa" class="menu">
<% items.each do |page| %>
    <li id="menu-item-192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-192"><a href="/page/<%= page.permalink %>"><%= page.title %></a></li>
<% end %>
</ul>

<% end %>


</div></div>            </div>
            <!--map-->
            <div class="col-lg-3 col-md-3">
                <div class="map">
                <img id='jxlzesgtesgtwlaorgvjapfujxlz' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=1004351&p=rfthobpdobpdaodsxlaodshwrfth", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1004351&p=nbpdlymalymashwlqftiujynnbpd'/>				</div>
                <img src="https://trustseal.enamad.ir/logo.aspx?id=93101&p=1L5wa8uVMoM7yfjH" alt="" onclick="window.open('https://trustseal.enamad.ir/Verify.aspx?id=93101&amp;p=1L5wa8uVMoM7yfjH&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30')" style="cursor:pointer" id="1L5wa8uVMoM7yfjH">
          <img src="https://trustseal.enamad.ir/logo.aspx?id=93101&amp;p=1L5wa8uVMoM7yfjH" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=93101&amp;p=1L5wa8uVMoM7yfjH&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)" style="cursor:pointer" id="1L5wa8uVMoM7yfjH">
            </div>
        </div>
    </div>
</footer>

<!--copyright-->
<section id="copyright">
    <div class="container">
        <div class="row">
            <p>
            تمامی حقوق متعلق به شرکت پلازا می باشد
            </p>
            <span class="onliner"><a href="http://pishgaman.company" title="طراح">طراح و بهینه ساز</a></span>
        </div>
    </div>
</section>


<!-- /top-link-block -->
<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" style="background-color: ;"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;"><i class="fa fa-angle-up"></i></a>
</span><!-- /top-link-block -->

