

                             <!-- <a data-id='<% product.id %>'  liked=' current_user.favorites.exists?(product_id: product.id) %>' class="product-favorite btn-floating halfway-fab waves-effect waves-light    current_user.favorites.exists?(product_id: product)? 'blue':'red' %> left"><i class="material-icons">favorite</i></a> -->
                            
<div class="box_offer " style='    box-shadow: 12px 2px 3px 1px darkgrey;'>
<%= link_to product_show_path(id: product.id,title: "#{product.name}-#{product.address}") do %>
                
                                <% unless product.images[0].blank? %>
                     <%= image_tag product.images.first.url, alt: product.name,style: 'height: 260px;' %>
                     
                     <% else %>
<%= image_tag @setting.default_image_product_url, alt: product.name,style: 'height: 260px;' %>


                   
                      <% end %>
                      
                
                </a>
                <!-- Timeout -->
<% if product.fori %>
 <span class="Discount" style='right:0;left:inherit;-webkit-transform: scaleX(-1);
    transform: scaleX(-1);'>
    
    <b style='-webkit-transform: scaleX(-1);
    transform: scaleX(-1);    display: inline-flex;'>
                ویژه
                
                
                </b></span>
<% end %>


                <div class="time_out">


                <script>
                    jQuery(function() {
                        var endDate = "";
                        jQuery('.countdown12').countdown({
                            date: endDate,
                            render: function(data) {
                                if ( ! data.sec  ) { data.sec = 0 };
                                jQuery(this.el).html(
                                    '<li><span class="num">' + data.days +'</span><span class="text">  روز </span></li>'+
                                    '<li><span class="num">' + data.hours +'</span><span class="text"> ساعت </span></li>'+
                                    '<li><span class="num">' + data.min +'</span><span class="text"> دقیقه </span></li>'+
                                    '<li><span class="num">' + data.sec +'</span><span class="text"> ثانیه </span></li>'
                                );
                            }
                        });

                    });
                </script>					
                </div>
                <!-- Discount -->
                <% unless product.off_price.blank? %>
                <span class="Discount"><b>

                <% ((product.price.ctsd.to_i - product.off_price.ctsd.to_i) % product.price.ctsd.to_i * 100).to_s[0..1] rescue 0 %>
                حراجی
                </b>
                
                </span>
<% end %>
                <!-- Info -->
                <div class="Information btn-success" style="  <% if product.fori %>  background-color: #efc901;<% end %>">
                    <h2 class="ellipsis" style='font-size: 12px;'>
<%= link_to product.name , product_show_path(id: product.id),style: 'font-size: 12px;' %>
                    
                    <% if product.nardeban %>
                    <span><i class="fa fa-eye"></i></span>
                    <% end %>

                    </h2>
                    
                    
                    <span class="address"><i class="fa fa-map-marker"></i><%= product.address %></span>
                    <div class="price" style="direction: ltr;">
                        <span>قیمت اصلی: <b>
                         <% unless product.off_price.nil? || product.off_price.blank? %> 
                        <del style="direction: ltr;">
                                       <% end %>                


                                    تومان
<span style='direction:ltr;'>
                              <%= spaces_on product.price.to_s %>  
</span>
               
                         </del></b></span>
                            <% unless product.off_price.nil? || product.off_price.blank? %> 
                            
                         <b>

                        <span class="with_discount"> باتخفیف : <b style="direction: ltr;"> 
                        <%= product.off_price %>
                        تومان
                        
                        </b></span><b><% end %>
                    </b></b></div><b><b>
                </b></b></div><b><b>
            </b></b></div>

            <% end %>