                                                          <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :name,raw(" نام مدیر فروشگاه <span class='required'>*</span>")  %>
    <%= f.text_field :name, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>

                                                                              <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :exposition_name,raw(" نام فروشگاه <span class='required'>*</span>")  %>
    <%= f.text_field :exposition_name, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
                                
                                                         <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :exposition_detail,raw(" بیوگرافی فروشگاه <span class='required'>*</span>")  %>
    <%= f.text_field :exposition_detail, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
                                
                                 <%= f.select(:category_id, Category.where(parent_id: nil).collect {|cat|  [cat.name,cat.id]  },{prompt: 'شاخه را انتخاب کنید'},{required: 'required',class: 'browser-default'}) %>
                                    
                                  
                         
                            

                                           <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :exposition_address,raw(" آدرس فروشگاه <span class='required'>*</span>")  %>
    <%= f.text_field :exposition_address, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
<!-- $('.chips-placeholder').material_chip('data'); -->


                         <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :identify,raw(" نام کاربری (مثال: ali@) <span class='required'>*</span>")  %>
    <%= f.text_field :identify, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>

                                     <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :email,raw(" ایمیل <span class='required'>*</span>")  %>
    <%= f.text_field :email, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>

                                        <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :phone,raw(" شماره همراه <span class='required'>*</span>")  %>
    <%= f.text_field :phone, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>



                                
                                <% if action_name == 'register_exposition' %>
                                
          <div class='alert alert-info'>
          <p>
          رمزعبور باید شامل یک حرف بزرگ یک حرف کوچک و عدد باشد
          </p>
           </div>
          
                                                                                               <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :password,raw(" رمز عبور <span class='required'>*</span>")  %>
    <%= f.password_field :password, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
                                
                                
    

                                                    
                                                                                                <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :password_confirmation,raw(" تکرار رمز عبور <span class='required'>*</span>")  %>
    <%= f.password_field :password_confirmation, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
                                
                                <% end %>

                                <div class="row">
                                <div class="file-field input-field col s12">
                                    <div class="btn">
                                        <span>افزودن آواتار</span>
                                        
					<%= f.file_field :avatar %>
                                        
                                    </div>
                            
                                </div>
                                </div>

                                <div class="row">
                                    <div class="file-field input-field col s12">
                                        <div class="btn">
                                            <span>افزودن بکگراند</span>
                                            
					     <%= f.file_field :background_image %>                                        
</div>
                           
                                    </div>
                                </div>


     


                                                                                                <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :instagram_id,raw(" اکانت اینستاگرام (به طور مثال @example)")  %>
    <%= f.text_field :instagram_id, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>


                                                                                                <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :instagram_id,raw(" اکانت سروش (به طور مثال @example)")  %>
    <%= f.text_field :instagram_id, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>

                                                                                                  <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :instagram_id,raw(" اکانت واتس آپ (به طور مثال @example)")  %>
    <%= f.text_field :instagram_id, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>

                                                                                                    <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :instagram_id,raw(" اکانت ایتا (به طور مثال @example)")  %>
    <%= f.text_field :instagram_id, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>
                           <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
    <%= f.label :telegram,raw(" اکانت تلگرام (به طور مثال @example)")  %>
    <%= f.text_field :telegram, autofocus: true,class: 'input-text woocommerce-Input woocommerce-Input--text input-text' %>

  </p>


                                
                                 <% if action_name == 'register_exposition' %>
                                <div class="row">
                                    <div class=" col s12">

                                    
                                    
                                       <%= f.check_box :post_service,id: 'filled-in-box1',checked: 'checked',class: 'filled-in' %>
                                       <label for="filled-in-box1">فروشگاه شما قابلیت ارسال محصول دارد ؟</label>

                                    </div>
                                    </div>


                                <div class="row">
                                    <div class="col s12">

                                        
                                        <%= f.check_box :terms,class: "filled-in", id: "filled-in-box2", onchange: "document.getElementById('submit_tag').disabled = !this.checked;"  %>
                                        <label for="filled-in-box2">صفحه قوانین و مقررات را خوانده ام و شرایط را میپذیرم</label>

                                    </div>
                                </div>
                                
                                
                                <div class="row" style='    width: 100%;
    height: 500px;'>
<div id="map"  style="width:100%; height:100%;"></div>    
</div>


                                <% end %>
                                
                                
                                 <% content_for :head do %>
              <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        
        
        
          google.maps.event.addListener(map, 'click', function(event) {                
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        
      
        
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                draggable: true //make it draggable
            });
            
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
            
            
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
    });
    
    
        
         infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
            marker.setPosition(pos);
            
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      



function markerLocation(){
    //Get location.
    var currentLocation = marker.getPosition();
    //Add lat and lng values to a field that we can save.
    document.getElementById('lat').value = currentLocation.lat(); //latitude
    document.getElementById('lng').value = currentLocation.lng(); //longitude
  
}
  


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      
      
      }
    </script>
                                               <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSn--jTCMyOzCWXwzca5G-0wz7tzo5Qp8&callback=initMap&language=fa&region=IR">
    </script>
 
                                <% end %>