 <%= render partial: 'partials/public/fix_menu' %>

                
                
                


             <div class="nav-header de researcher ">



                    <h5>فراموشی پسورد</h5>



                    </div>


   </div>








        </nav>






        <div class="inner">
            <div class="row">


                <div class="col s12 m6 offset-m3 left container right-align">
                    <div class="card-panel right-align ExpositionRegisterCard">



<%= form_tag(reset_password_path) do %>
  

  <div class="field">
    <lable>موبایل</lable>
    <br />
    <%= text_field_tag :phone %>
  </div>

  <div class="actions">
    <%= submit_tag "ارسال",class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>
</div>
</div>
</div>

    
         <%= render partial: 'partials/public/footer' %>