

<%# content_for :head do %>
  
  
<%# end %>
<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">

        <table class='striped highlight bordered'>
            <thead>
              <tr>
                  <th>ویرایش</th>
                 
                  <th>شاخه</th>
                  <th>تاریخ ثبت</th>
  <th>نام محصول</th>
              </tr>
            </thead>
    
            <tbody>
            <% @products.each do |product| %>
              <tr>
                <td>
                  <%= link_to(raw('<i class="material-icons">delete_forever</i>'),delete_admin_seller_product_path(product.id),class: 'small btn-floating waves-effect btn-small waves-light red', :data => {:confirm => t('alert.are_you_sure_delete')}) %>
                  <%= link_to(raw('<i class="material-icons">mode_edit</i>'),edit_admin_seller_product_path(product.id),class: 'small btn-floating waves-effect btn-small waves-light blue') %>
                  
                  <%= link_to(raw("<i class='material-icons'>#{product.accept? ? 'lock_outline':'lock_open'}</i>"),toggle_lock_admin_product_path(product.id),class: 'small btn-floating waves-effect btn-small waves-light green') if current_user.level==3 %>
                  
                  <%= link_to(raw("<i class='material-icons'>cast</i>"),product_show_path(product.id),target: '_blank',class: 'small btn-floating waves-effect btn-small waves-light purple') %>

<% if product.fori == false %>
                                    <%= link_to(raw("ویژه کردن آگهی"),vijeh_admin_seller_product_path(product.id),target: '_blank',class: 'small btn waves-effect btn-small waves-light purple') %>
<% end %>
                </td>
                <td><%= Category.find(product.category_id).name %></td>
                <td><%= time_ago_in_words product.created_at %></td>
                <td><%= product.name %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
 </div>
 <%= link_to(raw('<i class="material-icons">add</i>'),new_admin_seller_product_path,class: 'btn-floating btn-large waves-effect waves-light red',style: 'position:fixed;bottom: 20px; left: 24px;') %>
</main>