/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .input-field label:not(.label-icon).active {
    transform: translateY(-9px) scale(1);
    transform-origin: 0 0;
}



.ui.fluid.card {
    width: 100%;
    max-width: 9999px;
}
.ui.card {
    margin: 1em 0;
}
.ui.card, .ui.cards>.card {
    max-width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s ease,transform .1s ease;
    z-index: "";
}
@media (min-width: 1221px){
    .browse .filter-box, .browse .filter-option-container, .browse .keyword-info-container, .browse .loader, .browse .option-box, .browse .post-card-detailed, .browse .ui.message {
        max-width: 976px!important;
    }
}

@media (min-width: 687px){
    .browse .filter-box, .browse .filter-option-container, .browse .keyword-info-container, .browse .loader, .browse .option-box, .browse .post-card-detailed, .browse .ui.message {
        max-width: 646px!important;
    }
}

.post-card-detailed {
    height: 210px!important;
    margin-bottom: 20px!important;
    border: 1px solid rgba(34,36,38,.15)!important;
}
.post-card, .post-card-detailed {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    direction: rtl;
}

.ui.card>:only-child, .ui.cards>.card>:only-child {
    border-radius: 3px!important;
}

.post-card-detailed .image-column {
    width: 210px!important;
    height: 210px!important;
    padding: 5px!important;
    margin: 0!important;
}


.post-card-detailed .no-picture-thumbnail-image {
    background-image: url(https://s100.divarcdn.com/statics/2018/5/no-picture-thumbnail.png);
    width: 200px;
    height: 200px;
    border-radius: 3px!important;
    background-size: contain;
}

.post-card-detailed .content-column {
    width: 100%;
    height: 210px!important;
    position: absolute;
    padding: 5px 220px 5px 15px!important;
    margin: 0!important;
    top: 0!important;
    right: 0!important;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
}

.post-card-detailed p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-detailed .details {
    font-size: 12px!important;
    position: absolute;
    bottom: 5px!important;
    right: 220px;
    left: 70px;
}

.ui.card .meta, .ui.cards>.card .meta {
    font-size: 1em;
    color: rgba(0,0,0,.4);
}

.post-card-detailed .meta {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.ui.card:after, .ui.cards:after {
    display: block;
    content: " ";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}