<header>
<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
              <ul class="align left">
                  <li>
                      <a class="page-title" id='help'>راهنما</a>
                  </li>
              </ul>
            <ul class="align right">
                  <li>
                      <a class="user_name">
                          بازاریاب 
                          <%= current_user.name %>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
      </nav>
    
    <ul id="nav-mobile" class="side-nav fixed text-right" style="background-color:#2c3e50 !important;">
        
        <li class="logo align center">
     
        </li>

        <li style="text-align:center !important;">
           <%= image_tag 'https://secure.gravatar.com/avatar/ddd?s=180' %>
        </li>
        
     <li class="bold">
          <span class="new badge green left"><%= current_user.marketer_tasks.size %></span>
         <%= link_to 'لیست کارها',admin_dashboard_marketer_tasks_path,class: 'waves-effect waves-teal' %>
        </li>
    
        <li class="bold">
         <%= link_to 'فروشگاه ها',admin_sellers_path,class: 'waves-effect waves-teal' %>
        </li>
           <% if Product.where(accept: false).length >= 1 %>
         <li class="bold">
                     <span class="new badge green left"><%= Product.where(accept: false).length %></span>
        <%= link_to 'محصولات تایید نشده',admin_products_path(unaccept: true),class: 'waves-effect waves-teal' %>

        </li>
        <% end %>
        

     <% if Product.where(accept: false).where(fori: true).length >= 1 %>
         <li class="bold">
                     <span class="new badge green left"><%= Product.where(accept: false).where(fori: true).length %></span>
        <%= link_to 'آگهی های ویژه تایید نشده',admin_products_path(unaccept: true,vijeh: true),class: 'waves-effect waves-teal' %>

        </li>
        <% end %>
            
           <li class="bold">
            <%= link_to 'رمزعبور',admin_dashboard_password_path,class: 'waves-effect waves-teal' %>
             
</li>
        <li class="bold">

          <%= link_to 'خروج' ,destroy_user_session_path,class: "waves-effect waves-teal", :method => :delete %>
          </li>
            
       
      </ul>
   </header>