<header>
<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
              
              <ul class="align left">
                  <li>
                      <a class="page-title" id='help'>راهنما</a>
                  </li>
                        <li>
                  <%= link_to 'خروج' ,destroy_user_session_path,class: "page-title", :method => :delete %>
                  </li>
              </ul>
              
 
  </div>

              
            <ul class="align right">
                  <li>
                      <a class="user_name">
                           
                       <%= current_user.name %>   خوش امدید 
                      </a>
                  </li>
              </ul>
          
          </div>
        </div>
      </nav>
    
    <ul id="nav-mobile" class="side-nav fixed text-right" style="background-color:#2c3e50 !important;">
        
        <li class="logo align center">
            <a id="logo-container"  style="text-align:center !important;" href="<%= exposition_show_url(current_user.id) %>" target='_blank' class="brand-logo">
            فروشگاه <%= current_user.exposition_name %>
            </a>
        </li>

        <li style="text-align:center !important;">
            <%= image_tag 'https://secure.gravatar.com/avatar/ddd?s=180' %>
        </li>
    
        <li class="bold"><a href="/admin/dashboard/index" class="waves-effect waves-teal">
            پیشخوان
            </a></li>
            
        <% if current_user.exposition_accept? %>
        
        <li class="bold">
            <%= link_to 'محصولات',admin_seller_products_path,class: 'waves-effect waves-teal' %>
             

        </li>
        

        <li class="bold">
            <%= link_to 'فروش فایل',admin_seller_files_path,class: 'waves-effect waves-teal' %>
             

        </li>



           <li class="bold">
            <%= link_to 'ارسال گروهی',admin_dashboard_ads_path,class: 'waves-effect waves-teal' %>
             

        </li>
        
              
        <li class="bold">
            <%= link_to 'شعبات',admin_seller_chains_path,class: 'waves-effect waves-teal' %>
             

        </li>
        
                      
        <li class="bold">
            <%= link_to 'درخواست ها',requests_admin_seller_chain_path(current_user),class: 'waves-effect waves-teal' %>
             

        </li>
        
        
        
        
               </li>
        
           <li class="bold">
            <%= link_to 'رمزعبور',admin_dashboard_password_path,class: 'waves-effect waves-teal' %>
             

        </li>
        
        
        <li class="bold">
            <span class="new badge green left"><%= Comment.where(accept: false).where(product_id: current_user.products.ids).length %></span>
            <%= link_to 'نظرات',admin_comments_path,class: 'waves-effect waves-teal' %>
        </li>
        
      
        <li class="bold">
            <span class="new badge green left">
                <%= Ticketmessage.where(ticket_id: Ticket.where('user_id = ? OR user_two = ?',current_user.id,current_user.id).ids).where(seen: false).length %></span>
       <%= link_to 'پیام ها',public_tickets_path,class: 'waves-effect waves-teal' %>
  </li>
  
  <% end %>
  
  
        
        <li class="bold">
            <a href="/admin/dashboard/profile" class="waves-effect waves-teal">
پروفایل
        </a>
        </li>
        
          
              <li class="bold">
            <a href="/admin/dashboard/plans" class="waves-effect waves-teal">
پلن ها
        </a>
        </li> 
             
                    <li class="bold">
            <a href="/admin/dashboard/packs" class="waves-effect waves-teal">
پک ها
        </a>
        </li> 

           
      </ul>





   </header>
