<header>
<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
              
              <ul class="align left">
                  <li>
                      <%= link_to 'خروج' ,destroy_user_session_path,class: "page-title", :method => :delete %>
                  </li>
              </ul>
              
               <div class="switch align left white-text">
    <label class='white-text'>
      
      <input type="checkbox" id='development'>
      <span class="lever"></span>
      توسعه
    </label>
  </div>

              
            <ul class="align right">
                  <li>
                      <a class="user_name">
                           
                          <%= current_user.name %> خوش امدید
                      </a>
                  </li>
              </ul>
          
          </div>
        </div>
      </nav>
    
    <ul id="nav-mobile" class="side-nav fixed text-right" style="background-color:#2c3e50 !important;">
        
        <li class="logo align center">
            <a id="logo-container"  style="text-align:center !important;" href="http://materializecss.com/" class="brand-logo">
            
            </a>
        </li>

        <li style="text-align:center !important;">
           <%= gravatar_for current_user %>
        </li>
    
        <li class="bold"><a href="/admin/dashboard/index" class="waves-effect waves-teal">
            پیشخوان
            </a></li>
            
        <li class="bold">
        <%= link_to 'محصولات',admin_products_path,class: 'waves-effect waves-teal' %>
        </li>
        
        <% if Product.where(accept: false).length >= 1 %>
         <li class="bold">
                     <span class="new badge green left"><%= Product.where(accept: false).length %></span>
        <%= link_to 'محصولات تایید نشده',admin_products_path(unaccept: true),class: 'waves-effect waves-teal' %>

        </li>
        <% end %>
        

     <% if Product.where(accept: false).where(fori: true).length >= 1 %>
         <li class="bold">
                     <span class="new badge green left"><%= Product.where(accept: false).where(fori: true).length %></span>
        <%= link_to 'آگهی های ویژه تایید نشده',admin_products_path(unaccept: true,vijeh: true),class: 'waves-effect waves-teal' %>

        </li>
        <% end %>


           <li class="bold">
                 <%= link_to 'دسته بندی ها',admin_categories_path,class: 'waves-effect waves-teal' %>
               </li>
               
                      <li class="bold">
         <%= link_to 'فرم ها',admin_forms_path,class: 'waves-effect waves-teal' %>

      </li>
 
        <li class="bold">
         <%= link_to 'فروشگاه ها',admin_sellers_path,class: 'waves-effect waves-teal' %>
        </li>
        
        <% if User.sellers.where(exposition_accept: false).length >= 1 %>
            <li class="bold">
                <span class="new badge green left"><%= User.sellers.where(exposition_accept: false).length %></span>
             <%= link_to 'فروشگاه های تایید نشده',admin_sellers_path(unaccept: true),class: 'waves-effect waves-teal' %>
            </li>
        <% end %>
        
            
        <li class="bold">
            <%= link_to 'بازاریاب ها',admin_marketers_path,class: 'waves-effect waves-teal' %>
        </li>
        
        <li class="bold">
         <%= link_to 'تراکنش ها',admin_dashboard_transaction_path,class: 'waves-effect waves-teal' %>

      </li>
      
      
          <li class="bold">
               <%= link_to 'پیام کوتاه',admin_dashboard_sms_service_path,class: 'waves-effect waves-teal' %>
            </li>
        <li class="bold">
            <%= link_to 'صفحات',admin_pages_path,class: 'waves-effect waves-teal' %>
        </li>
            
            

            
               
                      
        <li class="bold">
            <%= link_to 'نظرات',admin_comments_path,class: 'waves-effect waves-teal' %>
        </li>
        

    <li class="bold">
                 <%= link_to 'تنظیمات',admin_dashboard_setting_path,class: 'waves-effect waves-teal' %>
    </li>
    
      
      <li class="bold">
          
          <%= link_to 'خروج' ,destroy_user_session_path,class: "waves-effect waves-teal", :method => :delete %>
     
        
        </li>
        
        
      </ul>





   </header>